@import url('typography.css');

body{
	background-color:#000000;
}

div.jmbxcieg{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.llpmcswv{

}

span.hogicpivjmes{
	display: inline-block;
	padding:7px;
	background: #E8EFF7;
	border: 1px solid #E9E9E9;
	border-radius:0 0 18px 18px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.fjtkezbi{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.hogicpivjmes:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.hogicpivjmes a:hover{
	box-shadow: 0 0 10px #555;
}


div.rldjmbszzs{
	text-align:center;
	padding:10px;
}

div.uinxrcgte{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.dsgswdihr h1{
	margin:0px;
}

div.lphfzvxbznht{
	text-align:left;
}

div.uodqfontxkte{	
	margin-bottom:30px;	
}

span.xfjxetiwaq{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.xfjxetiwaq{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.pquvlsnwqn{
	text-align:center;
}

img{
	border-radius:0 0 18px 18px;
	-webkit-border-radius:0 0 18px 18px; 
	-moz-border-radius:0 0 18px 18px; 
	-khtml-border-radius:0 0 18px 18px;
}

div.mtsqfvoezou{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.hwoacqqmwsf{
	background-color:#ff008e;
	border-radius:0 0 18px 18px;
	-webkit-border-radius:0 0 18px 18px;
	-moz-border-radius:0 0 18px 18px;
	-khtml-border-radius:0 0 18px 18px;
	box-shadow:2px 0px 4px 5px #b300ff;
	-moz-box-shadow:2px 0px 4px 5px #b300ff;
    -webkit-box-shadow:2px 0px 4px 5px #b300ff;
	border: 0px #ff1c00 dotted;
	padding:10px;	
}

span.hwoacqqmwsf{
	background-color:#cccccc;
	border-radius:0 0 18px 18px;
	-webkit-border-radius:0 0 18px 18px;
	-moz-border-radius:0 0 18px 18px;
	-khtml-border-radius:0 0 18px 18px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.ptbsswiqeqtd{
	background-color:#ff001c;
	border-radius:0 0 18px 18px; 
	-webkit-border-radius:0 0 18px 18px; 
	-moz-border-radius:0 0 18px 18px; 
	-khtml-border-radius:0 0 18px 18px;
	box-shadow:2px 0px 4px 5px #ff00f4;
	-moz-box-shadow:2px 0px 4px 5px #ff00f4;
    -webkit-box-shadow:2px 0px 4px 5px #ff00f4;	
	border: 0px #ff4600 dotted;	
}

div.dpzraoncjv{
	background-color:#ff2000;
	border-radius:0 0 18px 18px; 
	-webkit-border-radius:0 0 18px 18px; 
	-moz-border-radius:0 0 18px 18px; 
	-khtml-border-radius:0 0 18px 18px;
	box-shadow:2px 0px 4px 5px #b300ff;
	-moz-box-shadow:2px 0px 4px 5px #b300ff;
    -webkit-box-shadow:2px 0px 4px 5px #b300ff;
	border: 0px #000000 dotted;	
}

div.tsdqdfskfkg{
	background-color:#15ff00;
	border-radius:0 0 18px 18px; 
	-webkit-border-radius:0 0 18px 18px; 
	-moz-border-radius:0 0 18px 18px; 
	-khtml-border-radius:0 0 18px 18px;
	box-shadow:2px 0px 4px 5px #00eeff;
	-moz-box-shadow:2px 0px 4px 5px #00eeff;
    -webkit-box-shadow:2px 0px 4px 5px #00eeff;	
	border: 0px #b7ff00 dotted;	
}

div.llazuwras{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.nefwettdwrge{
	margin:15px;
	padding:10px;
}


table.fgbagrlida td{
	vertical-align:top;
}


div.orgnmguxhs{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.csjhhwbrzse{
	margin-bottom:15px;
	font-size:80%;
}


img.igmbwhknt{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.uonexsiw{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.wsciruuvwev{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.dwjchrccwl{
	margin:7px;
	border-radius:0 0 18px 18px; 
	-webkit-border-radius:0 0 18px 18px; 
	-moz-border-radius:0 0 18px 18px; 
	-khtml-border-radius:0 0 18px 18px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.fuxsxodmw{
	padding:10px;
	margin-bottom:30px;
}


div.sjrzsozc{
	clear:both;
}


div.uexwickvvcb{
	margin-bottom:10px;
}


div.dsgswdihr{
	margin:15px;
	text-align:left;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.nbwrdhgiwp{
	margin-bottom:15px;
}


div.bmkdzemc{
	margin:auto;
	width:420px;
}

div.rfohelkjkne{
	text-align:center;	
}

div.ogvvkavw{
	text-align:right;
	font-weight:bold;
	font-size:125%;
}

div.rcunmeqr{
	text-align:center;
}


td.aakrbbwfh{
	vertical-align:top;
}

div.vhdwnvrip{
	width:950px;
	padding:20px;
}

div.guicxxkz{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.rbqusaml{
	text-align:left;
}