h1{
	font-size:125%;
}
div.miapemab{
	font-weight:bold;
}
a.ujfqrociw{
	font-size:140%;
}

div.dsgswdihr a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:15px;	
	font-family:Book Antiqua;
}

a{
	color:#000000;	
}

span.jevwbhhlum h1{
	color:#ffffff;
}

div.guicxxkz{
	color:#ffffff;
}

div.rfohelkjkne{
	color:#ffffff;
}

div.rfohelkjkne a{
	color:#ffffff;
}

a.rrwuqgjasqa{
	text-decoration:none;
	font-size:115%;
}

li.wmontugb a{
	text-decoration:none;	
}

li.wmontugb{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.fuaovliw{		
	list-style-type:square;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.vgvnhrdhl{
	font-size:125%;
}


div.hwoacqqmwsf{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.hwoacqqmwsf a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.ptbsswiqeqtd{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.ptbsswiqeqtd a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.dpzraoncjv{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.dpzraoncjv a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.tsdqdfskfkg{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.tsdqdfskfkg a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.dwjchrccwl{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.dwjchrccwl a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.iqovkcjuvwap{
	font-size:75%;	
}

div.rbqusaml{	
	font-size:75%;		
}