@import url('typography.css');

body{
	background-color:#888888;
}

div.nchgsbnfvbg{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.kuuvombzvv{

}

span.mkblgvxuv{
	display: inline-block;
	padding:7px;
	background: #F3F8FC;
	border: 1px solid #E9E9E9;
	border-radius:28px 28px 0 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.peebuwso{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.mkblgvxuv:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.mkblgvxuv a:hover{
	box-shadow: 0 0 10px #555;
}


div.zligpvjkqvj{
	text-align:center;
	padding:10px;
}

div.lxifwbxugtew{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.wtktcsjcep h1{
	margin:0px;
}

div.trpfpngbwf{
	text-align:left;
}

div.grtkocnpfbp{	
	margin-bottom:30px;	
}

span.xwievpuhuhke{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.xwievpuhuhke{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.xcnzvkievhgf{
	text-align:center;
}

img{
	border-radius:28px 28px 0 0;
	-webkit-border-radius:28px 28px 0 0; 
	-moz-border-radius:28px 28px 0 0; 
	-khtml-border-radius:28px 28px 0 0;
}

div.fjicchgnm{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.elhiwezd{
	background-color:#00ff1a;
	border-radius:28px 28px 0 0;
	-webkit-border-radius:28px 28px 0 0;
	-moz-border-radius:28px 28px 0 0;
	-khtml-border-radius:28px 28px 0 0;
	box-shadow:1px 6px 3px 6px #00fff7;
	-moz-box-shadow:1px 6px 3px 6px #00fff7;
    -webkit-box-shadow:1px 6px 3px 6px #00fff7;
	border: 1px #62ff00 solid;
	padding:10px;	
}

span.elhiwezd{
	background-color:#cccccc;
	border-radius:28px 28px 0 0;
	-webkit-border-radius:28px 28px 0 0;
	-moz-border-radius:28px 28px 0 0;
	-khtml-border-radius:28px 28px 0 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.qodtbmjwks{
	background-color:#00ffc4;
	border-radius:28px 28px 0 0; 
	-webkit-border-radius:28px 28px 0 0; 
	-moz-border-radius:28px 28px 0 0; 
	-khtml-border-radius:28px 28px 0 0;
	box-shadow:1px 6px 3px 6px #0093ff;
	-moz-box-shadow:1px 6px 3px 6px #0093ff;
    -webkit-box-shadow:1px 6px 3px 6px #0093ff;	
	border: 1px #0dff00 solid;	
}

div.sxtnimncmm{
	background-color:#00b5ff;
	border-radius:28px 28px 0 0; 
	-webkit-border-radius:28px 28px 0 0; 
	-moz-border-radius:28px 28px 0 0; 
	-khtml-border-radius:28px 28px 0 0;
	box-shadow:1px 6px 3px 6px #00fff7;
	-moz-box-shadow:1px 6px 3px 6px #00fff7;
    -webkit-box-shadow:1px 6px 3px 6px #00fff7;
	border: 1px #62ff00 solid;	
}

div.hkrqtummmx{
	background-color:#ff3100;
	border-radius:28px 28px 0 0; 
	-webkit-border-radius:28px 28px 0 0; 
	-moz-border-radius:28px 28px 0 0; 
	-khtml-border-radius:28px 28px 0 0;
	box-shadow:1px 6px 3px 6px #ff0011;
	-moz-box-shadow:1px 6px 3px 6px #ff0011;
    -webkit-box-shadow:1px 6px 3px 6px #ff0011;	
	border: 1px #ff6800 solid;	
}

div.xdlslvpiacc{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.dbfguhpujwmh{
	margin:15px;
	padding:10px;
}


table.nqdvffecnzsg td{
	vertical-align:top;
}


div.dpfbjflwwkx{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.omdxmhasieah{
	margin-bottom:15px;
	font-size:80%;
}


img.zfhkcwunhg{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.nwpfoxwvln{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.hhqzgxpdtmf{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.lrvnjuie{
	margin:7px;
	border-radius:28px 28px 0 0; 
	-webkit-border-radius:28px 28px 0 0; 
	-moz-border-radius:28px 28px 0 0; 
	-khtml-border-radius:28px 28px 0 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.nbqwbvvd{
	padding:10px;
	margin-bottom:30px;
}


div.zgaajwdj{
	clear:both;
}


div.cpkuzwwwz{
	margin-bottom:10px;
}


div.wtktcsjcep{
	margin:15px;
	text-align:right;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.wtzgknoxl{
	margin-bottom:15px;
}


div.pvuuqeqm{
	margin:auto;
	width:420px;
}

div.lrnzuftsvx{
	text-align:center;	
}

div.hpzortejih{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.sgxgzxqczfc{
	text-align:center;
}


td.brkxbhcvimhx{
	vertical-align:top;
}

div.fpvpacvtujq{
	width:950px;
	padding:20px;
}

div.anlvsezzhj{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.ttsqpoirhr{
	text-align:left;
}