h1{
	font-size:125%;
}
div.ieofvdeewmat{
	font-weight:bold;
}
a.bboxgtsxwct{
	font-size:140%;
}

div.wtktcsjcep a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:14px;	
	font-family:Trebuchet MS;
}

a{
	color:#000000;	
}

span.fmuifwkse h1{
	color:#ffffff;
}

div.anlvsezzhj{
	color:#ffffff;
}

div.lrnzuftsvx{
	color:#ffffff;
}

div.lrnzuftsvx a{
	color:#ffffff;
}

a.tsxljwuxjtri{
	text-decoration:none;
	font-size:115%;
}

li.txdkfhhdv a{
	text-decoration:none;	
}

li.txdkfhhdv{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.ipwndkzng{		
	list-style-type:square;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.lbpwwmrjsrl{
	font-size:125%;
}


div.elhiwezd{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.elhiwezd a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.qodtbmjwks{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.qodtbmjwks a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.sxtnimncmm{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.sxtnimncmm a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.hkrqtummmx{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.hkrqtummmx a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.lrvnjuie{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.lrvnjuie a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.lwimkdjwgp{
	font-size:75%;	
}

div.ttsqpoirhr{	
	font-size:75%;		
}