@import url('typography.css');

body{
	background-color:#555555;
}

div.swzffgwb{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.xogchowl{

}

span.uovasilo{
	display: inline-block;
	padding:5px;
	background: #F0F0F0;
	border: 1px solid #E9E9E9;
	border-radius:0 0 0 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.wbfdfxubz{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.uovasilo:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.uovasilo a:hover{
	box-shadow: 0 0 10px #555;
}


div.qofnpqpgzsd{
	text-align:center;
	padding:10px;
}

div.sumrcjsh{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.jkqqgrwzacwj h1{
	margin:0px;
}

div.uuqoigct{
	text-align:center;
}

div.opsvknwlarf{	
	margin-bottom:30px;	
}

span.ckfnxowpc{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.ckfnxowpc{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.oswbjldorv{
	text-align:center;
}

img{
	border-radius:0 0 0 0;
	-webkit-border-radius:0 0 0 0; 
	-moz-border-radius:0 0 0 0; 
	-khtml-border-radius:0 0 0 0;
}

div.wmnaigopuwql{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.bssnomdaxa{
	background-color:#ff8c00;
	border-radius:0 0 0 0;
	-webkit-border-radius:0 0 0 0;
	-moz-border-radius:0 0 0 0;
	-khtml-border-radius:0 0 0 0;
	box-shadow:4px 2px 1px 5px #ff4f00;
	-moz-box-shadow:4px 2px 1px 5px #ff4f00;
    -webkit-box-shadow:4px 2px 1px 5px #ff4f00;
	border: 6px #ffca00 dashed;
	padding:10px;	
}

span.bssnomdaxa{
	background-color:#cccccc;
	border-radius:0 0 0 0;
	-webkit-border-radius:0 0 0 0;
	-moz-border-radius:0 0 0 0;
	-khtml-border-radius:0 0 0 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.waxxklfendpm{
	background-color:#ffb700;
	border-radius:0 0 0 0; 
	-webkit-border-radius:0 0 0 0; 
	-moz-border-radius:0 0 0 0; 
	-khtml-border-radius:0 0 0 0;
	box-shadow:4px 2px 1px 5px #ff7900;
	-moz-box-shadow:4px 2px 1px 5px #ff7900;
    -webkit-box-shadow:4px 2px 1px 5px #ff7900;	
	border: 6px #fff400 dashed;	
}

div.nbbhohqcui{
	background-color:#ffe100;
	border-radius:0 0 0 0; 
	-webkit-border-radius:0 0 0 0; 
	-moz-border-radius:0 0 0 0; 
	-khtml-border-radius:0 0 0 0;
	box-shadow:4px 2px 1px 5px #ff4f00;
	-moz-box-shadow:4px 2px 1px 5px #ff4f00;
    -webkit-box-shadow:4px 2px 1px 5px #ff4f00;
	border: 6px #ffca00 dashed;	
}

div.wdtbxcswa{
	background-color:#2f00ff;
	border-radius:0 0 0 0; 
	-webkit-border-radius:0 0 0 0; 
	-moz-border-radius:0 0 0 0; 
	-khtml-border-radius:0 0 0 0;
	box-shadow:4px 2px 1px 5px #aa00ff;
	-moz-box-shadow:4px 2px 1px 5px #aa00ff;
    -webkit-box-shadow:4px 2px 1px 5px #aa00ff;	
	border: 6px #0066ff dashed;	
}

div.toqdahoqaw{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.qwkdbisa{
	margin:15px;
	padding:10px;
}


table.hwopkwdetr td{
	vertical-align:top;
}


div.azbgqdhwbw{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.aqeqjltr{
	margin-bottom:15px;
	font-size:80%;
}


img.wqjqwkntc{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.iniplfbr{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.sibfjnus{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.rnmwfiscdubu{
	margin:7px;
	border-radius:0 0 0 0; 
	-webkit-border-radius:0 0 0 0; 
	-moz-border-radius:0 0 0 0; 
	-khtml-border-radius:0 0 0 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.awumosojpwvl{
	padding:10px;
	margin-bottom:30px;
}


div.ebhurzusezl{
	clear:both;
}


div.wwgomdpegm{
	margin-bottom:10px;
}


div.jkqqgrwzacwj{
	margin:15px;
	text-align:left;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.wwhnwojmoa{
	margin-bottom:15px;
}


div.xeniugtk{
	margin:auto;
	width:420px;
}

div.xwdfruxetn{
	text-align:center;	
}

div.mrwjonbgjx{
	text-align:right;
	font-weight:bold;
	font-size:125%;
}

div.okxgbqefens{
	text-align:center;
}


td.safzaqrrwhtt{
	vertical-align:top;
}

div.mnlndpjjuave{
	width:950px;
	padding:20px;
}

div.loijwrrtc{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.nwzstzgn{
	text-align:center;
}