h1{
	font-size:125%;
}
div.gwreurwobni{
	font-weight:bold;
}
a.adtwcnjaiiw{
	font-size:140%;
}

div.jkqqgrwzacwj a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:15px;	
	font-family:Book Antiqua;
}

a{
	color:#000000;	
}

span.drqwncexxs h1{
	color:#ffffff;
}

div.loijwrrtc{
	color:#ffffff;
}

div.xwdfruxetn{
	color:#ffffff;
}

div.xwdfruxetn a{
	color:#ffffff;
}

a.eidfdekrnme{
	text-decoration:none;
	font-size:115%;
}

li.usmwsuzsrfsk a{
	text-decoration:none;	
}

li.usmwsuzsrfsk{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.wirnlwupsw{		
	list-style-type:square;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.bfqwuwpube{
	font-size:125%;
}


div.bssnomdaxa{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.bssnomdaxa a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.waxxklfendpm{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.waxxklfendpm a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.nbbhohqcui{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.nbbhohqcui a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.wdtbxcswa{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.wdtbxcswa a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.rnmwfiscdubu{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.rnmwfiscdubu a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.judzkheebkgw{
	font-size:75%;	
}

div.nwzstzgn{	
	font-size:75%;		
}