@import url('typography.css');

body{
	background-color:#eeeeee;
}

div.itddbdsw{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.kwnwoexdasd{

}

span.vdzpkmqzs{
	display: inline-block;
	padding:5px;
	background: #EBEBEB;
	border: 1px solid #E9E9E9;
	border-radius:0 0 30px 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.wtgxvuzqi{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.vdzpkmqzs:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.vdzpkmqzs a:hover{
	box-shadow: 0 0 10px #555;
}


div.jsmljrbgmq{
	text-align:center;
	padding:10px;
}

div.rqfwbinag{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.bmpqalxtxq h1{
	margin:0px;
}

div.fxhkcoctuw{
	text-align:right;
}

div.mhsqxcxgx{	
	margin-bottom:30px;	
}

span.dwtxnxkj{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.dwtxnxkj{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.vcwmzsrvaq{
	text-align:center;
}

img{
	border-radius:0 0 30px 0;
	-webkit-border-radius:0 0 30px 0; 
	-moz-border-radius:0 0 30px 0; 
	-khtml-border-radius:0 0 30px 0;
}

div.qfqwogdtrkxr{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.iiajggvqxa{
	background-color:#ffaa00;
	border-radius:0 0 30px 0;
	-webkit-border-radius:0 0 30px 0;
	-moz-border-radius:0 0 30px 0;
	-khtml-border-radius:0 0 30px 0;
	box-shadow:2px 2px 3px 4px #ff8000;
	-moz-box-shadow:2px 2px 3px 4px #ff8000;
    -webkit-box-shadow:2px 2px 3px 4px #ff8000;
	border: 4px #ffd500 dotted;
	padding:10px;	
}

span.iiajggvqxa{
	background-color:#cccccc;
	border-radius:0 0 30px 0;
	-webkit-border-radius:0 0 30px 0;
	-moz-border-radius:0 0 30px 0;
	-khtml-border-radius:0 0 30px 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.lnldlvwbsz{
	background-color:#ffd500;
	border-radius:0 0 30px 0; 
	-webkit-border-radius:0 0 30px 0; 
	-moz-border-radius:0 0 30px 0; 
	-khtml-border-radius:0 0 30px 0;
	box-shadow:2px 2px 3px 4px #ffaa00;
	-moz-box-shadow:2px 2px 3px 4px #ffaa00;
    -webkit-box-shadow:2px 2px 3px 4px #ffaa00;	
	border: 4px #ffff00 dotted;	
}

div.huushvkh{
	background-color:#ffff00;
	border-radius:0 0 30px 0; 
	-webkit-border-radius:0 0 30px 0; 
	-moz-border-radius:0 0 30px 0; 
	-khtml-border-radius:0 0 30px 0;
	box-shadow:2px 2px 3px 4px #ff8000;
	-moz-box-shadow:2px 2px 3px 4px #ff8000;
    -webkit-box-shadow:2px 2px 3px 4px #ff8000;
	border: 4px #ffd500 dotted;	
}

div.kohbqmmf{
	background-color:#6a00ff;
	border-radius:0 0 30px 0; 
	-webkit-border-radius:0 0 30px 0; 
	-moz-border-radius:0 0 30px 0; 
	-khtml-border-radius:0 0 30px 0;
	box-shadow:2px 2px 3px 4px #bf00ff;
	-moz-box-shadow:2px 2px 3px 4px #bf00ff;
    -webkit-box-shadow:2px 2px 3px 4px #bf00ff;	
	border: 4px #1500ff dotted;	
}

div.whauznml{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.nzdqdpkess{
	margin:15px;
	padding:10px;
}


table.gbiprpwgo td{
	vertical-align:top;
}


div.lvswjnhz{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.wanvwelujlb{
	margin-bottom:15px;
	font-size:80%;
}


img.gafmeqhr{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.ncoakzppm{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.tplxndpcvtot{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.nqtndmji{
	margin:7px;
	border-radius:0 0 30px 0; 
	-webkit-border-radius:0 0 30px 0; 
	-moz-border-radius:0 0 30px 0; 
	-khtml-border-radius:0 0 30px 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.jloozksbnas{
	padding:10px;
	margin-bottom:30px;
}


div.tqcrwdtlpwf{
	clear:both;
}


div.dqklfuvj{
	margin-bottom:10px;
}


div.bmpqalxtxq{
	margin:15px;
	text-align:right;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.ekmlerxm{
	margin-bottom:15px;
}


div.ogwunpaooo{
	margin:auto;
	width:420px;
}

div.idfnxedvpf{
	text-align:center;	
}

div.rhettindho{
	text-align:left;
	font-weight:bold;
	font-size:125%;
}

div.dzhvxbjgb{
	text-align:center;
}


td.exptnvfiu{
	vertical-align:top;
}

div.wduulwwgsz{
	width:950px;
	padding:20px;
}

div.wkxdbpwouxwk{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.kxoirrjpvm{
	text-align:center;
}