h1{
	font-size:125%;
}
div.hmauwrnpiar{
	font-weight:bold;
}
a.crtcfdkzco{
	font-size:140%;
}

div.bmpqalxtxq a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:14px;	
	font-family:Tahoma;
}

a{
	color:#000000;	
}

span.wtmxhpbsxqwz h1{
	color:#000000;
}

div.wkxdbpwouxwk{
	color:#000000;
}

div.idfnxedvpf{
	color:#000000;
}

div.idfnxedvpf a{
	color:#000000;
}

a.iazrqbja{
	text-decoration:none;
	font-size:115%;
}

li.ckantuzn a{
	text-decoration:none;	
}

li.ckantuzn{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.tsasapms{		
	list-style-type:circle;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.nwrvsrshdwlx{
	font-size:125%;
}


div.iiajggvqxa{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.iiajggvqxa a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.lnldlvwbsz{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.lnldlvwbsz a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.huushvkh{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.huushvkh a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.kohbqmmf{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.kohbqmmf a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.nqtndmji{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.nqtndmji a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.wxwissbi{
	font-size:75%;	
}

div.kxoirrjpvm{	
	font-size:75%;		
}