@import url('typography.css');

body{
	background-color:#111111;
}

div.qmrkizra{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.vhwnosbf{

}

span.ljrwraqx{
	display: inline-block;
	padding:7px;
	background: #E7F8E7;
	border: 1px solid #E9E9E9;
	border-radius:26px 0 0 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.snqgrdcipvsg{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.ljrwraqx:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.ljrwraqx a:hover{
	box-shadow: 0 0 10px #555;
}


div.mkoujtkzkpi{
	text-align:center;
	padding:10px;
}

div.wnldrkib{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.udzapjrt h1{
	margin:0px;
}

div.fhewfoqul{
	text-align:right;
}

div.waonmbpdbve{	
	margin-bottom:30px;	
}

span.aujfgwuqa{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.aujfgwuqa{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.osgffggtwkw{
	text-align:center;
}

img{
	border-radius:26px 0 0 0;
	-webkit-border-radius:26px 0 0 0; 
	-moz-border-radius:26px 0 0 0; 
	-khtml-border-radius:26px 0 0 0;
}

div.dxlmcavcj{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.irziwfplsd{
	background-color:#ff8000;
	border-radius:26px 0 0 0;
	-webkit-border-radius:26px 0 0 0;
	-moz-border-radius:26px 0 0 0;
	-khtml-border-radius:26px 0 0 0;
	box-shadow:0px 2px 5px 6px #ff5700;
	-moz-box-shadow:0px 2px 5px 6px #ff5700;
    -webkit-box-shadow:0px 2px 5px 6px #ff5700;
	border: 1px #ffa800 solid;
	padding:10px;	
}

span.irziwfplsd{
	background-color:#cccccc;
	border-radius:26px 0 0 0;
	-webkit-border-radius:26px 0 0 0;
	-moz-border-radius:26px 0 0 0;
	-khtml-border-radius:26px 0 0 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.aslpugorw{
	background-color:#ffaa00;
	border-radius:26px 0 0 0; 
	-webkit-border-radius:26px 0 0 0; 
	-moz-border-radius:26px 0 0 0; 
	-khtml-border-radius:26px 0 0 0;
	box-shadow:0px 2px 5px 6px #ff8200;
	-moz-box-shadow:0px 2px 5px 6px #ff8200;
    -webkit-box-shadow:0px 2px 5px 6px #ff8200;	
	border: 1px #ffd200 solid;	
}

div.ndeutatz{
	background-color:#ffd500;
	border-radius:26px 0 0 0; 
	-webkit-border-radius:26px 0 0 0; 
	-moz-border-radius:26px 0 0 0; 
	-khtml-border-radius:26px 0 0 0;
	box-shadow:0px 2px 5px 6px #ff5700;
	-moz-box-shadow:0px 2px 5px 6px #ff5700;
    -webkit-box-shadow:0px 2px 5px 6px #ff5700;
	border: 1px #ffa800 solid;	
}

div.wkalzhvit{
	background-color:#1500ff;
	border-radius:26px 0 0 0; 
	-webkit-border-radius:26px 0 0 0; 
	-moz-border-radius:26px 0 0 0; 
	-khtml-border-radius:26px 0 0 0;
	box-shadow:0px 2px 5px 6px #6600ff;
	-moz-box-shadow:0px 2px 5px 6px #6600ff;
    -webkit-box-shadow:0px 2px 5px 6px #6600ff;	
	border: 1px #004fff solid;	
}

div.tjjfonjf{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.gwiwominxhk{
	margin:15px;
	padding:10px;
}


table.gwgcbjdfhh td{
	vertical-align:top;
}


div.dlvhtmmnkvl{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.xnfipwwxjdf{
	margin-bottom:15px;
	font-size:80%;
}


img.nocvwefewlqf{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.harnhjuih{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.fcwzgqwxp{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.wflbxnnch{
	margin:7px;
	border-radius:26px 0 0 0; 
	-webkit-border-radius:26px 0 0 0; 
	-moz-border-radius:26px 0 0 0; 
	-khtml-border-radius:26px 0 0 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.ahaxsaprudzu{
	padding:10px;
	margin-bottom:30px;
}


div.wrjnhozbofsx{
	clear:both;
}


div.nesqalsqpd{
	margin-bottom:10px;
}


div.udzapjrt{
	margin:15px;
	text-align:right;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.xujshoqqdid{
	margin-bottom:15px;
}


div.hcklcipgkaf{
	margin:auto;
	width:420px;
}

div.npkhibulewk{
	text-align:center;	
}

div.wzwdtwhqsm{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.rbjvlqkqt{
	text-align:center;
}


td.ctskkucuuvdu{
	vertical-align:top;
}

div.moshvnmtl{
	width:950px;
	padding:20px;
}

div.jflogqlomlm{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.wperuqqr{
	text-align:right;
}