h1{
	font-size:125%;
}
div.lmubosgp{
	font-weight:bold;
}
a.atbzlngtpgnr{
	font-size:140%;
}

div.udzapjrt a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:14px;	
	font-family:Franklin Gothic Medium;
}

a{
	color:#000000;	
}

span.fsrwbeivct h1{
	color:#ffffff;
}

div.jflogqlomlm{
	color:#ffffff;
}

div.npkhibulewk{
	color:#ffffff;
}

div.npkhibulewk a{
	color:#ffffff;
}

a.vwuszwdwzp{
	text-decoration:none;
	font-size:115%;
}

li.qvjptdvx a{
	text-decoration:none;	
}

li.qvjptdvx{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.ahxqcjxxkju{		
	list-style-type:square;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.owwtqjavhj{
	font-size:125%;
}


div.irziwfplsd{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.irziwfplsd a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.aslpugorw{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.aslpugorw a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.ndeutatz{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.ndeutatz a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.wkalzhvit{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.wkalzhvit a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.wflbxnnch{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.wflbxnnch a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.docipbhstw{
	font-size:75%;	
}

div.wperuqqr{	
	font-size:75%;		
}