@import url('typography.css');

body{
	background-color:#444444;
}

div.gjxjvqkwzpn{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.pwxvemvjs{

}

span.wfqtnfwc{
	display: inline-block;
	padding:4px;
	background: #DBF2DB;
	border: 1px solid #E9E9E9;
	border-radius:0 21px 0 21px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.tbelraqrh{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.wfqtnfwc:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.wfqtnfwc a:hover{
	box-shadow: 0 0 10px #555;
}


div.ngmtlxnwm{
	text-align:center;
	padding:10px;
}

div.ivgqgwwsbaw{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.dtjvjbzvaku h1{
	margin:0px;
}

div.ztjtpowqsuuf{
	text-align:left;
}

div.wiugzzaxiwd{	
	margin-bottom:30px;	
}

span.asvcllkwq{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.asvcllkwq{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.mabpilrsrlw{
	text-align:center;
}

img{
	border-radius:0 21px 0 21px;
	-webkit-border-radius:0 21px 0 21px; 
	-moz-border-radius:0 21px 0 21px; 
	-khtml-border-radius:0 21px 0 21px;
}

div.svuneauw{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.vuvspjmtd{
	background-color:#ff00a4;
	border-radius:0 21px 0 21px;
	-webkit-border-radius:0 21px 0 21px;
	-moz-border-radius:0 21px 0 21px;
	-khtml-border-radius:0 21px 0 21px;
	box-shadow:0px 4px 3px 2px #c800ff;
	-moz-box-shadow:0px 4px 3px 2px #c800ff;
    -webkit-box-shadow:0px 4px 3px 2px #c800ff;
	border: 4px #ff0000 grouve;
	padding:10px;	
}

span.vuvspjmtd{
	background-color:#cccccc;
	border-radius:0 21px 0 21px;
	-webkit-border-radius:0 21px 0 21px;
	-moz-border-radius:0 21px 0 21px;
	-khtml-border-radius:0 21px 0 21px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.kcwlswokaa{
	background-color:#ff0033;
	border-radius:0 21px 0 21px; 
	-webkit-border-radius:0 21px 0 21px; 
	-moz-border-radius:0 21px 0 21px; 
	-khtml-border-radius:0 21px 0 21px;
	box-shadow:0px 4px 3px 2px #ff00d7;
	-moz-box-shadow:0px 4px 3px 2px #ff00d7;
    -webkit-box-shadow:0px 4px 3px 2px #ff00d7;	
	border: 4px #ff2b00 grouve;	
}

div.ujnunkfnce{
	background-color:#ff1700;
	border-radius:0 21px 0 21px; 
	-webkit-border-radius:0 21px 0 21px; 
	-moz-border-radius:0 21px 0 21px; 
	-khtml-border-radius:0 21px 0 21px;
	box-shadow:0px 4px 3px 2px #c800ff;
	-moz-box-shadow:0px 4px 3px 2px #c800ff;
    -webkit-box-shadow:0px 4px 3px 2px #c800ff;
	border: 4px #ff0000 grouve;	
}

div.qmhmlewau{
	background-color:#26ff00;
	border-radius:0 21px 0 21px; 
	-webkit-border-radius:0 21px 0 21px; 
	-moz-border-radius:0 21px 0 21px; 
	-khtml-border-radius:0 21px 0 21px;
	box-shadow:0px 4px 3px 2px #00ffaa;
	-moz-box-shadow:0px 4px 3px 2px #00ffaa;
    -webkit-box-shadow:0px 4px 3px 2px #00ffaa;	
	border: 4px #a1ff00 grouve;	
}

div.mobsfkaa{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.fdnwfdcqdkh{
	margin:15px;
	padding:10px;
}


table.fubddqvqdupx td{
	vertical-align:top;
}


div.pvctxnshacxu{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.ohwrjxzjmjqg{
	margin-bottom:15px;
	font-size:80%;
}


img.udfzteowi{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.dxdgipgfxxhp{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.hiqhuzbfu{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.azgwhwswb{
	margin:7px;
	border-radius:0 21px 0 21px; 
	-webkit-border-radius:0 21px 0 21px; 
	-moz-border-radius:0 21px 0 21px; 
	-khtml-border-radius:0 21px 0 21px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.dwbzwznjcre{
	padding:10px;
	margin-bottom:30px;
}


div.ddeowzhob{
	clear:both;
}


div.tckngomwa{
	margin-bottom:10px;
}


div.dtjvjbzvaku{
	margin:15px;
	text-align:center;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.gctaebsfelo{
	margin-bottom:15px;
}


div.vipgailhfmj{
	margin:auto;
	width:420px;
}

div.lmcqdiwcgqi{
	text-align:center;	
}

div.gnukdpwkkx{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.hwbljgdwniuw{
	text-align:center;
}


td.qbpvcouf{
	vertical-align:top;
}

div.jszzcbovv{
	width:950px;
	padding:20px;
}

div.stdjweeg{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.cmlwaeewvvd{
	text-align:center;
}