h1{
	font-size:125%;
}
div.cpnwszcbd{
	font-weight:bold;
}
a.bnkqcswo{
	font-size:140%;
}

div.dtjvjbzvaku a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:16px;	
	font-family:Palatino Linotype;
}

a{
	color:#000000;	
}

span.ltowbgrqll h1{
	color:#ffffff;
}

div.stdjweeg{
	color:#ffffff;
}

div.lmcqdiwcgqi{
	color:#ffffff;
}

div.lmcqdiwcgqi a{
	color:#ffffff;
}

a.ixuefhhgaw{
	text-decoration:none;
	font-size:115%;
}

li.vwszmtwqj a{
	text-decoration:none;	
}

li.vwszmtwqj{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.lhahqkozhwo{		
	list-style-type:square;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.ukdtztwue{
	font-size:125%;
}


div.vuvspjmtd{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.vuvspjmtd a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.kcwlswokaa{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.kcwlswokaa a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.ujnunkfnce{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.ujnunkfnce a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.qmhmlewau{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.qmhmlewau a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.azgwhwswb{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.azgwhwswb a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.wtgksgnenq{
	font-size:75%;	
}

div.cmlwaeewvvd{	
	font-size:75%;		
}