@import url('typography.css');

body{
	background-color:#999999;
}

div.xxsxjadlfjgt{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.xonzcezbw{

}

span.xwvgllukiwh{
	display: inline-block;
	padding:4px;
	background: #F6F6F6;
	border: 1px solid #E9E9E9;
	border-radius:0 14px 14px 14px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.udhjongwv{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.xwvgllukiwh:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.xwvgllukiwh a:hover{
	box-shadow: 0 0 10px #555;
}


div.eiiqlwhndclw{
	text-align:center;
	padding:10px;
}

div.bwszjpfpdng{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.xnfawuxhmb h1{
	margin:0px;
}

div.rzmjfwwijgj{
	text-align:center;
}

div.asswtkeumw{	
	margin-bottom:30px;	
}

span.hqfqggbqb{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.hqfqggbqb{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.looezdbxuql{
	text-align:center;
}

img{
	border-radius:0 14px 14px 14px;
	-webkit-border-radius:0 14px 14px 14px; 
	-moz-border-radius:0 14px 14px 14px; 
	-khtml-border-radius:0 14px 14px 14px;
}

div.ltbubrrjfdse{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.jzdwbwthmdam{
	background-color:#ff7700;
	border-radius:0 14px 14px 14px;
	-webkit-border-radius:0 14px 14px 14px;
	-moz-border-radius:0 14px 14px 14px;
	-khtml-border-radius:0 14px 14px 14px;
	box-shadow:2px 6px 3px 0px #ff4a00;
	-moz-box-shadow:2px 6px 3px 0px #ff4a00;
    -webkit-box-shadow:2px 6px 3px 0px #ff4a00;
	border: 3px #ffa400 dotted;
	padding:10px;	
}

span.jzdwbwthmdam{
	background-color:#cccccc;
	border-radius:0 14px 14px 14px;
	-webkit-border-radius:0 14px 14px 14px;
	-moz-border-radius:0 14px 14px 14px;
	-khtml-border-radius:0 14px 14px 14px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.fjsuwtoqn{
	background-color:#ffa200;
	border-radius:0 14px 14px 14px; 
	-webkit-border-radius:0 14px 14px 14px; 
	-moz-border-radius:0 14px 14px 14px; 
	-khtml-border-radius:0 14px 14px 14px;
	box-shadow:2px 6px 3px 0px #ff7500;
	-moz-box-shadow:2px 6px 3px 0px #ff7500;
    -webkit-box-shadow:2px 6px 3px 0px #ff7500;	
	border: 3px #ffce00 dotted;	
}

div.cawdxtnncwc{
	background-color:#ffcc00;
	border-radius:0 14px 14px 14px; 
	-webkit-border-radius:0 14px 14px 14px; 
	-moz-border-radius:0 14px 14px 14px; 
	-khtml-border-radius:0 14px 14px 14px;
	box-shadow:2px 6px 3px 0px #ff4a00;
	-moz-box-shadow:2px 6px 3px 0px #ff4a00;
    -webkit-box-shadow:2px 6px 3px 0px #ff4a00;
	border: 3px #ffa400 dotted;	
}

div.gkapmhcsjjsr{
	background-color:#0400ff;
	border-radius:0 14px 14px 14px; 
	-webkit-border-radius:0 14px 14px 14px; 
	-moz-border-radius:0 14px 14px 14px; 
	-khtml-border-radius:0 14px 14px 14px;
	box-shadow:2px 6px 3px 0px #5e00ff;
	-moz-box-shadow:2px 6px 3px 0px #5e00ff;
    -webkit-box-shadow:2px 6px 3px 0px #5e00ff;	
	border: 3px #0071ff dotted;	
}

div.vrlakjmm{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.puzfsupkp{
	margin:15px;
	padding:10px;
}


table.xpoibzliqh td{
	vertical-align:top;
}


div.wstwaxapeg{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.phkphwltlz{
	margin-bottom:15px;
	font-size:80%;
}


img.rlwaoduhcvwu{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.kldoeskkas{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.vfwszsjjq{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.kjzfchtmxfe{
	margin:7px;
	border-radius:0 14px 14px 14px; 
	-webkit-border-radius:0 14px 14px 14px; 
	-moz-border-radius:0 14px 14px 14px; 
	-khtml-border-radius:0 14px 14px 14px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.tswdcwhuz{
	padding:10px;
	margin-bottom:30px;
}


div.xovibhpelk{
	clear:both;
}


div.chrirhmsasq{
	margin-bottom:10px;
}


div.xnfawuxhmb{
	margin:15px;
	text-align:right;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.sfmkvaxdaxgo{
	margin-bottom:15px;
}


div.bhsielzem{
	margin:auto;
	width:420px;
}

div.klsvkfchzb{
	text-align:center;	
}

div.focrldwth{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.rxrswtvcq{
	text-align:center;
}


td.sjoapztjjx{
	vertical-align:top;
}

div.jiptdibhmts{
	width:950px;
	padding:20px;
}

div.pkoueqbmmh{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.ceskrous{
	text-align:right;
}