h1{
	font-size:125%;
}
div.gununpvzcoco{
	font-weight:bold;
}
a.nhcnuxsh{
	font-size:140%;
}

div.xnfawuxhmb a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:15px;	
	font-family:Georgia;
}

a{
	color:#000000;	
}

span.xzgftzooj h1{
	color:#000000;
}

div.pkoueqbmmh{
	color:#000000;
}

div.klsvkfchzb{
	color:#000000;
}

div.klsvkfchzb a{
	color:#000000;
}

a.aqhfugmbp{
	text-decoration:none;
	font-size:115%;
}

li.jbrzxtsiqhz a{
	text-decoration:none;	
}

li.jbrzxtsiqhz{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.mfecwrmtwf{		
	list-style-type:square;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.wwzxgzmwimx{
	font-size:125%;
}


div.jzdwbwthmdam{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.jzdwbwthmdam a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.fjsuwtoqn{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.fjsuwtoqn a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.cawdxtnncwc{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.cawdxtnncwc a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.gkapmhcsjjsr{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.gkapmhcsjjsr a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.kjzfchtmxfe{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.kjzfchtmxfe a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.wkuufggo{
	font-size:75%;	
}

div.ceskrous{	
	font-size:75%;		
}