@import url('typography.css');

body{
	background-color:#ffffff;
}

div.ihurjmmrholn{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.vfieetqcwmpt{

}

span.juxkwhtjdsbd{
	display: inline-block;
	padding:5px;
	background: #F0F0F0;
	border: 1px solid #E9E9E9;
	border-radius:0 0 0 17px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.cwmtdfuqvb{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.juxkwhtjdsbd:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.juxkwhtjdsbd a:hover{
	box-shadow: 0 0 10px #555;
}


div.avffifwlqotb{
	text-align:center;
	padding:10px;
}

div.zcvjcpdgx{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.uwcmdwtvbe h1{
	margin:0px;
}

div.excfvlttlc{
	text-align:left;
}

div.cgrlvanwcx{	
	margin-bottom:30px;	
}

span.zmqwcalpej{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.zmqwcalpej{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.wtprvsha{
	text-align:center;
}

img{
	border-radius:0 0 0 17px;
	-webkit-border-radius:0 0 0 17px; 
	-moz-border-radius:0 0 0 17px; 
	-khtml-border-radius:0 0 0 17px;
}

div.qoiwkzhgnr{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.nwfqzdrw{
	background-color:#00ffcc;
	border-radius:0 0 0 17px;
	-webkit-border-radius:0 0 0 17px;
	-moz-border-radius:0 0 0 17px;
	-khtml-border-radius:0 0 0 17px;
	box-shadow:0px 0px 2px 2px #0082ff;
	-moz-box-shadow:0px 0px 2px 2px #0082ff;
    -webkit-box-shadow:0px 0px 2px 2px #0082ff;
	border: 1px #11ff00 grouve;
	padding:10px;	
}

span.nwfqzdrw{
	background-color:#cccccc;
	border-radius:0 0 0 17px;
	-webkit-border-radius:0 0 0 17px;
	-moz-border-radius:0 0 0 17px;
	-khtml-border-radius:0 0 0 17px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.brukgijopf{
	background-color:#00b0ff;
	border-radius:0 0 0 17px; 
	-webkit-border-radius:0 0 0 17px; 
	-moz-border-radius:0 0 0 17px; 
	-khtml-border-radius:0 0 0 17px;
	box-shadow:0px 0px 2px 2px #0011ff;
	-moz-box-shadow:0px 0px 2px 2px #0011ff;
    -webkit-box-shadow:0px 0px 2px 2px #0011ff;	
	border: 1px #00ff88 grouve;	
}

div.hpkglfmmjw{
	background-color:#003eff;
	border-radius:0 0 0 17px; 
	-webkit-border-radius:0 0 0 17px; 
	-moz-border-radius:0 0 0 17px; 
	-khtml-border-radius:0 0 0 17px;
	box-shadow:0px 0px 2px 2px #0082ff;
	-moz-box-shadow:0px 0px 2px 2px #0082ff;
    -webkit-box-shadow:0px 0px 2px 2px #0082ff;
	border: 1px #11ff00 grouve;	
}

div.iwshnlbsit{
	background-color:#ff5e00;
	border-radius:0 0 0 17px; 
	-webkit-border-radius:0 0 0 17px; 
	-moz-border-radius:0 0 0 17px; 
	-khtml-border-radius:0 0 0 17px;
	box-shadow:0px 0px 2px 2px #ff2200;
	-moz-box-shadow:0px 0px 2px 2px #ff2200;
    -webkit-box-shadow:0px 0px 2px 2px #ff2200;	
	border: 1px #ff9900 grouve;	
}

div.jkfqlzrimull{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.bkwjnxgxjtk{
	margin:15px;
	padding:10px;
}


table.hhvcokmlwkw td{
	vertical-align:top;
}


div.ldweazeettnq{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.tlpgxwqwnm{
	margin-bottom:15px;
	font-size:80%;
}


img.rkaxfzavualf{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.xueilzhg{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.nqalkwlc{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.arvkslxa{
	margin:7px;
	border-radius:0 0 0 17px; 
	-webkit-border-radius:0 0 0 17px; 
	-moz-border-radius:0 0 0 17px; 
	-khtml-border-radius:0 0 0 17px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.aguqaegm{
	padding:10px;
	margin-bottom:30px;
}


div.nihxqmbrjsm{
	clear:both;
}


div.clooprwofxrc{
	margin-bottom:10px;
}


div.uwcmdwtvbe{
	margin:15px;
	text-align:center;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.bkwvpfbznrlq{
	margin-bottom:15px;
}


div.wfrwlclsl{
	margin:auto;
	width:420px;
}

div.svnoxrrbw{
	text-align:center;	
}

div.powvhgvp{
	text-align:right;
	font-weight:bold;
	font-size:125%;
}

div.wazbqjwugd{
	text-align:center;
}


td.twgwlkzhbxfe{
	vertical-align:top;
}

div.dhwtiaoo{
	width:950px;
	padding:20px;
}

div.uoqxkwng{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.wjldtudku{
	text-align:center;
}