h1{
	font-size:125%;
}
div.qwaapbxpgpk{
	font-weight:bold;
}
a.ixaobvrq{
	font-size:140%;
}

div.uwcmdwtvbe a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:16px;	
	font-family:Arial Narrow;
}

a{
	color:#000000;	
}

span.svkuknmt h1{
	color:#000000;
}

div.uoqxkwng{
	color:#000000;
}

div.svnoxrrbw{
	color:#000000;
}

div.svnoxrrbw a{
	color:#000000;
}

a.exfbtixft{
	text-decoration:none;
	font-size:115%;
}

li.bodwkkiwcqic a{
	text-decoration:none;	
}

li.bodwkkiwcqic{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.oqvbbeogllkr{		
	list-style-type:disc;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.jzdtmktwsf{
	font-size:125%;
}


div.nwfqzdrw{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.nwfqzdrw a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.brukgijopf{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.brukgijopf a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.hpkglfmmjw{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.hpkglfmmjw a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.iwshnlbsit{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.iwshnlbsit a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.arvkslxa{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.arvkslxa a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.hnozuxzou{
	font-size:75%;	
}

div.wjldtudku{	
	font-size:75%;		
}