@import url('typography.css');

body{
	background-color:#eeeeee;
}

div.unzdbvjxm{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.taeralsdmqel{

}

span.oehxtvwbcszu{
	display: inline-block;
	padding:7px;
	background: #EEF4FB;
	border: 1px solid #E9E9E9;
	border-radius:0 24px 0 24px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.xtwszzwl{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.oehxtvwbcszu:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.oehxtvwbcszu a:hover{
	box-shadow: 0 0 10px #555;
}


div.vlfuawof{
	text-align:center;
	padding:10px;
}

div.gjwxsdwmevzh{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.wcoxlwaktkwg h1{
	margin:0px;
}

div.huuipbxzwjxj{
	text-align:center;
}

div.wqlrnmrrgg{	
	margin-bottom:30px;	
}

span.dwgwctkl{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.dwgwctkl{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.lazjexnk{
	text-align:center;
}

img{
	border-radius:0 24px 0 24px;
	-webkit-border-radius:0 24px 0 24px; 
	-moz-border-radius:0 24px 0 24px; 
	-khtml-border-radius:0 24px 0 24px;
}

div.mnihnwspkhr{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.wmutnadnwxjw{
	background-color:#ff00f9;
	border-radius:0 24px 0 24px;
	-webkit-border-radius:0 24px 0 24px;
	-moz-border-radius:0 24px 0 24px;
	-khtml-border-radius:0 24px 0 24px;
	box-shadow:3px 0px 3px 4px #a200ff;
	-moz-box-shadow:3px 0px 3px 4px #a200ff;
    -webkit-box-shadow:3px 0px 3px 4px #a200ff;
	border: 2px #ff0077 ridge;
	padding:10px;	
}

span.wmutnadnwxjw{
	background-color:#cccccc;
	border-radius:0 24px 0 24px;
	-webkit-border-radius:0 24px 0 24px;
	-moz-border-radius:0 24px 0 24px;
	-khtml-border-radius:0 24px 0 24px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.nneixfwknon{
	background-color:#ff0088;
	border-radius:0 24px 0 24px; 
	-webkit-border-radius:0 24px 0 24px; 
	-moz-border-radius:0 24px 0 24px; 
	-khtml-border-radius:0 24px 0 24px;
	box-shadow:3px 0px 3px 4px #f700ff;
	-moz-box-shadow:3px 0px 3px 4px #f700ff;
    -webkit-box-shadow:3px 0px 3px 4px #f700ff;	
	border: 2px #ff0006 ridge;	
}

div.hdnrtzgavuk{
	background-color:#ff0017;
	border-radius:0 24px 0 24px; 
	-webkit-border-radius:0 24px 0 24px; 
	-moz-border-radius:0 24px 0 24px; 
	-khtml-border-radius:0 24px 0 24px;
	box-shadow:3px 0px 3px 4px #a200ff;
	-moz-box-shadow:3px 0px 3px 4px #a200ff;
    -webkit-box-shadow:3px 0px 3px 4px #a200ff;
	border: 2px #ff0077 ridge;	
}

div.zoewfzip{
	background-color:#66ff00;
	border-radius:0 24px 0 24px; 
	-webkit-border-radius:0 24px 0 24px; 
	-moz-border-radius:0 24px 0 24px; 
	-khtml-border-radius:0 24px 0 24px;
	box-shadow:3px 0px 3px 4px #04ff00;
	-moz-box-shadow:3px 0px 3px 4px #04ff00;
    -webkit-box-shadow:3px 0px 3px 4px #04ff00;	
	border: 2px #c8ff00 ridge;	
}

div.bbcelbskepjo{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.jicsomaewduj{
	margin:15px;
	padding:10px;
}


table.ejwpwfwufia td{
	vertical-align:top;
}


div.keeojrcb{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.iuticwjnm{
	margin-bottom:15px;
	font-size:80%;
}


img.dwlhtqkglt{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.wxmuoksrq{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.ulgvnbbrhbd{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.xjattlwwqg{
	margin:7px;
	border-radius:0 24px 0 24px; 
	-webkit-border-radius:0 24px 0 24px; 
	-moz-border-radius:0 24px 0 24px; 
	-khtml-border-radius:0 24px 0 24px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.qxhhdlnnc{
	padding:10px;
	margin-bottom:30px;
}


div.kctcxovknb{
	clear:both;
}


div.iedqfixhxa{
	margin-bottom:10px;
}


div.wcoxlwaktkwg{
	margin:15px;
	text-align:left;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.gtrksogvksgi{
	margin-bottom:15px;
}


div.bqlxxvjpdv{
	margin:auto;
	width:420px;
}

div.kbdioorbtww{
	text-align:center;	
}

div.ebwmqgzxgjfs{
	text-align:right;
	font-weight:bold;
	font-size:125%;
}

div.uabmhkmbhucr{
	text-align:center;
}


td.fmcmbunxjn{
	vertical-align:top;
}

div.epwvcrjpbcc{
	width:950px;
	padding:20px;
}

div.wvsowigrw{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.iilbatdtwq{
	text-align:right;
}