h1{
	font-size:125%;
}
div.bfgezjhran{
	font-weight:bold;
}
a.udhwwttoswnl{
	font-size:140%;
}

div.wcoxlwaktkwg a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:14px;	
	font-family:Arial Narrow;
}

a{
	color:#000000;	
}

span.wqvtztmckxo h1{
	color:#000000;
}

div.wvsowigrw{
	color:#000000;
}

div.kbdioorbtww{
	color:#000000;
}

div.kbdioorbtww a{
	color:#000000;
}

a.ftvrwimchhf{
	text-decoration:none;
	font-size:115%;
}

li.arhwackl a{
	text-decoration:none;	
}

li.arhwackl{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.qvtcxedqatl{		
	list-style-type:circle;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.ngbonwtjq{
	font-size:125%;
}


div.wmutnadnwxjw{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.wmutnadnwxjw a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.nneixfwknon{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.nneixfwknon a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.hdnrtzgavuk{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.hdnrtzgavuk a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.zoewfzip{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.zoewfzip a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.xjattlwwqg{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.xjattlwwqg a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.xfwxkaahn{
	font-size:75%;	
}

div.iilbatdtwq{	
	font-size:75%;		
}