@import url('typography.css');

body{
	background-color:#cccccc;
}

div.ncrgbqhjw{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.wzxwhslajw{

}

span.wvdzessdr{
	display: inline-block;
	padding:6px;
	background: #F6F6F6;
	border: 1px solid #E9E9E9;
	border-radius:28px 28px 0 28px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.ifwrfatlcxu{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.wvdzessdr:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.wvdzessdr a:hover{
	box-shadow: 0 0 10px #555;
}


div.etwbdvso{
	text-align:center;
	padding:10px;
}

div.aaegsjzir{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.oehmbbktzri h1{
	margin:0px;
}

div.nfwxelpgcocw{
	text-align:right;
}

div.hukqvopxxsau{	
	margin-bottom:30px;	
}

span.dpxccwidntr{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.dpxccwidntr{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.ssbsntaehhq{
	text-align:center;
}

img{
	border-radius:28px 28px 0 28px;
	-webkit-border-radius:28px 28px 0 28px; 
	-moz-border-radius:28px 28px 0 28px; 
	-khtml-border-radius:28px 28px 0 28px;
}

div.vjpnokxj{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.jflhsozml{
	background-color:#00ff00;
	border-radius:28px 28px 0 28px;
	-webkit-border-radius:28px 28px 0 28px;
	-moz-border-radius:28px 28px 0 28px;
	-khtml-border-radius:28px 28px 0 28px;
	box-shadow:1px 1px 4px 3px #00ffaa;
	-moz-box-shadow:1px 1px 4px 3px #00ffaa;
    -webkit-box-shadow:1px 1px 4px 3px #00ffaa;
	border: 4px #55ff00 ridge;
	padding:10px;	
}

span.jflhsozml{
	background-color:#cccccc;
	border-radius:28px 28px 0 28px;
	-webkit-border-radius:28px 28px 0 28px;
	-moz-border-radius:28px 28px 0 28px;
	-khtml-border-radius:28px 28px 0 28px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.rfajtilmwd{
	background-color:#00ffaa;
	border-radius:28px 28px 0 28px; 
	-webkit-border-radius:28px 28px 0 28px; 
	-moz-border-radius:28px 28px 0 28px; 
	-khtml-border-radius:28px 28px 0 28px;
	box-shadow:1px 1px 4px 3px #00c6ff;
	-moz-box-shadow:1px 1px 4px 3px #00c6ff;
    -webkit-box-shadow:1px 1px 4px 3px #00c6ff;	
	border: 4px #00ff00 ridge;	
}

div.blmarasq{
	background-color:#00c6ff;
	border-radius:28px 28px 0 28px; 
	-webkit-border-radius:28px 28px 0 28px; 
	-moz-border-radius:28px 28px 0 28px; 
	-khtml-border-radius:28px 28px 0 28px;
	box-shadow:1px 1px 4px 3px #00ffaa;
	-moz-box-shadow:1px 1px 4px 3px #00ffaa;
    -webkit-box-shadow:1px 1px 4px 3px #00ffaa;
	border: 4px #55ff00 ridge;	
}

div.vszwquldq{
	background-color:#ff2b00;
	border-radius:28px 28px 0 28px; 
	-webkit-border-radius:28px 28px 0 28px; 
	-moz-border-radius:28px 28px 0 28px; 
	-khtml-border-radius:28px 28px 0 28px;
	box-shadow:1px 1px 4px 3px #ff0000;
	-moz-box-shadow:1px 1px 4px 3px #ff0000;
    -webkit-box-shadow:1px 1px 4px 3px #ff0000;	
	border: 4px #ff5500 ridge;	
}

div.avpcfaqmzioi{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.vomncjhugep{
	margin:15px;
	padding:10px;
}


table.xssbcfnmmj td{
	vertical-align:top;
}


div.hclakocwh{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.oxwwpgunkvvi{
	margin-bottom:15px;
	font-size:80%;
}


img.znlqpvmbzgn{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.wsemxsnl{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.fdsordmlbcm{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.wewbbwpzbip{
	margin:7px;
	border-radius:28px 28px 0 28px; 
	-webkit-border-radius:28px 28px 0 28px; 
	-moz-border-radius:28px 28px 0 28px; 
	-khtml-border-radius:28px 28px 0 28px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.xdtgzkfuj{
	padding:10px;
	margin-bottom:30px;
}


div.sgkdllehfrc{
	clear:both;
}


div.dxdqajtna{
	margin-bottom:10px;
}


div.oehmbbktzri{
	margin:15px;
	text-align:left;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.wnwzervijqoh{
	margin-bottom:15px;
}


div.mhuevucf{
	margin:auto;
	width:420px;
}

div.fccticibhzw{
	text-align:center;	
}

div.xbfiifhzh{
	text-align:right;
	font-weight:bold;
	font-size:125%;
}

div.oganatfxeod{
	text-align:center;
}


td.xhmgtalkriu{
	vertical-align:top;
}

div.cjrmbrxowj{
	width:950px;
	padding:20px;
}

div.quaobatwqqe{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.tcimfjvokx{
	text-align:right;
}