h1{
	font-size:125%;
}
div.wdrtjtfwcdk{
	font-weight:bold;
}
a.tptjqwfllph{
	font-size:140%;
}

div.oehmbbktzri a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:14px;	
	font-family:Lucida Console;
}

a{
	color:#000000;	
}

span.kjxrepoobdff h1{
	color:#000000;
}

div.quaobatwqqe{
	color:#000000;
}

div.fccticibhzw{
	color:#000000;
}

div.fccticibhzw a{
	color:#000000;
}

a.iiskzxtvmii{
	text-decoration:none;
	font-size:115%;
}

li.rrbgwjbew a{
	text-decoration:none;	
}

li.rrbgwjbew{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.xsfcrbnpa{		
	list-style-type:circle;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.gizqfgeuuvrq{
	font-size:125%;
}


div.jflhsozml{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.jflhsozml a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.rfajtilmwd{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.rfajtilmwd a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.blmarasq{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.blmarasq a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.vszwquldq{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.vszwquldq a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.wewbbwpzbip{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.wewbbwpzbip a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.abxmhmvwqnc{
	font-size:75%;	
}

div.tcimfjvokx{	
	font-size:75%;		
}