@import url('typography.css');

body{
	background-color:#aaaaaa;
}

div.jvizobag{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.dcqinpid{

}

span.ecvlvcgl{
	display: inline-block;
	padding:4px;
	background: #EBEBEB;
	border: 1px solid #E9E9E9;
	border-radius:12px 12px 0 12px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.cuplhfxck{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.ecvlvcgl:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.ecvlvcgl a:hover{
	box-shadow: 0 0 10px #555;
}


div.ufrtflubrxwq{
	text-align:center;
	padding:10px;
}

div.cwxbfwpl{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.resxjkwfsri h1{
	margin:0px;
}

div.wvdeudsoloa{
	text-align:center;
}

div.ripwrjhsdz{	
	margin-bottom:30px;	
}

span.tharswvuscg{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.tharswvuscg{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.hrqqovvvdhdw{
	text-align:center;
}

img{
	border-radius:12px 12px 0 12px;
	-webkit-border-radius:12px 12px 0 12px; 
	-moz-border-radius:12px 12px 0 12px; 
	-khtml-border-radius:12px 12px 0 12px;
}

div.gmbzldnz{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.wkqxicad{
	background-color:#004fff;
	border-radius:12px 12px 0 12px;
	-webkit-border-radius:12px 12px 0 12px;
	-moz-border-radius:12px 12px 0 12px;
	-khtml-border-radius:12px 12px 0 12px;
	box-shadow:6px 0px 2px 6px #5900ff;
	-moz-box-shadow:6px 0px 2px 6px #5900ff;
    -webkit-box-shadow:6px 0px 2px 6px #5900ff;
	border: 1px #00ffdd grouve;
	padding:10px;	
}

span.wkqxicad{
	background-color:#cccccc;
	border-radius:12px 12px 0 12px;
	-webkit-border-radius:12px 12px 0 12px;
	-moz-border-radius:12px 12px 0 12px;
	-khtml-border-radius:12px 12px 0 12px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.qulmkzcl{
	background-color:#1a00ff;
	border-radius:12px 12px 0 12px; 
	-webkit-border-radius:12px 12px 0 12px; 
	-moz-border-radius:12px 12px 0 12px; 
	-khtml-border-radius:12px 12px 0 12px;
	box-shadow:6px 0px 2px 6px #ae00ff;
	-moz-box-shadow:6px 0px 2px 6px #ae00ff;
    -webkit-box-shadow:6px 0px 2px 6px #ae00ff;	
	border: 1px #00a4ff grouve;	
}

div.ftifoswrqq{
	background-color:#6f00ff;
	border-radius:12px 12px 0 12px; 
	-webkit-border-radius:12px 12px 0 12px; 
	-moz-border-radius:12px 12px 0 12px; 
	-khtml-border-radius:12px 12px 0 12px;
	box-shadow:6px 0px 2px 6px #5900ff;
	-moz-box-shadow:6px 0px 2px 6px #5900ff;
    -webkit-box-shadow:6px 0px 2px 6px #5900ff;
	border: 1px #00ffdd grouve;	
}

div.gouhzwvfhsa{
	background-color:#ffac00;
	border-radius:12px 12px 0 12px; 
	-webkit-border-radius:12px 12px 0 12px; 
	-moz-border-radius:12px 12px 0 12px; 
	-khtml-border-radius:12px 12px 0 12px;
	box-shadow:6px 0px 2px 6px #ff6200;
	-moz-box-shadow:6px 0px 2px 6px #ff6200;
    -webkit-box-shadow:6px 0px 2px 6px #ff6200;	
	border: 1px #fff700 grouve;	
}

div.eqcrbtfmz{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.dxjlbvdssow{
	margin:15px;
	padding:10px;
}


table.izlnqljtvt td{
	vertical-align:top;
}


div.wphpxfwjmjv{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.rhbncrwiw{
	margin-bottom:15px;
	font-size:80%;
}


img.bunhbiemrxl{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.gakcqqrmdghj{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.txnnrocnzxw{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.dzzzclgp{
	margin:7px;
	border-radius:12px 12px 0 12px; 
	-webkit-border-radius:12px 12px 0 12px; 
	-moz-border-radius:12px 12px 0 12px; 
	-khtml-border-radius:12px 12px 0 12px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.ivuuglvzh{
	padding:10px;
	margin-bottom:30px;
}


div.qwbfoxrhj{
	clear:both;
}


div.rhlvekrd{
	margin-bottom:10px;
}


div.resxjkwfsri{
	margin:15px;
	text-align:center;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.kimplhveixq{
	margin-bottom:15px;
}


div.eawpuwadioa{
	margin:auto;
	width:420px;
}

div.ofktrsbnkkng{
	text-align:center;	
}

div.esnbjdkxttng{
	text-align:right;
	font-weight:bold;
	font-size:125%;
}

div.zzhdwitivrv{
	text-align:center;
}


td.wqhxlhil{
	vertical-align:top;
}

div.fqennmwmvo{
	width:950px;
	padding:20px;
}

div.veccpfuvezww{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.cbtfrocdhd{
	text-align:left;
}