h1{
	font-size:125%;
}
div.uawjcmtlo{
	font-weight:bold;
}
a.ulemssjrucc{
	font-size:140%;
}

div.resxjkwfsri a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:16px;	
	font-family:Courier New;
}

a{
	color:#000000;	
}

span.szwlsdrtmxxx h1{
	color:#000000;
}

div.veccpfuvezww{
	color:#000000;
}

div.ofktrsbnkkng{
	color:#000000;
}

div.ofktrsbnkkng a{
	color:#000000;
}

a.fpnvietid{
	text-decoration:none;
	font-size:115%;
}

li.cnzksornefo a{
	text-decoration:none;	
}

li.cnzksornefo{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.psnboswxdn{		
	list-style-type:disc;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.wwuqqbufwc{
	font-size:125%;
}


div.wkqxicad{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.wkqxicad a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.qulmkzcl{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.qulmkzcl a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.ftifoswrqq{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.ftifoswrqq a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.gouhzwvfhsa{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.gouhzwvfhsa a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.dzzzclgp{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.dzzzclgp a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.pjdfpvup{
	font-size:75%;	
}

div.cbtfrocdhd{	
	font-size:75%;		
}