@import url('typography.css');

body{
	background-color:#000000;
}

div.csumewvgvdo{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.qziwrszepbug{

}

span.gsbvwzcwln{
	display: inline-block;
	padding:6px;
	background: #F1FCF1;
	border: 1px solid #E9E9E9;
	border-radius:0 14px 14px 14px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.ckqfrbesd{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.gsbvwzcwln:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.gsbvwzcwln a:hover{
	box-shadow: 0 0 10px #555;
}


div.miqwkzsw{
	text-align:center;
	padding:10px;
}

div.empzvnoum{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.aqbksubwwcla h1{
	margin:0px;
}

div.zqwxfqes{
	text-align:left;
}

div.wwwpmpbz{	
	margin-bottom:30px;	
}

span.mmcrbwiumol{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.mmcrbwiumol{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.hdwvpvjf{
	text-align:center;
}

img{
	border-radius:0 14px 14px 14px;
	-webkit-border-radius:0 14px 14px 14px; 
	-moz-border-radius:0 14px 14px 14px; 
	-khtml-border-radius:0 14px 14px 14px;
}

div.jipqzqab{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.owivzecafk{
	background-color:#ff4000;
	border-radius:0 14px 14px 14px;
	-webkit-border-radius:0 14px 14px 14px;
	-moz-border-radius:0 14px 14px 14px;
	-khtml-border-radius:0 14px 14px 14px;
	box-shadow:0px 2px 6px 3px #ff0d00;
	-moz-box-shadow:0px 2px 6px 3px #ff0d00;
    -webkit-box-shadow:0px 2px 6px 3px #ff0d00;
	border: 4px #ff7300 double;
	padding:10px;	
}

span.owivzecafk{
	background-color:#cccccc;
	border-radius:0 14px 14px 14px;
	-webkit-border-radius:0 14px 14px 14px;
	-moz-border-radius:0 14px 14px 14px;
	-khtml-border-radius:0 14px 14px 14px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.ddmxxcxrpx{
	background-color:#ff6a00;
	border-radius:0 14px 14px 14px; 
	-webkit-border-radius:0 14px 14px 14px; 
	-moz-border-radius:0 14px 14px 14px; 
	-khtml-border-radius:0 14px 14px 14px;
	box-shadow:0px 2px 6px 3px #ff3700;
	-moz-box-shadow:0px 2px 6px 3px #ff3700;
    -webkit-box-shadow:0px 2px 6px 3px #ff3700;	
	border: 4px #ff9d00 double;	
}

div.gwwduzakwqm{
	background-color:#ff9500;
	border-radius:0 14px 14px 14px; 
	-webkit-border-radius:0 14px 14px 14px; 
	-moz-border-radius:0 14px 14px 14px; 
	-khtml-border-radius:0 14px 14px 14px;
	box-shadow:0px 2px 6px 3px #ff0d00;
	-moz-box-shadow:0px 2px 6px 3px #ff0d00;
    -webkit-box-shadow:0px 2px 6px 3px #ff0d00;
	border: 4px #ff7300 double;	
}

div.pbfonwnwtogv{
	background-color:#008eff;
	border-radius:0 14px 14px 14px; 
	-webkit-border-radius:0 14px 14px 14px; 
	-moz-border-radius:0 14px 14px 14px; 
	-khtml-border-radius:0 14px 14px 14px;
	box-shadow:0px 2px 6px 3px #0006ff;
	-moz-box-shadow:0px 2px 6px 3px #0006ff;
    -webkit-box-shadow:0px 2px 6px 3px #0006ff;	
	border: 4px #00ffdd double;	
}

div.psvcgvwwgxoi{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.urbtvtfdvuiu{
	margin:15px;
	padding:10px;
}


table.fmwraidt td{
	vertical-align:top;
}


div.xudcvngwfpw{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.qtmnfduxmmfl{
	margin-bottom:15px;
	font-size:80%;
}


img.bncbocjcev{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.frzanglw{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.poeozexabp{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.adsbfwwwqm{
	margin:7px;
	border-radius:0 14px 14px 14px; 
	-webkit-border-radius:0 14px 14px 14px; 
	-moz-border-radius:0 14px 14px 14px; 
	-khtml-border-radius:0 14px 14px 14px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.cwrcbetitxia{
	padding:10px;
	margin-bottom:30px;
}


div.irxtwnknwbh{
	clear:both;
}


div.sazjpqhxaoow{
	margin-bottom:10px;
}


div.aqbksubwwcla{
	margin:15px;
	text-align:right;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.cpnqwvbl{
	margin-bottom:15px;
}


div.anfwojcwg{
	margin:auto;
	width:420px;
}

div.pbmrxqcpnik{
	text-align:center;	
}

div.pjgerkahwtn{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.xbccropf{
	text-align:center;
}


td.zjwoogdjzqkj{
	vertical-align:top;
}

div.hrduolucjp{
	width:950px;
	padding:20px;
}

div.dzsqdhqnuqwq{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.vopmfwnmr{
	text-align:left;
}