h1{
	font-size:125%;
}
div.zanlbhpz{
	font-weight:bold;
}
a.chezojznl{
	font-size:140%;
}

div.aqbksubwwcla a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:15px;	
	font-family:Century Gothic;
}

a{
	color:#000000;	
}

span.xbztwfwej h1{
	color:#ffffff;
}

div.dzsqdhqnuqwq{
	color:#ffffff;
}

div.pbmrxqcpnik{
	color:#ffffff;
}

div.pbmrxqcpnik a{
	color:#ffffff;
}

a.jljedvir{
	text-decoration:none;
	font-size:115%;
}

li.ffdxwnrwv a{
	text-decoration:none;	
}

li.ffdxwnrwv{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.xzgswnbb{		
	list-style-type:disc;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.dnqwcpnt{
	font-size:125%;
}


div.owivzecafk{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.owivzecafk a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.ddmxxcxrpx{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.ddmxxcxrpx a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.gwwduzakwqm{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.gwwduzakwqm a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.pbfonwnwtogv{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.pbfonwnwtogv a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.adsbfwwwqm{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.adsbfwwwqm a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.ncrjfiip{
	font-size:75%;	
}

div.vopmfwnmr{	
	font-size:75%;		
}