@import url('typography.css');

body{
	background-color:#000000;
}

div.wvltitiau{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.quwkvdbi{

}

span.pwhijncbwvdp{
	display: inline-block;
	padding:6px;
	background: #EEF4FB;
	border: 1px solid #E9E9E9;
	border-radius:16px 0 0 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.wfvoprihzk{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.pwhijncbwvdp:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.pwhijncbwvdp a:hover{
	box-shadow: 0 0 10px #555;
}


div.fxshlnkgqnxh{
	text-align:center;
	padding:10px;
}

div.eajofczauzd{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.rzfxcafzsjr h1{
	margin:0px;
}

div.vwlabxcp{
	text-align:right;
}

div.ionmlhxodgi{	
	margin-bottom:30px;	
}

span.rzxbzielkwg{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.rzxbzielkwg{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.sotmhuudapxp{
	text-align:center;
}

img{
	border-radius:16px 0 0 0;
	-webkit-border-radius:16px 0 0 0; 
	-moz-border-radius:16px 0 0 0; 
	-khtml-border-radius:16px 0 0 0;
}

div.leeqhhnt{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.gxjisauzsb{
	background-color:#ff4d00;
	border-radius:16px 0 0 0;
	-webkit-border-radius:16px 0 0 0;
	-moz-border-radius:16px 0 0 0;
	-khtml-border-radius:16px 0 0 0;
	box-shadow:2px 0px 5px 6px #ff1500;
	-moz-box-shadow:2px 0px 5px 6px #ff1500;
    -webkit-box-shadow:2px 0px 5px 6px #ff1500;
	border: 3px #ff8400 dashed;
	padding:10px;	
}

span.gxjisauzsb{
	background-color:#cccccc;
	border-radius:16px 0 0 0;
	-webkit-border-radius:16px 0 0 0;
	-moz-border-radius:16px 0 0 0;
	-khtml-border-radius:16px 0 0 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.nxubjikbnqqg{
	background-color:#ff7700;
	border-radius:16px 0 0 0; 
	-webkit-border-radius:16px 0 0 0; 
	-moz-border-radius:16px 0 0 0; 
	-khtml-border-radius:16px 0 0 0;
	box-shadow:2px 0px 5px 6px #ff4000;
	-moz-box-shadow:2px 0px 5px 6px #ff4000;
    -webkit-box-shadow:2px 0px 5px 6px #ff4000;	
	border: 3px #ffae00 dashed;	
}

div.vrnepgfcaq{
	background-color:#ffa200;
	border-radius:16px 0 0 0; 
	-webkit-border-radius:16px 0 0 0; 
	-moz-border-radius:16px 0 0 0; 
	-khtml-border-radius:16px 0 0 0;
	box-shadow:2px 0px 5px 6px #ff1500;
	-moz-box-shadow:2px 0px 5px 6px #ff1500;
    -webkit-box-shadow:2px 0px 5px 6px #ff1500;
	border: 3px #ff8400 dashed;	
}

div.fqlpwozm{
	background-color:#006cff;
	border-radius:16px 0 0 0; 
	-webkit-border-radius:16px 0 0 0; 
	-moz-border-radius:16px 0 0 0; 
	-khtml-border-radius:16px 0 0 0;
	box-shadow:2px 0px 5px 6px #1e00ff;
	-moz-box-shadow:2px 0px 5px 6px #1e00ff;
    -webkit-box-shadow:2px 0px 5px 6px #1e00ff;	
	border: 3px #00ffff dashed;	
}

div.kweugomis{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.tkwbuwhwam{
	margin:15px;
	padding:10px;
}


table.ffwxutvu td{
	vertical-align:top;
}


div.lbhardophafh{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.ehhlpjjftq{
	margin-bottom:15px;
	font-size:80%;
}


img.sopzhnjmuqo{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.oigmlobxuwbk{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.dvstwmaobq{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.edibmces{
	margin:7px;
	border-radius:16px 0 0 0; 
	-webkit-border-radius:16px 0 0 0; 
	-moz-border-radius:16px 0 0 0; 
	-khtml-border-radius:16px 0 0 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.kihazhlkkfkw{
	padding:10px;
	margin-bottom:30px;
}


div.qwswtgukba{
	clear:both;
}


div.prmolfklit{
	margin-bottom:10px;
}


div.rzfxcafzsjr{
	margin:15px;
	text-align:right;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.whxvjushquwb{
	margin-bottom:15px;
}


div.tjikrvvd{
	margin:auto;
	width:420px;
}

div.juaqpwldolfm{
	text-align:center;	
}

div.cscqatwkasnj{
	text-align:right;
	font-weight:bold;
	font-size:125%;
}

div.kuzoeemzw{
	text-align:center;
}


td.jjvwtwxnffl{
	vertical-align:top;
}

div.xrhzjxuds{
	width:950px;
	padding:20px;
}

div.ttodohwb{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.rmqokhdw{
	text-align:center;
}