h1{
	font-size:125%;
}
div.wgohoeewsq{
	font-weight:bold;
}
a.rmwmqlojg{
	font-size:140%;
}

div.rzfxcafzsjr a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:14px;	
	font-family:Lucida Console;
}

a{
	color:#000000;	
}

span.zqnzvswfhjg h1{
	color:#ffffff;
}

div.ttodohwb{
	color:#ffffff;
}

div.juaqpwldolfm{
	color:#ffffff;
}

div.juaqpwldolfm a{
	color:#ffffff;
}

a.dafpnlqk{
	text-decoration:none;
	font-size:115%;
}

li.aaplpjtxn a{
	text-decoration:none;	
}

li.aaplpjtxn{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.zupfwwfe{		
	list-style-type:circle;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.iewnxwzzuc{
	font-size:125%;
}


div.gxjisauzsb{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.gxjisauzsb a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.nxubjikbnqqg{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.nxubjikbnqqg a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.vrnepgfcaq{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.vrnepgfcaq a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.fqlpwozm{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.fqlpwozm a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.edibmces{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.edibmces a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.msfhcxczk{
	font-size:75%;	
}

div.rmqokhdw{	
	font-size:75%;		
}