
h1{
	font-size:125%;
}
div.login_title{
	font-weight:bold;
}span.small{	font-size:75%;}div.admin_menu{	font-family: Courier New, Lucida Console, monospace;	font-size:125%;}
span.weight-big{
	font-weight:bold;
}