@import url('typography.css');

body{
	background-color:#bbbbbb;
}

div.ucxjgwmrukl{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.vozzkzvfxvdk{

}

span.pswgltqmz{
	display: inline-block;
	padding:6px;
	background: #E8EFF7;
	border: 1px solid #E9E9E9;
	border-radius:15px 15px 0 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.wognmlxfuqwf{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.pswgltqmz:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.pswgltqmz a:hover{
	box-shadow: 0 0 10px #555;
}


div.bbhkehqwzgw{
	text-align:center;
	padding:10px;
}

div.zblzbgwttw{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.qatwzhtjqo h1{
	margin:0px;
}

div.qwiewtmiaj{
	text-align:right;
}

div.azrnwravaf{	
	margin-bottom:30px;	
}

span.lzjpvxjb{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.lzjpvxjb{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.iwxikezwswrb{
	text-align:center;
}

img{
	border-radius:15px 15px 0 0;
	-webkit-border-radius:15px 15px 0 0; 
	-moz-border-radius:15px 15px 0 0; 
	-khtml-border-radius:15px 15px 0 0;
}

div.ltwxiqulw{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.totogkfv{
	background-color:#ff8e00;
	border-radius:15px 15px 0 0;
	-webkit-border-radius:15px 15px 0 0;
	-moz-border-radius:15px 15px 0 0;
	-khtml-border-radius:15px 15px 0 0;
	box-shadow:2px 3px 3px 6px #ff3900;
	-moz-box-shadow:2px 3px 3px 6px #ff3900;
    -webkit-box-shadow:2px 3px 3px 6px #ff3900;
	border: 3px #ffe300 double;
	padding:10px;	
}

span.totogkfv{
	background-color:#cccccc;
	border-radius:15px 15px 0 0;
	-webkit-border-radius:15px 15px 0 0;
	-moz-border-radius:15px 15px 0 0;
	-khtml-border-radius:15px 15px 0 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.nzffbhpcn{
	background-color:#ffb900;
	border-radius:15px 15px 0 0; 
	-webkit-border-radius:15px 15px 0 0; 
	-moz-border-radius:15px 15px 0 0; 
	-khtml-border-radius:15px 15px 0 0;
	box-shadow:2px 3px 3px 6px #ff6400;
	-moz-box-shadow:2px 3px 3px 6px #ff6400;
    -webkit-box-shadow:2px 3px 3px 6px #ff6400;	
	border: 3px #e1ff00 double;	
}

div.ikbtfbhwqpg{
	background-color:#ffe300;
	border-radius:15px 15px 0 0; 
	-webkit-border-radius:15px 15px 0 0; 
	-moz-border-radius:15px 15px 0 0; 
	-khtml-border-radius:15px 15px 0 0;
	box-shadow:2px 3px 3px 6px #ff3900;
	-moz-box-shadow:2px 3px 3px 6px #ff3900;
    -webkit-box-shadow:2px 3px 3px 6px #ff3900;
	border: 3px #ffe300 double;	
}

div.kxoaxnizw{
	background-color:#3300ff;
	border-radius:15px 15px 0 0; 
	-webkit-border-radius:15px 15px 0 0; 
	-moz-border-radius:15px 15px 0 0; 
	-khtml-border-radius:15px 15px 0 0;
	box-shadow:2px 3px 3px 6px #dd00ff;
	-moz-box-shadow:2px 3px 3px 6px #dd00ff;
    -webkit-box-shadow:2px 3px 3px 6px #dd00ff;	
	border: 3px #009fff double;	
}

div.czxwagpfr{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.jqewbeahah{
	margin:15px;
	padding:10px;
}


table.uczxeqrppm td{
	vertical-align:top;
}


div.bvzpkcwffb{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.sqzgdeptwzc{
	margin-bottom:15px;
	font-size:80%;
}


img.xqessgcj{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.jokcdurbd{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.oslwvwrtxh{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.gostbfqgmqbc{
	margin:7px;
	border-radius:15px 15px 0 0; 
	-webkit-border-radius:15px 15px 0 0; 
	-moz-border-radius:15px 15px 0 0; 
	-khtml-border-radius:15px 15px 0 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.fmhkuvlv{
	padding:10px;
	margin-bottom:30px;
}


div.orturoukqfg{
	clear:both;
}


div.jfvblrshs{
	margin-bottom:10px;
}


div.qatwzhtjqo{
	margin:15px;
	text-align:left;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.rkttwhlc{
	margin-bottom:15px;
}


div.ghgldgvs{
	margin:auto;
	width:420px;
}

div.vxeowcmgc{
	text-align:center;	
}

div.vhgpazwqfd{
	text-align:left;
	font-weight:bold;
	font-size:125%;
}

div.dddwfzvsmnnw{
	text-align:center;
}


td.wcjizwqpvrql{
	vertical-align:top;
}

div.xwwkjhobl{
	width:950px;
	padding:20px;
}

div.okxbmfdvk{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.arxjvbdslxq{
	text-align:right;
}