h1{
	font-size:125%;
}
div.gtnnznjxc{
	font-weight:bold;
}
a.htjgwteqfdi{
	font-size:140%;
}

div.qatwzhtjqo a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:15px;	
	font-family:Century Gothic;
}

a{
	color:#000000;	
}

span.xqeiampbfixn h1{
	color:#000000;
}

div.okxbmfdvk{
	color:#000000;
}

div.vxeowcmgc{
	color:#000000;
}

div.vxeowcmgc a{
	color:#000000;
}

a.mzqnpdwjxe{
	text-decoration:none;
	font-size:115%;
}

li.qenikozxg a{
	text-decoration:none;	
}

li.qenikozxg{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.xmhcdcdfzdw{		
	list-style-type:square;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.iqbenavzk{
	font-size:125%;
}


div.totogkfv{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.totogkfv a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.nzffbhpcn{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.nzffbhpcn a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.ikbtfbhwqpg{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.ikbtfbhwqpg a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.kxoaxnizw{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.kxoaxnizw a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.gostbfqgmqbc{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.gostbfqgmqbc a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.tlhxwvbvz{
	font-size:75%;	
}

div.arxjvbdslxq{	
	font-size:75%;		
}