@import url('typography.css');

body{
	background-color:#000000;
}

div.bwpjtccoz{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.kdpcavxg{

}

span.wtrexnul{
	display: inline-block;
	padding:4px;
	background: #EEF4FB;
	border: 1px solid #E9E9E9;
	border-radius:0 19px 0 19px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.aqkoppebc{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.wtrexnul:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.wtrexnul a:hover{
	box-shadow: 0 0 10px #555;
}


div.jmwjbbtqwmd{
	text-align:center;
	padding:10px;
}

div.wzueqhbwhpwc{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.qmfdqudahd h1{
	margin:0px;
}

div.dvibczslaz{
	text-align:left;
}

div.pmnawouc{	
	margin-bottom:30px;	
}

span.wpurmbwmaw{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.wpurmbwmaw{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.komgjsjrwnw{
	text-align:center;
}

img{
	border-radius:0 19px 0 19px;
	-webkit-border-radius:0 19px 0 19px; 
	-moz-border-radius:0 19px 0 19px; 
	-khtml-border-radius:0 19px 0 19px;
}

div.wrqivexssqkl{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.ejiskmtf{
	background-color:#37ff00;
	border-radius:0 19px 0 19px;
	-webkit-border-radius:0 19px 0 19px;
	-moz-border-radius:0 19px 0 19px;
	-khtml-border-radius:0 19px 0 19px;
	box-shadow:6px 0px 0px 5px #00ff77;
	-moz-box-shadow:6px 0px 0px 5px #00ff77;
    -webkit-box-shadow:6px 0px 0px 5px #00ff77;
	border: 2px #aaff00 double;
	padding:10px;	
}

span.ejiskmtf{
	background-color:#cccccc;
	border-radius:0 19px 0 19px;
	-webkit-border-radius:0 19px 0 19px;
	-moz-border-radius:0 19px 0 19px;
	-khtml-border-radius:0 19px 0 19px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.aoorqadlp{
	background-color:#00ff3c;
	border-radius:0 19px 0 19px; 
	-webkit-border-radius:0 19px 0 19px; 
	-moz-border-radius:0 19px 0 19px; 
	-khtml-border-radius:0 19px 0 19px;
	box-shadow:6px 0px 0px 5px #00e8ff;
	-moz-box-shadow:6px 0px 0px 5px #00e8ff;
    -webkit-box-shadow:6px 0px 0px 5px #00e8ff;	
	border: 2px #55ff00 double;	
}

div.agpapews{
	background-color:#00ffe6;
	border-radius:0 19px 0 19px; 
	-webkit-border-radius:0 19px 0 19px; 
	-moz-border-radius:0 19px 0 19px; 
	-khtml-border-radius:0 19px 0 19px;
	box-shadow:6px 0px 0px 5px #00ff77;
	-moz-box-shadow:6px 0px 0px 5px #00ff77;
    -webkit-box-shadow:6px 0px 0px 5px #00ff77;
	border: 2px #aaff00 double;	
}

div.vcmghoeuexdx{
	background-color:#ff0f00;
	border-radius:0 19px 0 19px; 
	-webkit-border-radius:0 19px 0 19px; 
	-moz-border-radius:0 19px 0 19px; 
	-khtml-border-radius:0 19px 0 19px;
	box-shadow:6px 0px 0px 5px #ff0071;
	-moz-box-shadow:6px 0px 0px 5px #ff0071;
    -webkit-box-shadow:6px 0px 0px 5px #ff0071;	
	border: 2px #ff4800 double;	
}

div.lfpautisfp{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.elcfnsbv{
	margin:15px;
	padding:10px;
}


table.rwjtpjthf td{
	vertical-align:top;
}


div.mcsgntuwjjsm{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.nenshkushdri{
	margin-bottom:15px;
	font-size:80%;
}


img.owpvkawbwr{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.wrigkctsf{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.ickaxlomveuj{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.hslngjxmajle{
	margin:7px;
	border-radius:0 19px 0 19px; 
	-webkit-border-radius:0 19px 0 19px; 
	-moz-border-radius:0 19px 0 19px; 
	-khtml-border-radius:0 19px 0 19px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.ujkjhhnj{
	padding:10px;
	margin-bottom:30px;
}


div.mkbfrjxkbgww{
	clear:both;
}


div.klaurofck{
	margin-bottom:10px;
}


div.qmfdqudahd{
	margin:15px;
	text-align:right;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.omlwsqcmtvg{
	margin-bottom:15px;
}


div.htgnjpwipd{
	margin:auto;
	width:420px;
}

div.ncofzlpzgsm{
	text-align:center;	
}

div.gowbmabnxrso{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.rbarpvhlngdh{
	text-align:center;
}


td.zwrgipot{
	vertical-align:top;
}

div.jjqdddmnfikj{
	width:950px;
	padding:20px;
}

div.wzjhhitlma{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.hwdcsrizb{
	text-align:right;
}