h1{
	font-size:125%;
}
div.qccgqfgo{
	font-weight:bold;
}
a.oizturznec{
	font-size:140%;
}

div.qmfdqudahd a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:15px;	
	font-family:Arial;
}

a{
	color:#000000;	
}

span.jkadlsgsgv h1{
	color:#ffffff;
}

div.wzjhhitlma{
	color:#ffffff;
}

div.ncofzlpzgsm{
	color:#ffffff;
}

div.ncofzlpzgsm a{
	color:#ffffff;
}

a.tzwmgeur{
	text-decoration:none;
	font-size:115%;
}

li.wpnwwcknble a{
	text-decoration:none;	
}

li.wpnwwcknble{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.ckdecfdppo{		
	list-style-type:square;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.htrfdcglqu{
	font-size:125%;
}


div.ejiskmtf{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.ejiskmtf a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.aoorqadlp{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.aoorqadlp a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.agpapews{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.agpapews a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.vcmghoeuexdx{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.vcmghoeuexdx a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.hslngjxmajle{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.hslngjxmajle a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.ctkgnzappg{
	font-size:75%;	
}

div.hwdcsrizb{	
	font-size:75%;		
}