@import url('typography.css');

body{
	background-color:#333333;
}

div.wufqmegu{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.efjihfptlu{

}

span.ddbiiiqu{
	display: inline-block;
	padding:3px;
	background: #EEF4FB;
	border: 1px solid #E9E9E9;
	border-radius:30px 0 30px 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.lotzomwqamp{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.ddbiiiqu:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.ddbiiiqu a:hover{
	box-shadow: 0 0 10px #555;
}


div.xdkvpnqndh{
	text-align:center;
	padding:10px;
}

div.zxmpwwsgvsbf{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.eddetbhumj h1{
	margin:0px;
}

div.sufnsrdpe{
	text-align:left;
}

div.gszmdqkwwo{	
	margin-bottom:30px;	
}

span.qffbjavmw{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.qffbjavmw{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.dwwgigcj{
	text-align:center;
}

img{
	border-radius:30px 0 30px 0;
	-webkit-border-radius:30px 0 30px 0; 
	-moz-border-radius:30px 0 30px 0; 
	-khtml-border-radius:30px 0 30px 0;
}

div.ucksjwzw{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.weuoapejv{
	background-color:#8400ff;
	border-radius:30px 0 30px 0;
	-webkit-border-radius:30px 0 30px 0;
	-moz-border-radius:30px 0 30px 0;
	-khtml-border-radius:30px 0 30px 0;
	box-shadow:2px 5px 1px 1px #ff00cc;
	-moz-box-shadow:2px 5px 1px 1px #ff00cc;
    -webkit-box-shadow:2px 5px 1px 1px #ff00cc;
	border: 5px #0028ff dashed;
	padding:10px;	
}

span.weuoapejv{
	background-color:#cccccc;
	border-radius:30px 0 30px 0;
	-webkit-border-radius:30px 0 30px 0;
	-moz-border-radius:30px 0 30px 0;
	-khtml-border-radius:30px 0 30px 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.hohauovrz{
	background-color:#d900ff;
	border-radius:30px 0 30px 0; 
	-webkit-border-radius:30px 0 30px 0; 
	-moz-border-radius:30px 0 30px 0; 
	-khtml-border-radius:30px 0 30px 0;
	box-shadow:2px 5px 1px 1px #3700ff;
	-moz-box-shadow:2px 5px 1px 1px #3700ff;
    -webkit-box-shadow:2px 5px 1px 1px #3700ff;	
	border: 5px #ff005b dashed;	
}

div.kwmtnxpd{
	background-color:#ff00c1;
	border-radius:30px 0 30px 0; 
	-webkit-border-radius:30px 0 30px 0; 
	-moz-border-radius:30px 0 30px 0; 
	-khtml-border-radius:30px 0 30px 0;
	box-shadow:2px 5px 1px 1px #0028ff;
	-moz-box-shadow:2px 5px 1px 1px #0028ff;
    -webkit-box-shadow:2px 5px 1px 1px #0028ff;
	border: 5px #ff00cc dashed;	
}

div.ezqtuweg{
	background-color:#e5ff00;
	border-radius:30px 0 30px 0; 
	-webkit-border-radius:30px 0 30px 0; 
	-moz-border-radius:30px 0 30px 0; 
	-khtml-border-radius:30px 0 30px 0;
	box-shadow:2px 5px 1px 1px #44ff00;
	-moz-box-shadow:2px 5px 1px 1px #44ff00;
    -webkit-box-shadow:2px 5px 1px 1px #44ff00;	
	border: 5px #ffbb00 dashed;	
}

div.aaebpamkjo{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.mmmpwtcvvih{
	margin:15px;
	padding:10px;
}


table.twimuvdjo td{
	vertical-align:top;
}


div.bkeuwoeuwir{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.eqhxvzcwuirv{
	margin-bottom:15px;
	font-size:80%;
}


img.dernjchlnq{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.bnhbsxgefoax{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.atlrfaowqxkg{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.atgmmuqjv{
	margin:7px;
	border-radius:30px 0 30px 0; 
	-webkit-border-radius:30px 0 30px 0; 
	-moz-border-radius:30px 0 30px 0; 
	-khtml-border-radius:30px 0 30px 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.vieiqjduk{
	padding:10px;
	margin-bottom:30px;
}


div.uvwzsdraazjz{
	clear:both;
}


div.bkirppcsh{
	margin-bottom:10px;
}


div.eddetbhumj{
	margin:15px;
	text-align:right;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.rmjlbpogs{
	margin-bottom:15px;
}


div.bpquqwhn{
	margin:auto;
	width:420px;
}

div.wpzgwbghwr{
	text-align:center;	
}

div.ffwehpplfmjw{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.qegzkkku{
	text-align:center;
}


td.caivrgvqdpa{
	vertical-align:top;
}

div.xfbearsbxc{
	width:950px;
	padding:20px;
}

div.aobfjkqa{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.llhddohslprc{
	text-align:left;
}