h1{
	font-size:125%;
}
div.qscihcaiqbuv{
	font-weight:bold;
}
a.irhgcorgd{
	font-size:140%;
}

div.eddetbhumj a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:16px;	
	font-family:Arial Black;
}

a{
	color:#000000;	
}

span.mhperzfcrlg h1{
	color:#ffffff;
}

div.aobfjkqa{
	color:#ffffff;
}

div.wpzgwbghwr{
	color:#ffffff;
}

div.wpzgwbghwr a{
	color:#ffffff;
}

a.nhjjqnvwz{
	text-decoration:none;
	font-size:115%;
}

li.ijbgcoukvvsj a{
	text-decoration:none;	
}

li.ijbgcoukvvsj{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.attqmjqqboq{		
	list-style-type:disc;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.cuvllzuelr{
	font-size:125%;
}


div.weuoapejv{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.weuoapejv a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.hohauovrz{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.hohauovrz a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.kwmtnxpd{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.kwmtnxpd a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.ezqtuweg{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.ezqtuweg a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.atgmmuqjv{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.atgmmuqjv a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.wxuwkfvvvfs{
	font-size:75%;	
}

div.llhddohslprc{	
	font-size:75%;		
}