@import url('typography.css');

body{
	background-color:#999999;
}

div.zkmtpbua{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.urrbahxbudke{

}

span.klidqsufwk{
	display: inline-block;
	padding:6px;
	background: #F6F6F6;
	border: 1px solid #E9E9E9;
	border-radius:17px 0 17px 17px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.qxhpxpodzr{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.klidqsufwk:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.klidqsufwk a:hover{
	box-shadow: 0 0 10px #555;
}


div.kieqewskwgkk{
	text-align:center;
	padding:10px;
}

div.gukvkaphs{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.szpuzvaaccm h1{
	margin:0px;
}

div.hswrgwwtgr{
	text-align:left;
}

div.izgnmrmru{	
	margin-bottom:30px;	
}

span.tdigwwtc{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.tdigwwtc{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.ncupwzzkk{
	text-align:center;
}

img{
	border-radius:17px 0 17px 17px;
	-webkit-border-radius:17px 0 17px 17px; 
	-moz-border-radius:17px 0 17px 17px; 
	-khtml-border-radius:17px 0 17px 17px;
}

div.zkdglamipb{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.hewphkhtwz{
	background-color:#fff900;
	border-radius:17px 0 17px 17px;
	-webkit-border-radius:17px 0 17px 17px;
	-moz-border-radius:17px 0 17px 17px;
	-khtml-border-radius:17px 0 17px 17px;
	box-shadow:3px 0px 2px 0px #ffa600;
	-moz-box-shadow:3px 0px 2px 0px #ffa600;
    -webkit-box-shadow:3px 0px 2px 0px #ffa600;
	border: 4px #66ff00 grouve;
	padding:10px;	
}

span.hewphkhtwz{
	background-color:#cccccc;
	border-radius:17px 0 17px 17px;
	-webkit-border-radius:17px 0 17px 17px;
	-moz-border-radius:17px 0 17px 17px;
	-khtml-border-radius:17px 0 17px 17px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.lddwqrpfuqo{
	background-color:#b7ff00;
	border-radius:17px 0 17px 17px; 
	-webkit-border-radius:17px 0 17px 17px; 
	-moz-border-radius:17px 0 17px 17px; 
	-khtml-border-radius:17px 0 17px 17px;
	box-shadow:3px 0px 2px 0px #11ff00;
	-moz-box-shadow:3px 0px 2px 0px #11ff00;
    -webkit-box-shadow:3px 0px 2px 0px #11ff00;	
	border: 4px #ffd000 grouve;	
}

div.wotejnkafe{
	background-color:#62ff00;
	border-radius:17px 0 17px 17px; 
	-webkit-border-radius:17px 0 17px 17px; 
	-moz-border-radius:17px 0 17px 17px; 
	-khtml-border-radius:17px 0 17px 17px;
	box-shadow:3px 0px 2px 0px #66ff00;
	-moz-box-shadow:3px 0px 2px 0px #66ff00;
    -webkit-box-shadow:3px 0px 2px 0px #66ff00;
	border: 4px #ffa600 grouve;	
}

div.jxplclitn{
	background-color:#ff00f4;
	border-radius:17px 0 17px 17px; 
	-webkit-border-radius:17px 0 17px 17px; 
	-moz-border-radius:17px 0 17px 17px; 
	-khtml-border-radius:17px 0 17px 17px;
	box-shadow:3px 0px 2px 0px #6200ff;
	-moz-box-shadow:3px 0px 2px 0px #6200ff;
    -webkit-box-shadow:3px 0px 2px 0px #6200ff;	
	border: 4px #ff0017 grouve;	
}

div.nkngtckad{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.amfzsbdc{
	margin:15px;
	padding:10px;
}


table.uldgcgihz td{
	vertical-align:top;
}


div.ktxhnnuf{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.wezjwzgbqr{
	margin-bottom:15px;
	font-size:80%;
}


img.rbgbwnei{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.vkkxjlln{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.earxegpcirzx{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.lcdpcqdd{
	margin:7px;
	border-radius:17px 0 17px 17px; 
	-webkit-border-radius:17px 0 17px 17px; 
	-moz-border-radius:17px 0 17px 17px; 
	-khtml-border-radius:17px 0 17px 17px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.utsahivzksl{
	padding:10px;
	margin-bottom:30px;
}


div.ufbwrsomv{
	clear:both;
}


div.mdkpumedwo{
	margin-bottom:10px;
}


div.szpuzvaaccm{
	margin:15px;
	text-align:right;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.bxaordwdv{
	margin-bottom:15px;
}


div.utxuwqsrqnp{
	margin:auto;
	width:420px;
}

div.fplxgpnqtss{
	text-align:center;	
}

div.jskhetjqtqzl{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.mbrecavrr{
	text-align:center;
}


td.vjwhfhzuwcs{
	vertical-align:top;
}

div.ivggnbjkwz{
	width:950px;
	padding:20px;
}

div.vocouunpf{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.wbkqgdfrepw{
	text-align:left;
}