h1{
	font-size:125%;
}
div.vqnhuzfic{
	font-weight:bold;
}
a.whjwwqtkektc{
	font-size:140%;
}

div.szpuzvaaccm a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:14px;	
	font-family:Times New Roman;
}

a{
	color:#000000;	
}

span.zoezjrjuagxe h1{
	color:#000000;
}

div.vocouunpf{
	color:#000000;
}

div.fplxgpnqtss{
	color:#000000;
}

div.fplxgpnqtss a{
	color:#000000;
}

a.wlkpphkxbcmj{
	text-decoration:none;
	font-size:115%;
}

li.cmzaauefc a{
	text-decoration:none;	
}

li.cmzaauefc{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.xnaasaae{		
	list-style-type:circle;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.huzslphkce{
	font-size:125%;
}


div.hewphkhtwz{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.hewphkhtwz a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.lddwqrpfuqo{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.lddwqrpfuqo a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.wotejnkafe{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.wotejnkafe a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.jxplclitn{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.jxplclitn a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.lcdpcqdd{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.lcdpcqdd a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.zhqflrvagh{
	font-size:75%;	
}

div.wbkqgdfrepw{	
	font-size:75%;		
}