@import url('typography.css');

body{
	background-color:#222222;
}

div.prcmwwpa{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.bklakzus{

}

span.hrwovfxpowj{
	display: inline-block;
	padding:3px;
	background: #F4EFDF;
	border: 1px solid #E9E9E9;
	border-radius:0 19px 0 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.wangwzdba{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.hrwovfxpowj:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.hrwovfxpowj a:hover{
	box-shadow: 0 0 10px #555;
}


div.imeowwwvcbbj{
	text-align:center;
	padding:10px;
}

div.kfinshgsju{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.jfqweojgj h1{
	margin:0px;
}

div.warsrfiss{
	text-align:left;
}

div.apmvzfxxxx{	
	margin-bottom:30px;	
}

span.vaogdclowh{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.vaogdclowh{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.kwiwizlsfx{
	text-align:center;
}

img{
	border-radius:0 19px 0 0;
	-webkit-border-radius:0 19px 0 0; 
	-moz-border-radius:0 19px 0 0; 
	-khtml-border-radius:0 19px 0 0;
}

div.dpribkwzv{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.upgstwsq{
	background-color:#84ff00;
	border-radius:0 19px 0 0;
	-webkit-border-radius:0 19px 0 0;
	-moz-border-radius:0 19px 0 0;
	-khtml-border-radius:0 19px 0 0;
	box-shadow:0px 3px 4px 0px #00ff3c;
	-moz-box-shadow:0px 3px 4px 0px #00ff3c;
    -webkit-box-shadow:0px 3px 4px 0px #00ff3c;
	border: 2px #ffec00 ridge;
	padding:10px;	
}

span.upgstwsq{
	background-color:#cccccc;
	border-radius:0 19px 0 0;
	-webkit-border-radius:0 19px 0 0;
	-moz-border-radius:0 19px 0 0;
	-khtml-border-radius:0 19px 0 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.bawcvnwd{
	background-color:#2fff00;
	border-radius:0 19px 0 0; 
	-webkit-border-radius:0 19px 0 0; 
	-moz-border-radius:0 19px 0 0; 
	-khtml-border-radius:0 19px 0 0;
	box-shadow:0px 3px 4px 0px #00ffe6;
	-moz-box-shadow:0px 3px 4px 0px #00ffe6;
    -webkit-box-shadow:0px 3px 4px 0px #00ffe6;	
	border: 2px #d0ff00 ridge;	
}

div.cqspcpwnht{
	background-color:#00ff4d;
	border-radius:0 19px 0 0; 
	-webkit-border-radius:0 19px 0 0; 
	-moz-border-radius:0 19px 0 0; 
	-khtml-border-radius:0 19px 0 0;
	box-shadow:0px 3px 4px 0px #00ff3c;
	-moz-box-shadow:0px 3px 4px 0px #00ff3c;
    -webkit-box-shadow:0px 3px 4px 0px #00ff3c;
	border: 2px #ffec00 ridge;	
}

div.wcpcaiauo{
	background-color:#ff003e;
	border-radius:0 19px 0 0; 
	-webkit-border-radius:0 19px 0 0; 
	-moz-border-radius:0 19px 0 0; 
	-khtml-border-radius:0 19px 0 0;
	box-shadow:0px 3px 4px 0px #ee00ff;
	-moz-box-shadow:0px 3px 4px 0px #ee00ff;
    -webkit-box-shadow:0px 3px 4px 0px #ee00ff;	
	border: 2px #ff3900 ridge;	
}

div.olswesgnh{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.iwxxskmoqxa{
	margin:15px;
	padding:10px;
}


table.ttwviuge td{
	vertical-align:top;
}


div.ijgggirm{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.oocabmscgopx{
	margin-bottom:15px;
	font-size:80%;
}


img.iluexnpi{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.nsblqxkbqosw{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.obloewxlgdw{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.fgjpvhbv{
	margin:7px;
	border-radius:0 19px 0 0; 
	-webkit-border-radius:0 19px 0 0; 
	-moz-border-radius:0 19px 0 0; 
	-khtml-border-radius:0 19px 0 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.qzwwiuqrtm{
	padding:10px;
	margin-bottom:30px;
}


div.lzthpjrda{
	clear:both;
}


div.umzgfnkdozpc{
	margin-bottom:10px;
}


div.jfqweojgj{
	margin:15px;
	text-align:center;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.ckdwodrnostm{
	margin-bottom:15px;
}


div.ktutcsbvdcli{
	margin:auto;
	width:420px;
}

div.vlackfdeu{
	text-align:center;	
}

div.hzmwvjknk{
	text-align:right;
	font-weight:bold;
	font-size:125%;
}

div.ahfpitarvaa{
	text-align:center;
}


td.kswzpxajjfw{
	vertical-align:top;
}

div.dswjxzted{
	width:950px;
	padding:20px;
}

div.omvucpkz{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.kwjtfrzuxu{
	text-align:right;
}