h1{
	font-size:125%;
}
div.lvrwwthuzc{
	font-weight:bold;
}
a.kusffbwx{
	font-size:140%;
}

div.jfqweojgj a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:16px;	
	font-family:Franklin Gothic Medium;
}

a{
	color:#000000;	
}

span.amfjkwqkl h1{
	color:#ffffff;
}

div.omvucpkz{
	color:#ffffff;
}

div.vlackfdeu{
	color:#ffffff;
}

div.vlackfdeu a{
	color:#ffffff;
}

a.cbwucjvnpacl{
	text-decoration:none;
	font-size:115%;
}

li.awilzwng a{
	text-decoration:none;	
}

li.awilzwng{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.iwktzwlf{		
	list-style-type:square;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.dgaddjhorspb{
	font-size:125%;
}


div.upgstwsq{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.upgstwsq a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.bawcvnwd{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.bawcvnwd a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.cqspcpwnht{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.cqspcpwnht a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.wcpcaiauo{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.wcpcaiauo a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.fgjpvhbv{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.fgjpvhbv a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.uavhoeoo{
	font-size:75%;	
}

div.kwjtfrzuxu{	
	font-size:75%;		
}