@import url('typography.css');

body{
	background-color:#555555;
}

div.voxveccpfu{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.ezwwocbtfroc{

}

span.hdjuawjc{
	display: inline-block;
	padding:4px;
	background: #EFEFEF;
	border: 1px solid #E9E9E9;
	border-radius:0 0 0 20px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.tlotulemss{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.hdjuawjc:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.hdjuawjc a:hover{
	box-shadow: 0 0 10px #555;
}


div.ruccwszwl{
	text-align:center;
	padding:10px;
}

div.drtmxxxhfpn{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.ietidqcnzkso h1{
	margin:0px;
}

div.nefokpsnbos{
	text-align:right;
}

div.xdnlwwuqqbuf{	
	margin-bottom:30px;	
}

span.cepjdfpvupnv{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.cepjdfpvupnv{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.ohitveut{
	text-align:center;
}

img{
	border-radius:0 0 0 20px;
	-webkit-border-radius:0 0 0 20px; 
	-moz-border-radius:0 0 0 20px; 
	-khtml-border-radius:0 0 0 20px;
}

div.betqhzucrem{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.pewtwauwwda{
	background-color:#a200ff;
	border-radius:0 0 0 20px;
	-webkit-border-radius:0 0 0 20px;
	-moz-border-radius:0 0 0 20px;
	-khtml-border-radius:0 0 0 20px;
	box-shadow:5px 2px 5px 4px #ff00f9;
	-moz-box-shadow:5px 2px 5px 4px #ff00f9;
    -webkit-box-shadow:5px 2px 5px 4px #ff00f9;
	border: 5px #4000ff dotted;
	padding:10px;	
}

span.pewtwauwwda{
	background-color:#cccccc;
	border-radius:0 0 0 20px;
	-webkit-border-radius:0 0 0 20px;
	-moz-border-radius:0 0 0 20px;
	-khtml-border-radius:0 0 0 20px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.lmivwotpb{
	background-color:#f700ff;
	border-radius:0 0 0 20px; 
	-webkit-border-radius:0 0 0 20px; 
	-moz-border-radius:0 0 0 20px; 
	-khtml-border-radius:0 0 0 20px;
	box-shadow:5px 2px 5px 4px #9500ff;
	-moz-box-shadow:5px 2px 5px 4px #9500ff;
    -webkit-box-shadow:5px 2px 5px 4px #9500ff;	
	border: 5px #ff0088 dotted;	
}

div.xiifwhngg{
	background-color:#ff0099;
	border-radius:0 0 0 20px; 
	-webkit-border-radius:0 0 0 20px; 
	-moz-border-radius:0 0 0 20px; 
	-khtml-border-radius:0 0 0 20px;
	box-shadow:5px 2px 5px 4px #4000ff;
	-moz-box-shadow:5px 2px 5px 4px #4000ff;
    -webkit-box-shadow:5px 2px 5px 4px #4000ff;
	border: 5px #ff00f9 dotted;	
}

div.zwddobda{
	background-color:#c8ff00;
	border-radius:0 0 0 20px; 
	-webkit-border-radius:0 0 0 20px; 
	-moz-border-radius:0 0 0 20px; 
	-khtml-border-radius:0 0 0 20px;
	box-shadow:5px 2px 5px 4px #66ff00;
	-moz-box-shadow:5px 2px 5px 4px #66ff00;
    -webkit-box-shadow:5px 2px 5px 4px #66ff00;	
	border: 5px #ffea00 dotted;	
}

div.hiwwmhrwed{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.khlxsiiisf{
	margin:15px;
	padding:10px;
}


table.lslslpzwa td{
	vertical-align:top;
}


div.iwlvkpkjrwd{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.ejjnhehh{
	margin-bottom:15px;
	font-size:80%;
}


img.xpwxqpau{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.xegzvcehaebz{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.gxrrrdkcgtu{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.jfwpvmlraak{
	margin:7px;
	border-radius:0 0 0 20px; 
	-webkit-border-radius:0 0 0 20px; 
	-moz-border-radius:0 0 0 20px; 
	-khtml-border-radius:0 0 0 20px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.tvjnjimf{
	padding:10px;
	margin-bottom:30px;
}


div.nixfwztpibo{
	clear:both;
}


div.kqnaahigr{
	margin-bottom:10px;
}


div.ietidqcnzkso{
	margin:15px;
	text-align:left;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.etivwwlj{
	margin-bottom:15px;
}


div.pajzcmwihu{
	margin:auto;
	width:420px;
}

div.jmmrholnvvf{
	text-align:center;	
}

div.eetqcwmpt{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.juxkwhtjdsbd{
	text-align:center;
}


td.cwmtdfuqvb{
	vertical-align:top;
}

div.avffifwlqotb{
	width:950px;
	padding:20px;
}

div.zcvjcpdgx{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.uwcmdwtvbe{
	text-align:right;
}