h1{
	font-size:125%;
}
div.excfvlttlc{
	font-weight:bold;
}
a.cgrlvanwcx{
	font-size:140%;
}

div.ietidqcnzkso a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:15px;	
	font-family:Georgia;
}

a{
	color:#000000;	
}

span.zmqwcalpej h1{
	color:#ffffff;
}

div.zcvjcpdgx{
	color:#ffffff;
}

div.jmmrholnvvf{
	color:#ffffff;
}

div.jmmrholnvvf a{
	color:#ffffff;
}

a.wtprvsha{
	text-decoration:none;
	font-size:115%;
}

li.qoiwkzhgnr a{
	text-decoration:none;	
}

li.qoiwkzhgnr{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.nwfqzdrw{		
	list-style-type:square;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.brukgijopf{
	font-size:125%;
}


div.pewtwauwwda{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.pewtwauwwda a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.lmivwotpb{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.lmivwotpb a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.xiifwhngg{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.xiifwhngg a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.zwddobda{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.zwddobda a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.jfwpvmlraak{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.jfwpvmlraak a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.hpkglfmmjw{
	font-size:75%;	
}

div.uwcmdwtvbe{	
	font-size:75%;		
}