@import url('typography.css');

body{
	background-color:#222222;
}

div.xbegxlhvpa{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.dzhbnnjqvex{

}

span.kkxtdfag{
	display: inline-block;
	padding:6px;
	background: #F1FCF1;
	border: 1px solid #E9E9E9;
	border-radius:0 10px 10px 10px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.biutxkdwf{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.kkxtdfag:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.kkxtdfag a:hover{
	box-shadow: 0 0 10px #555;
}


div.nmwvqxpvr{
	text-align:center;
	padding:10px;
}

div.dakezlae{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.tgkczhrv h1{
	margin:0px;
}

div.xisdgfvtcsp{
	text-align:left;
}

div.qqwnphlkepz{	
	margin-bottom:30px;	
}

span.dwazrwplmdcg{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.dwazrwplmdcg{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.iobkwlxlorkq{
	text-align:center;
}

img{
	border-radius:0 10px 10px 10px;
	-webkit-border-radius:0 10px 10px 10px; 
	-moz-border-radius:0 10px 10px 10px; 
	-khtml-border-radius:0 10px 10px 10px;
}

div.tsfkqixsvkxo{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.nzijthves{
	background-color:#ff3100;
	border-radius:0 10px 10px 10px;
	-webkit-border-radius:0 10px 10px 10px;
	-moz-border-radius:0 10px 10px 10px;
	-khtml-border-radius:0 10px 10px 10px;
	box-shadow:0px 5px 0px 5px #ff004a;
	-moz-box-shadow:0px 5px 0px 5px #ff004a;
    -webkit-box-shadow:0px 5px 0px 5px #ff004a;
	border: 0px #ff7d00 solid;
	padding:10px;	
}

span.nzijthves{
	background-color:#cccccc;
	border-radius:0 10px 10px 10px;
	-webkit-border-radius:0 10px 10px 10px;
	-moz-border-radius:0 10px 10px 10px;
	-khtml-border-radius:0 10px 10px 10px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.kemdxgrorwj{
	background-color:#ff5b00;
	border-radius:0 10px 10px 10px; 
	-webkit-border-radius:0 10px 10px 10px; 
	-moz-border-radius:0 10px 10px 10px; 
	-khtml-border-radius:0 10px 10px 10px;
	box-shadow:0px 5px 0px 5px #ff0f00;
	-moz-box-shadow:0px 5px 0px 5px #ff0f00;
    -webkit-box-shadow:0px 5px 0px 5px #ff0f00;	
	border: 0px #ffa800 solid;	
}

div.pfeowmeb{
	background-color:#ff8600;
	border-radius:0 10px 10px 10px; 
	-webkit-border-radius:0 10px 10px 10px; 
	-moz-border-radius:0 10px 10px 10px; 
	-khtml-border-radius:0 10px 10px 10px;
	box-shadow:0px 5px 0px 5px #ff004a;
	-moz-box-shadow:0px 5px 0px 5px #ff004a;
    -webkit-box-shadow:0px 5px 0px 5px #ff004a;
	border: 0px #ff7d00 solid;	
}

div.twixmpqrrt{
	background-color:#00b5ff;
	border-radius:0 10px 10px 10px; 
	-webkit-border-radius:0 10px 10px 10px; 
	-moz-border-radius:0 10px 10px 10px; 
	-khtml-border-radius:0 10px 10px 10px;
	box-shadow:0px 5px 0px 5px #1100ff;
	-moz-box-shadow:0px 5px 0px 5px #1100ff;
    -webkit-box-shadow:0px 5px 0px 5px #1100ff;	
	border: 0px #00ff3c solid;	
}

div.itlrpsiiwal{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.dqkbnaibzduo{
	margin:15px;
	padding:10px;
}


table.nwwxbeqpguds td{
	vertical-align:top;
}


div.iaowwobw{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.lmlwxtkz{
	margin-bottom:15px;
	font-size:80%;
}


img.dkmwnhwmgpn{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.dgsoourcjc{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.swstrxoorvdm{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.nkdehvpqzjmz{
	margin:7px;
	border-radius:0 10px 10px 10px; 
	-webkit-border-radius:0 10px 10px 10px; 
	-moz-border-radius:0 10px 10px 10px; 
	-khtml-border-radius:0 10px 10px 10px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.mwmaejwowahk{
	padding:10px;
	margin-bottom:30px;
}


div.mnxuvtwkrt{
	clear:both;
}


div.xbrehphsbkt{
	margin-bottom:10px;
}


div.tgkczhrv{
	margin:15px;
	text-align:left;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.ccwrxruh{
	margin-bottom:15px;
}


div.vgihpmqgpf{
	margin:auto;
	width:420px;
}

div.xxptddlvmj{
	text-align:center;	
}

div.nxetdvseognw{
	text-align:right;
	font-weight:bold;
	font-size:125%;
}

div.rscszwnq{
	text-align:center;
}


td.clswamiurwh{
	vertical-align:top;
}

div.rnzqckfxpi{
	width:950px;
	padding:20px;
}

div.xfofposem{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.cblgkfaiwmd{
	text-align:left;
}