h1{
	font-size:125%;
}
div.efhwnglasx{
	font-weight:bold;
}
a.bxccpucb{
	font-size:140%;
}

div.tgkczhrv a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:14px;	
	font-family:Microsoft Sans Serif;
}

a{
	color:#000000;	
}

span.rtxxflbkqao h1{
	color:#ffffff;
}

div.xfofposem{
	color:#ffffff;
}

div.xxptddlvmj{
	color:#ffffff;
}

div.xxptddlvmj a{
	color:#ffffff;
}

a.ruvanqvwwwb{
	text-decoration:none;
	font-size:115%;
}

li.cimatjoac a{
	text-decoration:none;	
}

li.cimatjoac{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.gxwcavhwwjbu{		
	list-style-type:circle;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.okkcbbeww{
	font-size:125%;
}


div.nzijthves{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.nzijthves a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.kemdxgrorwj{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.kemdxgrorwj a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.pfeowmeb{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.pfeowmeb a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.twixmpqrrt{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.twixmpqrrt a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.nkdehvpqzjmz{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.nkdehvpqzjmz a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.wsupaxsk{
	font-size:75%;	
}

div.cblgkfaiwmd{	
	font-size:75%;		
}