@import url('typography.css');

body{
	background-color:#111111;
}

div.jhjroueaugzp{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.dvqajjvgl{

}

span.kvigcdmicax{
	display: inline-block;
	padding:3px;
	background: #EFEFEF;
	border: 1px solid #E9E9E9;
	border-radius:0 17px 0 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.etbrmgwquv{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.kvigcdmicax:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.kvigcdmicax a:hover{
	box-shadow: 0 0 10px #555;
}


div.lhiwqtdqihaw{
	text-align:center;
	padding:10px;
}

div.sjecfalx{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.ieovdjrwtl h1{
	margin:0px;
}

div.wbkgnjsjc{
	text-align:left;
}

div.ijgzsgfkvs{	
	margin-bottom:30px;	
}

span.geubjscvaxs{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.geubjscvaxs{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.dtgfaqvtm{
	text-align:center;
}

img{
	border-radius:0 17px 0 0;
	-webkit-border-radius:0 17px 0 0; 
	-moz-border-radius:0 17px 0 0; 
	-khtml-border-radius:0 17px 0 0;
}

div.wqwcucecxwp{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.kdzzxrrh{
	background-color:#bfff00;
	border-radius:0 17px 0 0;
	-webkit-border-radius:0 17px 0 0;
	-moz-border-radius:0 17px 0 0;
	-khtml-border-radius:0 17px 0 0;
	box-shadow:3px 4px 1px 1px #37ff00;
	-moz-box-shadow:3px 4px 1px 1px #37ff00;
    -webkit-box-shadow:3px 4px 1px 1px #37ff00;
	border: 1px #ffdb00 double;
	padding:10px;	
}

span.kdzzxrrh{
	background-color:#cccccc;
	border-radius:0 17px 0 0;
	-webkit-border-radius:0 17px 0 0;
	-moz-border-radius:0 17px 0 0;
	-khtml-border-radius:0 17px 0 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.qpwqtamqgu{
	background-color:#6aff00;
	border-radius:0 17px 0 0; 
	-webkit-border-radius:0 17px 0 0; 
	-moz-border-radius:0 17px 0 0; 
	-khtml-border-radius:0 17px 0 0;
	box-shadow:3px 4px 1px 1px #00ff3c;
	-moz-box-shadow:3px 4px 1px 1px #00ff3c;
    -webkit-box-shadow:3px 4px 1px 1px #00ff3c;	
	border: 1px #f2ff00 double;	
}

div.wxhkrwigmwh{
	background-color:#15ff00;
	border-radius:0 17px 0 0; 
	-webkit-border-radius:0 17px 0 0; 
	-moz-border-radius:0 17px 0 0; 
	-khtml-border-radius:0 17px 0 0;
	box-shadow:3px 4px 1px 1px #37ff00;
	-moz-box-shadow:3px 4px 1px 1px #37ff00;
    -webkit-box-shadow:3px 4px 1px 1px #37ff00;
	border: 1px #ffdb00 double;	
}

div.kcwcbjsmnuka{
	background-color:#ff008e;
	border-radius:0 17px 0 0; 
	-webkit-border-radius:0 17px 0 0; 
	-moz-border-radius:0 17px 0 0; 
	-khtml-border-radius:0 17px 0 0;
	box-shadow:3px 4px 1px 1px #cc00ff;
	-moz-box-shadow:3px 4px 1px 1px #cc00ff;
    -webkit-box-shadow:3px 4px 1px 1px #cc00ff;	
	border: 1px #ff0f00 double;	
}

div.ejeurmwhaa{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.zmwhlsiluw{
	margin:15px;
	padding:10px;
}


table.cpwdpzwqz td{
	vertical-align:top;
}


div.mdsjwnuabc{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.qztetluznrb{
	margin-bottom:15px;
	font-size:80%;
}


img.nkxovufvbqge{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.cwpdwonqj{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.wlbpjqge{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.vsblbpeowrt{
	margin:7px;
	border-radius:0 17px 0 0; 
	-webkit-border-radius:0 17px 0 0; 
	-moz-border-radius:0 17px 0 0; 
	-khtml-border-radius:0 17px 0 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.pdtgpskhbp{
	padding:10px;
	margin-bottom:30px;
}


div.pnnupdtrhmx{
	clear:both;
}


div.dqhmdfpqrhb{
	margin-bottom:10px;
}


div.ieovdjrwtl{
	margin:15px;
	text-align:right;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.vliqzvsrdzxj{
	margin-bottom:15px;
}


div.abnunzntpwf{
	margin:auto;
	width:420px;
}

div.vkxtivmgrw{
	text-align:center;	
}

div.nzsbnudht{
	text-align:right;
	font-weight:bold;
	font-size:125%;
}

div.htewwufwh{
	text-align:center;
}


td.xwbnsumko{
	vertical-align:top;
}

div.gfxmpvuzg{
	width:950px;
	padding:20px;
}

div.qwkjksumpqp{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.dgqnnparsgn{
	text-align:center;
}