h1{
	font-size:125%;
}
div.fkizwofhjw{
	font-weight:bold;
}
a.jnxmmutuo{
	font-size:140%;
}

div.ieovdjrwtl a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:14px;	
	font-family:Palatino Linotype;
}

a{
	color:#000000;	
}

span.zaxftkjuq h1{
	color:#ffffff;
}

div.qwkjksumpqp{
	color:#ffffff;
}

div.vkxtivmgrw{
	color:#ffffff;
}

div.vkxtivmgrw a{
	color:#ffffff;
}

a.hjrzmwnbjag{
	text-decoration:none;
	font-size:115%;
}

li.snlbxxfw a{
	text-decoration:none;	
}

li.snlbxxfw{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.ediruisksjr{		
	list-style-type:square;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.kimkwvvun{
	font-size:125%;
}


div.kdzzxrrh{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.kdzzxrrh a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.qpwqtamqgu{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.qpwqtamqgu a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.wxhkrwigmwh{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.wxhkrwigmwh a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.kcwcbjsmnuka{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.kcwcbjsmnuka a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.vsblbpeowrt{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.vsblbpeowrt a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.xljjnrwbujaq{
	font-size:75%;	
}

div.dgqnnparsgn{	
	font-size:75%;		
}