@import url('typography.css');

body{
	background-color:#000000;
}

div.whgkknwg{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.ffwimnhcxm{

}

span.epjwpdvkvpd{
	display: inline-block;
	padding:6px;
	background: #ECF9EC;
	border: 1px solid #E9E9E9;
	border-radius:0 28px 0 28px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.tqzvwgozhdrs{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.epjwpdvkvpd:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.epjwpdvkvpd a:hover{
	box-shadow: 0 0 10px #555;
}


div.ilwxlrvqn{
	text-align:center;
	padding:10px;
}

div.jkgswsqmen{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.oqikecalz h1{
	margin:0px;
}

div.dogvqisiwvoe{
	text-align:left;
}

div.smsnatve{	
	margin-bottom:30px;	
}

span.bvowqpqce{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.bvowqpqce{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.wdwefoqfdn{
	text-align:center;
}

img{
	border-radius:0 28px 0 28px;
	-webkit-border-radius:0 28px 0 28px; 
	-moz-border-radius:0 28px 0 28px; 
	-khtml-border-radius:0 28px 0 28px;
}

div.iqodwevwws{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.kkstzlddgimc{
	background-color:#bb00ff;
	border-radius:0 28px 0 28px;
	-webkit-border-radius:0 28px 0 28px;
	-moz-border-radius:0 28px 0 28px;
	-khtml-border-radius:0 28px 0 28px;
	box-shadow:4px 4px 3px 1px #ff00cc;
	-moz-box-shadow:4px 4px 3px 1px #ff00cc;
    -webkit-box-shadow:4px 4px 3px 1px #ff00cc;
	border: 0px #5100ff solid;
	padding:10px;	
}

span.kkstzlddgimc{
	background-color:#cccccc;
	border-radius:0 28px 0 28px;
	-webkit-border-radius:0 28px 0 28px;
	-moz-border-radius:0 28px 0 28px;
	-khtml-border-radius:0 28px 0 28px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.wrfklfpfxc{
	background-color:#ff00e8;
	border-radius:0 28px 0 28px; 
	-webkit-border-radius:0 28px 0 28px; 
	-moz-border-radius:0 28px 0 28px; 
	-khtml-border-radius:0 28px 0 28px;
	box-shadow:4px 4px 3px 1px #a600ff;
	-moz-box-shadow:4px 4px 3px 1px #a600ff;
    -webkit-box-shadow:4px 4px 3px 1px #a600ff;	
	border: 0px #ff005b solid;	
}

div.qoszwgcrqisz{
	background-color:#ff0077;
	border-radius:0 28px 0 28px; 
	-webkit-border-radius:0 28px 0 28px; 
	-moz-border-radius:0 28px 0 28px; 
	-khtml-border-radius:0 28px 0 28px;
	box-shadow:4px 4px 3px 1px #5100ff;
	-moz-box-shadow:4px 4px 3px 1px #5100ff;
    -webkit-box-shadow:4px 4px 3px 1px #5100ff;
	border: 0px #ff00cc solid;	
}

div.rmofpwlw{
	background-color:#aeff00;
	border-radius:0 28px 0 28px; 
	-webkit-border-radius:0 28px 0 28px; 
	-moz-border-radius:0 28px 0 28px; 
	-khtml-border-radius:0 28px 0 28px;
	box-shadow:4px 4px 3px 1px #44ff00;
	-moz-box-shadow:4px 4px 3px 1px #44ff00;
    -webkit-box-shadow:4px 4px 3px 1px #44ff00;	
	border: 0px #fff200 solid;	
}

div.afcceawvjkan{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.mtajwtrp{
	margin:15px;
	padding:10px;
}


table.hhtjbghdgkf td{
	vertical-align:top;
}


div.qczvkdojhwk{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.menltjipg{
	margin-bottom:15px;
	font-size:80%;
}


img.wnthnglgh{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.bmravuptl{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.prdrokpkzz{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.qvbispsn{
	margin:7px;
	border-radius:0 28px 0 28px; 
	-webkit-border-radius:0 28px 0 28px; 
	-moz-border-radius:0 28px 0 28px; 
	-khtml-border-radius:0 28px 0 28px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.gnjfgocvom{
	padding:10px;
	margin-bottom:30px;
}


div.rqipolsiwm{
	clear:both;
}


div.vjszumpnlac{
	margin-bottom:10px;
}


div.oqikecalz{
	margin:15px;
	text-align:center;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.nirmggio{
	margin-bottom:15px;
}


div.dnjzvfkwr{
	margin:auto;
	width:420px;
}

div.wkmlgcqltgzu{
	text-align:center;	
}

div.ovauhbabczit{
	text-align:left;
	font-weight:bold;
	font-size:125%;
}

div.mwmlwdiwz{
	text-align:center;
}


td.wheeiwik{
	vertical-align:top;
}

div.msfmegpx{
	width:950px;
	padding:20px;
}

div.fznjnkwulgf{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.vozjcthna{
	text-align:center;
}