h1{
	font-size:125%;
}
div.uhzhozuadgvn{
	font-weight:bold;
}
a.jxutajgllcw{
	font-size:140%;
}

div.oqikecalz a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:16px;	
	font-family:Verdana;
}

a{
	color:#000000;	
}

span.ijgqwceuw h1{
	color:#ffffff;
}

div.fznjnkwulgf{
	color:#ffffff;
}

div.wkmlgcqltgzu{
	color:#ffffff;
}

div.wkmlgcqltgzu a{
	color:#ffffff;
}

a.fzqsitquwfg{
	text-decoration:none;
	font-size:115%;
}

li.bwdrdcnseee a{
	text-decoration:none;	
}

li.bwdrdcnseee{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.pjgokenp{		
	list-style-type:disc;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.udamsxdf{
	font-size:125%;
}


div.kkstzlddgimc{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.kkstzlddgimc a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.wrfklfpfxc{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.wrfklfpfxc a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.qoszwgcrqisz{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.qoszwgcrqisz a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.rmofpwlw{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.rmofpwlw a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.qvbispsn{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.qvbispsn a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.zufncjxb{
	font-size:75%;	
}

div.vozjcthna{	
	font-size:75%;		
}