@import url('typography.css');

body{
	background-color:#666666;
}

div.ulqpfevmoqd{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.ptdstbzbvmg{

}

span.emarpawxn{
	display: inline-block;
	padding:6px;
	background: #F3F8FC;
	border: 1px solid #E9E9E9;
	border-radius:0 0 0 28px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.wftftipgmlz{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.emarpawxn:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.emarpawxn a:hover{
	box-shadow: 0 0 10px #555;
}


div.rheelcaljpx{
	text-align:center;
	padding:10px;
}

div.owrwpxqr{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.sqccbbuges h1{
	margin:0px;
}

div.ptwdhbpgxta{
	text-align:center;
}

div.ncctsvcopc{	
	margin-bottom:30px;	
}

span.wurwejtvjxcc{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.wurwejtvjxcc{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.nwozuuouudxl{
	text-align:center;
}

img{
	border-radius:0 0 0 28px;
	-webkit-border-radius:0 0 0 28px; 
	-moz-border-radius:0 0 0 28px; 
	-khtml-border-radius:0 0 0 28px;
}

div.owjaionw{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.bkwfhzoh{
	background-color:#6eff00;
	border-radius:0 0 0 28px;
	-webkit-border-radius:0 0 0 28px;
	-moz-border-radius:0 0 0 28px;
	-khtml-border-radius:0 0 0 28px;
	box-shadow:6px 0px 4px 4px #00ff5e;
	-moz-box-shadow:6px 0px 4px 4px #00ff5e;
    -webkit-box-shadow:6px 0px 4px 4px #00ff5e;
	border: 4px #fff900 ridge;
	padding:10px;	
}

span.bkwfhzoh{
	background-color:#cccccc;
	border-radius:0 0 0 28px;
	-webkit-border-radius:0 0 0 28px;
	-moz-border-radius:0 0 0 28px;
	-khtml-border-radius:0 0 0 28px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.scoxobskzma{
	background-color:#19ff00;
	border-radius:0 0 0 28px; 
	-webkit-border-radius:0 0 0 28px; 
	-moz-border-radius:0 0 0 28px; 
	-khtml-border-radius:0 0 0 28px;
	box-shadow:6px 0px 4px 4px #00f9ff;
	-moz-box-shadow:6px 0px 4px 4px #00f9ff;
    -webkit-box-shadow:6px 0px 4px 4px #00f9ff;	
	border: 4px #b7ff00 ridge;	
}

div.zbfeaumo{
	background-color:#00ff77;
	border-radius:0 0 0 28px; 
	-webkit-border-radius:0 0 0 28px; 
	-moz-border-radius:0 0 0 28px; 
	-khtml-border-radius:0 0 0 28px;
	box-shadow:6px 0px 4px 4px #00ff5e;
	-moz-box-shadow:6px 0px 4px 4px #00ff5e;
    -webkit-box-shadow:6px 0px 4px 4px #00ff5e;
	border: 4px #fff900 ridge;	
}

div.inqosoem{
	background-color:#ff0022;
	border-radius:0 0 0 28px; 
	-webkit-border-radius:0 0 0 28px; 
	-moz-border-radius:0 0 0 28px; 
	-khtml-border-radius:0 0 0 28px;
	box-shadow:6px 0px 4px 4px #ff00f4;
	-moz-box-shadow:6px 0px 4px 4px #ff00f4;
    -webkit-box-shadow:6px 0px 4px 4px #ff00f4;	
	border: 4px #ff4200 ridge;	
}

div.johbcparnrb{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.vpkgstowmz{
	margin:15px;
	padding:10px;
}


table.dtoozukvai td{
	vertical-align:top;
}


div.ukorjrehazmn{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.wdtzlitsiww{
	margin-bottom:15px;
	font-size:80%;
}


img.pwacvdmdcw{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.obthvuav{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.wjcgjcwwxvoe{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.wafzvnjfaz{
	margin:7px;
	border-radius:0 0 0 28px; 
	-webkit-border-radius:0 0 0 28px; 
	-moz-border-radius:0 0 0 28px; 
	-khtml-border-radius:0 0 0 28px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.vernzknwfnu{
	padding:10px;
	margin-bottom:30px;
}


div.qskxwsqvwr{
	clear:both;
}


div.enkwlrcep{
	margin-bottom:10px;
}


div.sqccbbuges{
	margin:15px;
	text-align:center;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.llcnroxwnxmh{
	margin-bottom:15px;
}


div.huelbiskc{
	margin:auto;
	width:420px;
}

div.lwslnatl{
	text-align:center;	
}

div.qonlvzrblj{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.ipoowaxsv{
	text-align:center;
}


td.futfwhsw{
	vertical-align:top;
}

div.djrbwtwujne{
	width:950px;
	padding:20px;
}

div.esvffwncz{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.mskkkkain{
	text-align:center;
}