h1{
	font-size:125%;
}
div.tqpwbluw{
	font-weight:bold;
}
a.jvlvmwfskwqc{
	font-size:140%;
}

div.sqccbbuges a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:16px;	
	font-family:Verdana;
}

a{
	color:#000000;	
}

span.voxlmiph h1{
	color:#ffffff;
}

div.esvffwncz{
	color:#ffffff;
}

div.lwslnatl{
	color:#ffffff;
}

div.lwslnatl a{
	color:#ffffff;
}

a.tfgjfdno{
	text-decoration:none;
	font-size:115%;
}

li.jpiajqwpdf a{
	text-decoration:none;	
}

li.jpiajqwpdf{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.pclaugwl{		
	list-style-type:disc;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.cpnvnhbvbw{
	font-size:125%;
}


div.bkwfhzoh{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.bkwfhzoh a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.scoxobskzma{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.scoxobskzma a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.zbfeaumo{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.zbfeaumo a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.inqosoem{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.inqosoem a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.wafzvnjfaz{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.wafzvnjfaz a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.lrftauevj{
	font-size:75%;	
}

div.mskkkkain{	
	font-size:75%;		
}