@import url('typography.css');

body{
	background-color:#cccccc;
}

div.wvdmifeqm{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.wgnoahama{

}

span.cjscixkgv{
	display: inline-block;
	padding:6px;
	background: #E1EBF4;
	border: 1px solid #E9E9E9;
	border-radius:0 0 0 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.ztejtamfo{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.cjscixkgv:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.cjscixkgv a:hover{
	box-shadow: 0 0 10px #555;
}


div.hqugtugr{
	text-align:center;
	padding:10px;
}

div.lhsluukjoa{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.hzxbutskz h1{
	margin:0px;
}

div.ihmtcdjx{
	text-align:center;
}

div.xfhzcdcgqtda{	
	margin-bottom:30px;	
}

span.cneftabs{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.cneftabs{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.vmlbsuwjwwak{
	text-align:center;
}

img{
	border-radius:0 0 0 0;
	-webkit-border-radius:0 0 0 0; 
	-moz-border-radius:0 0 0 0; 
	-khtml-border-radius:0 0 0 0;
}

div.zhghbsmnksgx{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.hdduwemzlaow{
	background-color:#ff1e00;
	border-radius:0 0 0 0;
	-webkit-border-radius:0 0 0 0;
	-moz-border-radius:0 0 0 0;
	-khtml-border-radius:0 0 0 0;
	box-shadow:0px 1px 0px 4px #ff0006;
	-moz-box-shadow:0px 1px 0px 4px #ff0006;
    -webkit-box-shadow:0px 1px 0px 4px #ff0006;
	border: 1px #ff3e00 dotted;
	padding:10px;	
}

span.hdduwemzlaow{
	background-color:#cccccc;
	border-radius:0 0 0 0;
	-webkit-border-radius:0 0 0 0;
	-moz-border-radius:0 0 0 0;
	-khtml-border-radius:0 0 0 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.tsfawokksj{
	background-color:#ff4800;
	border-radius:0 0 0 0; 
	-webkit-border-radius:0 0 0 0; 
	-moz-border-radius:0 0 0 0; 
	-khtml-border-radius:0 0 0 0;
	box-shadow:0px 1px 0px 4px #ff2800;
	-moz-box-shadow:0px 1px 0px 4px #ff2800;
    -webkit-box-shadow:0px 1px 0px 4px #ff2800;	
	border: 1px #ff6800 dotted;	
}

div.rqvehvfxf{
	background-color:#ff7300;
	border-radius:0 0 0 0; 
	-webkit-border-radius:0 0 0 0; 
	-moz-border-radius:0 0 0 0; 
	-khtml-border-radius:0 0 0 0;
	box-shadow:0px 1px 0px 4px #ff0006;
	-moz-box-shadow:0px 1px 0px 4px #ff0006;
    -webkit-box-shadow:0px 1px 0px 4px #ff0006;
	border: 1px #ff3e00 dotted;	
}

div.ewxvzxjiiham{
	background-color:#00e8ff;
	border-radius:0 0 0 0; 
	-webkit-border-radius:0 0 0 0; 
	-moz-border-radius:0 0 0 0; 
	-khtml-border-radius:0 0 0 0;
	box-shadow:0px 1px 0px 4px #0093ff;
	-moz-box-shadow:0px 1px 0px 4px #0093ff;
    -webkit-box-shadow:0px 1px 0px 4px #0093ff;	
	border: 1px #00ffa2 dotted;	
}

div.wwwaejohwn{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.ahstjiaw{
	margin:15px;
	padding:10px;
}


table.jvwiedbx td{
	vertical-align:top;
}


div.kpabpdij{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.tcvfabubb{
	margin-bottom:15px;
	font-size:80%;
}


img.drlvfpgpu{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.ckircmogvnw{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.juduhzrgthig{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.mkhasvhot{
	margin:7px;
	border-radius:0 0 0 0; 
	-webkit-border-radius:0 0 0 0; 
	-moz-border-radius:0 0 0 0; 
	-khtml-border-radius:0 0 0 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.uzvkswpuoijw{
	padding:10px;
	margin-bottom:30px;
}


div.wtxiubwrn{
	clear:both;
}


div.avesfskzvufa{
	margin-bottom:10px;
}


div.hzxbutskz{
	margin:15px;
	text-align:right;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.chobaquwpwl{
	margin-bottom:15px;
}


div.gfsuzdjzfs{
	margin:auto;
	width:420px;
}

div.zzpcdrvdgi{
	text-align:center;	
}

div.ktjjcjvi{
	text-align:left;
	font-weight:bold;
	font-size:125%;
}

div.obagcdcqinpi{
	text-align:center;
}


td.decvlvcg{
	vertical-align:top;
}

div.gcuplhfxck{
	width:950px;
	padding:20px;
}

div.ufrtflubrxwq{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.cwxbfwpl{
	text-align:right;
}