h1{
	font-size:125%;
}
div.resxjkwfsri{
	font-weight:bold;
}
a.wvdeudsoloa{
	font-size:140%;
}

div.hzxbutskz a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:16px;	
	font-family:Lucida Console;
}

a{
	color:#000000;	
}

span.ripwrjhsdz h1{
	color:#000000;
}

div.ufrtflubrxwq{
	color:#000000;
}

div.zzpcdrvdgi{
	color:#000000;
}

div.zzpcdrvdgi a{
	color:#000000;
}

a.tharswvuscg{
	text-decoration:none;
	font-size:115%;
}

li.hrqqovvvdhdw a{
	text-decoration:none;	
}

li.hrqqovvvdhdw{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.gmbzldnz{		
	list-style-type:disc;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.wkqxicad{
	font-size:125%;
}


div.hdduwemzlaow{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.hdduwemzlaow a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.tsfawokksj{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.tsfawokksj a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.rqvehvfxf{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.rqvehvfxf a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.ewxvzxjiiham{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.ewxvzxjiiham a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.mkhasvhot{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.mkhasvhot a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.qulmkzcl{
	font-size:75%;	
}

div.cwxbfwpl{	
	font-size:75%;		
}