@import url('typography.css');

body{
	background-color:#555555;
}

div.pxisijoi{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.kvnjkqkqfwp{

}

span.efeidlsqk{
	display: inline-block;
	padding:6px;
	background: #DBF2DB;
	border: 1px solid #E9E9E9;
	border-radius:11px 11px 0 11px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.ikwapjww{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.efeidlsqk:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.efeidlsqk a:hover{
	box-shadow: 0 0 10px #555;
}


div.sfnzdgkvxwp{
	text-align:center;
	padding:10px;
}

div.sjmruqbjvwt{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.cfqwhtbhpjbw h1{
	margin:0px;
}

div.mcpawcdbwpn{
	text-align:left;
}

div.mnkxwjwr{	
	margin-bottom:30px;	
}

span.bmczdjjwmchb{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.bmczdjjwmchb{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.tahnwhwpujs{
	text-align:center;
}

img{
	border-radius:11px 11px 0 11px;
	-webkit-border-radius:11px 11px 0 11px; 
	-moz-border-radius:11px 11px 0 11px; 
	-khtml-border-radius:11px 11px 0 11px;
}

div.vwdvfczkmtpb{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.awurrbahxbu{
	background-color:#fff900;
	border-radius:11px 11px 0 11px;
	-webkit-border-radius:11px 11px 0 11px;
	-moz-border-radius:11px 11px 0 11px;
	-khtml-border-radius:11px 11px 0 11px;
	box-shadow:6px 0px 2px 3px #ffbd00;
	-moz-box-shadow:6px 0px 2px 3px #ffbd00;
    -webkit-box-shadow:6px 0px 2px 3px #ffbd00;
	border: 6px #95ff00 grouve;
	padding:10px;	
}

span.awurrbahxbu{
	background-color:#cccccc;
	border-radius:11px 11px 0 11px;
	-webkit-border-radius:11px 11px 0 11px;
	-moz-border-radius:11px 11px 0 11px;
	-khtml-border-radius:11px 11px 0 11px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.kemklidq{
	background-color:#b7ff00;
	border-radius:11px 11px 0 11px; 
	-webkit-border-radius:11px 11px 0 11px; 
	-moz-border-radius:11px 11px 0 11px; 
	-khtml-border-radius:11px 11px 0 11px;
	box-shadow:6px 0px 2px 3px #40ff00;
	-moz-box-shadow:6px 0px 2px 3px #40ff00;
    -webkit-box-shadow:6px 0px 2px 3px #40ff00;	
	border: 6px #ffe800 grouve;	
}

div.ufwklqxhpxp{
	background-color:#62ff00;
	border-radius:11px 11px 0 11px; 
	-webkit-border-radius:11px 11px 0 11px; 
	-moz-border-radius:11px 11px 0 11px; 
	-khtml-border-radius:11px 11px 0 11px;
	box-shadow:6px 0px 2px 3px #95ff00;
	-moz-box-shadow:6px 0px 2px 3px #95ff00;
    -webkit-box-shadow:6px 0px 2px 3px #95ff00;
	border: 6px #ffbd00 grouve;	
}

div.dzrwkieqew{
	background-color:#ff00f4;
	border-radius:11px 11px 0 11px; 
	-webkit-border-radius:11px 11px 0 11px; 
	-moz-border-radius:11px 11px 0 11px; 
	-khtml-border-radius:11px 11px 0 11px;
	box-shadow:6px 0px 2px 3px #9100ff;
	-moz-box-shadow:6px 0px 2px 3px #9100ff;
    -webkit-box-shadow:6px 0px 2px 3px #9100ff;	
	border: 6px #ff0055 grouve;	
}

div.kwgkkigukvk{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.phsqszpu{
	margin:15px;
	padding:10px;
}


table.vaaccmlhswrg td{
	vertical-align:top;
}


div.wtgrgizgnmrm{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.uatdigwwtcf{
	margin-bottom:15px;
	font-size:80%;
}


img.cupwzzkknz{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.dglamipbnh{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.wphkhtwz{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.lddwqrpfuqo{
	margin:7px;
	border-radius:11px 11px 0 11px; 
	-webkit-border-radius:11px 11px 0 11px; 
	-moz-border-radius:11px 11px 0 11px; 
	-khtml-border-radius:11px 11px 0 11px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.wotejnkafe{
	padding:10px;
	margin-bottom:30px;
}


div.jxplclitn{
	clear:both;
}


div.nkngtckad{
	margin-bottom:10px;
}


div.cfqwhtbhpjbw{
	margin:15px;
	text-align:center;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.amfzsbdc{
	margin-bottom:15px;
}


div.uldgcgihz{
	margin:auto;
	width:420px;
}

div.ktxhnnuf{
	text-align:center;	
}

div.wezjwzgbqr{
	text-align:left;
	font-weight:bold;
	font-size:125%;
}

div.rbgbwnei{
	text-align:center;
}


td.vkkxjlln{
	vertical-align:top;
}

div.earxegpcirzx{
	width:950px;
	padding:20px;
}

div.lcdpcqdd{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.utsahivzksl{
	text-align:center;
}