h1{
	font-size:125%;
}
div.ufbwrsomv{
	font-weight:bold;
}
a.mdkpumedwo{
	font-size:140%;
}

div.cfqwhtbhpjbw a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:14px;	
	font-family:Century Gothic;
}

a{
	color:#000000;	
}

span.bxaordwdv h1{
	color:#ffffff;
}

div.lcdpcqdd{
	color:#ffffff;
}

div.ktxhnnuf{
	color:#ffffff;
}

div.ktxhnnuf a{
	color:#ffffff;
}

a.utxuwqsrqnp{
	text-decoration:none;
	font-size:115%;
}

li.fplxgpnqtss a{
	text-decoration:none;	
}

li.fplxgpnqtss{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.jskhetjqtqzl{		
	list-style-type:circle;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.mbrecavrr{
	font-size:125%;
}


div.awurrbahxbu{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.awurrbahxbu a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.kemklidq{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.kemklidq a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.ufwklqxhpxp{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.ufwklqxhpxp a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.dzrwkieqew{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.dzrwkieqew a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.lddwqrpfuqo{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.lddwqrpfuqo a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.vjwhfhzuwcs{
	font-size:75%;	
}

div.utsahivzksl{	
	font-size:75%;		
}