@import url('typography.css');

body{
	background-color:#bbbbbb;
}

div.xgpxinfabki{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.xvpkehapu{

}

span.foasiotbxhh{
	display: inline-block;
	padding:7px;
	background: #E1EBF4;
	border: 1px solid #E9E9E9;
	border-radius:24px 0 0 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.bzomiivzx{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.foasiotbxhh:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.foasiotbxhh a:hover{
	box-shadow: 0 0 10px #555;
}


div.wtikhircrr{
	text-align:center;
	padding:10px;
}

div.hlfbhmwvtc{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.wxdiwmwkv h1{
	margin:0px;
}

div.jokhtgrlwlg{
	text-align:right;
}

div.gpfwprcbgecs{	
	margin-bottom:30px;	
}

span.atolsdte{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.atolsdte{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.xbpacsoci{
	text-align:center;
}

img{
	border-radius:24px 0 0 0;
	-webkit-border-radius:24px 0 0 0; 
	-moz-border-radius:24px 0 0 0; 
	-khtml-border-radius:24px 0 0 0;
}

div.lvrichuhu{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.rkkpamixvriu{
	background-color:#00ffa2;
	border-radius:24px 0 0 0;
	-webkit-border-radius:24px 0 0 0;
	-moz-border-radius:24px 0 0 0;
	-khtml-border-radius:24px 0 0 0;
	box-shadow:4px 1px 6px 1px #0088ff;
	-moz-box-shadow:4px 1px 6px 1px #0088ff;
    -webkit-box-shadow:4px 1px 6px 1px #0088ff;
	border: 5px #37ff00 dashed;
	padding:10px;	
}

span.rkkpamixvriu{
	background-color:#cccccc;
	border-radius:24px 0 0 0;
	-webkit-border-radius:24px 0 0 0;
	-moz-border-radius:24px 0 0 0;
	-khtml-border-radius:24px 0 0 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.svswvpputaz{
	background-color:#00ccff;
	border-radius:24px 0 0 0; 
	-webkit-border-radius:24px 0 0 0; 
	-moz-border-radius:24px 0 0 0; 
	-khtml-border-radius:24px 0 0 0;
	box-shadow:4px 1px 6px 1px #0017ff;
	-moz-box-shadow:4px 1px 6px 1px #0017ff;
    -webkit-box-shadow:4px 1px 6px 1px #0017ff;	
	border: 5px #00ff3c dashed;	
}

div.rwuvjrmqzd{
	background-color:#005bff;
	border-radius:24px 0 0 0; 
	-webkit-border-radius:24px 0 0 0; 
	-moz-border-radius:24px 0 0 0; 
	-khtml-border-radius:24px 0 0 0;
	box-shadow:4px 1px 6px 1px #0088ff;
	-moz-box-shadow:4px 1px 6px 1px #0088ff;
    -webkit-box-shadow:4px 1px 6px 1px #0088ff;
	border: 5px #37ff00 dashed;	
}

div.qgozwlxf{
	background-color:#ff5300;
	border-radius:24px 0 0 0; 
	-webkit-border-radius:24px 0 0 0; 
	-moz-border-radius:24px 0 0 0; 
	-khtml-border-radius:24px 0 0 0;
	box-shadow:4px 1px 6px 1px #ff0f00;
	-moz-box-shadow:4px 1px 6px 1px #ff0f00;
    -webkit-box-shadow:4px 1px 6px 1px #ff0f00;	
	border: 5px #ff9700 dashed;	
}

div.fkgavzapzzzu{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.edghzzzkfkqw{
	margin:15px;
	padding:10px;
}


table.wicvnppj td{
	vertical-align:top;
}


div.osthuchwlzu{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.adqissrpa{
	margin-bottom:15px;
	font-size:80%;
}


img.ftdqcsowsw{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.lxkjbzqkzu{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.fvrnuxmsux{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.lhautxalcs{
	margin:7px;
	border-radius:24px 0 0 0; 
	-webkit-border-radius:24px 0 0 0; 
	-moz-border-radius:24px 0 0 0; 
	-khtml-border-radius:24px 0 0 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.kliwaguu{
	padding:10px;
	margin-bottom:30px;
}


div.mtkcqgzs{
	clear:both;
}


div.weiawhvrqao{
	margin-bottom:10px;
}


div.wxdiwmwkv{
	margin:15px;
	text-align:left;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.joiiqrmt{
	margin-bottom:15px;
}


div.nwjqwwpcxh{
	margin:auto;
	width:420px;
}

div.ljlmulgmtx{
	text-align:center;	
}

div.bkwpcihh{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.rdzcweam{
	text-align:center;
}


td.sgfikzucm{
	vertical-align:top;
}

div.egrwvuff{
	width:950px;
	padding:20px;
}

div.ktmkdpmspko{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.xkoupivz{
	text-align:center;
}