h1{
	font-size:125%;
}
div.kgscicnpigh{
	font-weight:bold;
}
a.dbnawifrmmuw{
	font-size:140%;
}

div.wxdiwmwkv a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:15px;	
	font-family:Arial Black;
}

a{
	color:#000000;	
}

span.ggfdcbveueiv h1{
	color:#000000;
}

div.ktmkdpmspko{
	color:#000000;
}

div.ljlmulgmtx{
	color:#000000;
}

div.ljlmulgmtx a{
	color:#000000;
}

a.bsiqrrjzngd{
	text-decoration:none;
	font-size:115%;
}

li.obktgfkjpg a{
	text-decoration:none;	
}

li.obktgfkjpg{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.szhvslxfrlg{		
	list-style-type:disc;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.kwwlhkwg{
	font-size:125%;
}


div.rkkpamixvriu{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.rkkpamixvriu a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.svswvpputaz{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.svswvpputaz a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.rwuvjrmqzd{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.rwuvjrmqzd a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.qgozwlxf{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.qgozwlxf a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.lhautxalcs{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.lhautxalcs a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.vwgkqxsu{
	font-size:75%;	
}

div.xkoupivz{	
	font-size:75%;		
}