@import url('typography.css');

body{
	background-color:#dddddd;
}

div.wqplzwwwvvg{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.uptawuevon{

}

span.svhebchrsjc{
	display: inline-block;
	padding:4px;
	background: #EDEDED;
	border: 1px solid #E9E9E9;
	border-radius:21px 21px 0 21px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.adthuhwiljoh{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.svhebchrsjc:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.svhebchrsjc a:hover{
	box-shadow: 0 0 10px #555;
}


div.ilzbqonggnr{
	text-align:center;
	padding:10px;
}

div.qlrcuxfwdzm{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.rhgswxtv h1{
	margin:0px;
}

div.lqrpzeeodbq{
	text-align:left;
}

div.zowbchha{	
	margin-bottom:30px;	
}

span.prxccjfqbhx{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.prxccjfqbhx{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.eskusmtdiziw{
	text-align:center;
}

img{
	border-radius:21px 21px 0 21px;
	-webkit-border-radius:21px 21px 0 21px; 
	-moz-border-radius:21px 21px 0 21px; 
	-khtml-border-radius:21px 21px 0 21px;
}

div.afrhwtpoq{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.guklsgcz{
	background-color:#99ff00;
	border-radius:21px 21px 0 21px;
	-webkit-border-radius:21px 21px 0 21px;
	-moz-border-radius:21px 21px 0 21px;
	-khtml-border-radius:21px 21px 0 21px;
	box-shadow:1px 0px 6px 0px #44ff00;
	-moz-box-shadow:1px 0px 6px 0px #44ff00;
    -webkit-box-shadow:1px 0px 6px 0px #44ff00;
	border: 0px #eeff00 dotted;
	padding:10px;	
}

span.guklsgcz{
	background-color:#cccccc;
	border-radius:21px 21px 0 21px;
	-webkit-border-radius:21px 21px 0 21px;
	-moz-border-radius:21px 21px 0 21px;
	-khtml-border-radius:21px 21px 0 21px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.pbczcdumms{
	background-color:#44ff00;
	border-radius:21px 21px 0 21px; 
	-webkit-border-radius:21px 21px 0 21px; 
	-moz-border-radius:21px 21px 0 21px; 
	-khtml-border-radius:21px 21px 0 21px;
	box-shadow:1px 0px 6px 0px #00ff22;
	-moz-box-shadow:1px 0px 6px 0px #00ff22;
    -webkit-box-shadow:1px 0px 6px 0px #00ff22;	
	border: 0px #99ff00 dotted;	
}

div.dxnfqdakzk{
	background-color:#00ff22;
	border-radius:21px 21px 0 21px; 
	-webkit-border-radius:21px 21px 0 21px; 
	-moz-border-radius:21px 21px 0 21px; 
	-khtml-border-radius:21px 21px 0 21px;
	box-shadow:1px 0px 6px 0px #44ff00;
	-moz-box-shadow:1px 0px 6px 0px #44ff00;
    -webkit-box-shadow:1px 0px 6px 0px #44ff00;
	border: 0px #eeff00 dotted;	
}

div.aujvnehi{
	background-color:#ff005b;
	border-radius:21px 21px 0 21px; 
	-webkit-border-radius:21px 21px 0 21px; 
	-moz-border-radius:21px 21px 0 21px; 
	-khtml-border-radius:21px 21px 0 21px;
	box-shadow:1px 0px 6px 0px #ff00cc;
	-moz-box-shadow:1px 0px 6px 0px #ff00cc;
    -webkit-box-shadow:1px 0px 6px 0px #ff00cc;	
	border: 0px #ff0900 dotted;	
}

div.txvrokfsfmuo{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.klcwwmxsctws{
	margin:15px;
	padding:10px;
}


table.pnagxtgbwcmo td{
	vertical-align:top;
}


div.nhjglvusxqm{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.hvswqzdtj{
	margin-bottom:15px;
	font-size:80%;
}


img.bwmddllup{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.fudcggains{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.moieigrjhcvt{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.bkbiqmmp{
	margin:7px;
	border-radius:21px 21px 0 21px; 
	-webkit-border-radius:21px 21px 0 21px; 
	-moz-border-radius:21px 21px 0 21px; 
	-khtml-border-radius:21px 21px 0 21px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.quixaejbeia{
	padding:10px;
	margin-bottom:30px;
}


div.fnfsslfruhx{
	clear:both;
}


div.avpsngdewh{
	margin-bottom:10px;
}


div.rhgswxtv{
	margin:15px;
	text-align:right;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.leetlzozrltl{
	margin-bottom:15px;
}


div.djmedtzw{
	margin:auto;
	width:420px;
}

div.nfqwxbmm{
	text-align:center;	
}

div.xwranserhob{
	text-align:left;
	font-weight:bold;
	font-size:125%;
}

div.bixfdnvbkblb{
	text-align:center;
}


td.ltljrlwgd{
	vertical-align:top;
}

div.urwtrzibub{
	width:950px;
	padding:20px;
}

div.cxetwggdem{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.dwwbsvczhw{
	text-align:center;
}