h1{
	font-size:125%;
}
div.exsnbwlqkl{
	font-weight:bold;
}
a.mpvkhlciujs{
	font-size:140%;
}

div.rhgswxtv a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:15px;	
	font-family:Lucida Console;
}

a{
	color:#000000;	
}

span.dcqocbinxc h1{
	color:#000000;
}

div.cxetwggdem{
	color:#000000;
}

div.nfqwxbmm{
	color:#000000;
}

div.nfqwxbmm a{
	color:#000000;
}

a.agmlejdiowj{
	text-decoration:none;
	font-size:115%;
}

li.ggbwvwmelhnl a{
	text-decoration:none;	
}

li.ggbwvwmelhnl{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.zngohjoswhv{		
	list-style-type:disc;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.wgbvgnrlb{
	font-size:125%;
}


div.guklsgcz{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.guklsgcz a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.pbczcdumms{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.pbczcdumms a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.dxnfqdakzk{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.dxnfqdakzk a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.aujvnehi{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.aujvnehi a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.bkbiqmmp{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.bkbiqmmp a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.rszzmtiiddtj{
	font-size:75%;	
}

div.dwwbsvczhw{	
	font-size:75%;		
}