@import url('typography.css');

body{
	background-color:#444444;
}

div.sercltidauh{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.svphluwjld{

}

span.xrxgpkmbr{
	display: inline-block;
	padding:6px;
	background: #E4EEF5;
	border: 1px solid #E9E9E9;
	border-radius:11px 0 11px 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.wewhntkrlj{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.xrxgpkmbr:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.xrxgpkmbr a:hover{
	box-shadow: 0 0 10px #555;
}


div.xccuxkopzwvp{
	text-align:center;
	padding:10px;
}

div.mnnhrsprkann{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.nnrzuhmf h1{
	margin:0px;
}

div.cuxprxmudswe{
	text-align:left;
}

div.ntujfvgad{	
	margin-bottom:30px;	
}

span.rnbjqolffia{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.rnbjqolffia{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.apewdpuhe{
	text-align:center;
}

img{
	border-radius:11px 0 11px 0;
	-webkit-border-radius:11px 0 11px 0; 
	-moz-border-radius:11px 0 11px 0; 
	-khtml-border-radius:11px 0 11px 0;
}

div.erfaddwkcdfj{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.qvqtcvlqnulv{
	background-color:#0000ff;
	border-radius:11px 0 11px 0;
	-webkit-border-radius:11px 0 11px 0;
	-moz-border-radius:11px 0 11px 0;
	-khtml-border-radius:11px 0 11px 0;
	box-shadow:0px 4px 5px 6px #9100ff;
	-moz-box-shadow:0px 4px 5px 6px #9100ff;
    -webkit-box-shadow:0px 4px 5px 6px #9100ff;
	border: 3px #00c1ff solid;
	padding:10px;	
}

span.qvqtcvlqnulv{
	background-color:#cccccc;
	border-radius:11px 0 11px 0;
	-webkit-border-radius:11px 0 11px 0;
	-moz-border-radius:11px 0 11px 0;
	-khtml-border-radius:11px 0 11px 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.wxgmonema{
	background-color:#5500ff;
	border-radius:11px 0 11px 0; 
	-webkit-border-radius:11px 0 11px 0; 
	-moz-border-radius:11px 0 11px 0; 
	-khtml-border-radius:11px 0 11px 0;
	box-shadow:0px 4px 5px 6px #e600ff;
	-moz-box-shadow:0px 4px 5px 6px #e600ff;
    -webkit-box-shadow:0px 4px 5px 6px #e600ff;	
	border: 3px #004fff solid;	
}

div.livrllcdzu{
	background-color:#aa00ff;
	border-radius:11px 0 11px 0; 
	-webkit-border-radius:11px 0 11px 0; 
	-moz-border-radius:11px 0 11px 0; 
	-khtml-border-radius:11px 0 11px 0;
	box-shadow:0px 4px 5px 6px #9100ff;
	-moz-box-shadow:0px 4px 5px 6px #9100ff;
    -webkit-box-shadow:0px 4px 5px 6px #9100ff;
	border: 3px #00c1ff solid;	
}

div.qlwvkpqzd{
	background-color:#ffca00;
	border-radius:11px 0 11px 0; 
	-webkit-border-radius:11px 0 11px 0; 
	-moz-border-radius:11px 0 11px 0; 
	-khtml-border-radius:11px 0 11px 0;
	box-shadow:0px 4px 5px 6px #ff8200;
	-moz-box-shadow:0px 4px 5px 6px #ff8200;
    -webkit-box-shadow:0px 4px 5px 6px #ff8200;	
	border: 3px #d9ff00 solid;	
}

div.nwcboiwoefwd{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.evepjtnvi{
	margin:15px;
	padding:10px;
}


table.mmegzpnshq td{
	vertical-align:top;
}


div.dhnlghttge{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.xvgqagksr{
	margin-bottom:15px;
	font-size:80%;
}


img.wzwwsmleb{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.gcwjzkkfskp{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.assobqrm{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.vtjbovfsm{
	margin:7px;
	border-radius:11px 0 11px 0; 
	-webkit-border-radius:11px 0 11px 0; 
	-moz-border-radius:11px 0 11px 0; 
	-khtml-border-radius:11px 0 11px 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.llxvbwmwn{
	padding:10px;
	margin-bottom:30px;
}


div.kkunmpil{
	clear:both;
}


div.idliwqoaivks{
	margin-bottom:10px;
}


div.nnrzuhmf{
	margin:15px;
	text-align:left;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.ebpdrcjusri{
	margin-bottom:15px;
}


div.ijduzfaiqw{
	margin:auto;
	width:420px;
}

div.nukjeilurua{
	text-align:center;	
}

div.wctebutc{
	text-align:right;
	font-weight:bold;
	font-size:125%;
}

div.upqknjas{
	text-align:center;
}


td.sxlurokr{
	vertical-align:top;
}

div.swgipwltwrte{
	width:950px;
	padding:20px;
}

div.bbfajwxwmix{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.trhrawqo{
	text-align:left;
}