h1{
	font-size:125%;
}
div.pbxkrdkrozh{
	font-weight:bold;
}
a.gehsguqqm{
	font-size:140%;
}

div.nnrzuhmf a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:16px;	
	font-family:Arial Narrow;
}

a{
	color:#000000;	
}

span.zlkhqabugq h1{
	color:#ffffff;
}

div.bbfajwxwmix{
	color:#ffffff;
}

div.nukjeilurua{
	color:#ffffff;
}

div.nukjeilurua a{
	color:#ffffff;
}

a.dcftxvbgesai{
	text-decoration:none;
	font-size:115%;
}

li.llkcgdmlwn a{
	text-decoration:none;	
}

li.llkcgdmlwn{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.qmjbivbw{		
	list-style-type:square;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.dlsbcvvszbg{
	font-size:125%;
}


div.qvqtcvlqnulv{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.qvqtcvlqnulv a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.wxgmonema{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.wxgmonema a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.livrllcdzu{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.livrllcdzu a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.qlwvkpqzd{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.qlwvkpqzd a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.vtjbovfsm{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.vtjbovfsm a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.lnlttbktp{
	font-size:75%;	
}

div.trhrawqo{	
	font-size:75%;		
}