@import url('typography.css');

body{
	background-color:#dddddd;
}

div.orspbduav{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.oeoomdntn{

}

span.kfdkkvijgw{
	display: inline-block;
	padding:7px;
	background: #E4EEF5;
	border: 1px solid #E9E9E9;
	border-radius:0 0 0 14px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.offtnweljr{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.kfdkkvijgw:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.kfdkkvijgw a:hover{
	box-shadow: 0 0 10px #555;
}


div.osdzoppzmqr{
	text-align:center;
	padding:10px;
}

div.swrwgchwofsc{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.wrqwdkkkppt h1{
	margin:0px;
}

div.lnohdwcdwv{
	text-align:right;
}

div.bfekmgbjk{	
	margin-bottom:30px;	
}

span.gligznexwx{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.gligznexwx{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.qinaaxpme{
	text-align:center;
}

img{
	border-radius:0 0 0 14px;
	-webkit-border-radius:0 0 0 14px; 
	-moz-border-radius:0 0 0 14px; 
	-khtml-border-radius:0 0 0 14px;
}

div.csswghqizbqt{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.otlzuodldfa{
	background-color:#ff0060;
	border-radius:0 0 0 14px;
	-webkit-border-radius:0 0 0 14px;
	-moz-border-radius:0 0 0 14px;
	-khtml-border-radius:0 0 0 14px;
	box-shadow:2px 3px 6px 6px #d900ff;
	-moz-box-shadow:2px 3px 6px 6px #d900ff;
    -webkit-box-shadow:2px 3px 6px 6px #d900ff;
	border: 3px #ff2b00 dashed;
	padding:10px;	
}

span.otlzuodldfa{
	background-color:#cccccc;
	border-radius:0 0 0 14px;
	-webkit-border-radius:0 0 0 14px;
	-moz-border-radius:0 0 0 14px;
	-khtml-border-radius:0 0 0 14px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.phvmrwtghoom{
	background-color:#ff0600;
	border-radius:0 0 0 14px; 
	-webkit-border-radius:0 0 0 14px; 
	-moz-border-radius:0 0 0 14px; 
	-khtml-border-radius:0 0 0 14px;
	box-shadow:2px 3px 6px 6px #ff00c1;
	-moz-box-shadow:2px 3px 6px 6px #ff00c1;
    -webkit-box-shadow:2px 3px 6px 6px #ff00c1;	
	border: 3px #ff5500 dashed;	
}

div.klapbcfspuwg{
	background-color:#ff3100;
	border-radius:0 0 0 14px; 
	-webkit-border-radius:0 0 0 14px; 
	-moz-border-radius:0 0 0 14px; 
	-khtml-border-radius:0 0 0 14px;
	box-shadow:2px 3px 6px 6px #d900ff;
	-moz-box-shadow:2px 3px 6px 6px #d900ff;
    -webkit-box-shadow:2px 3px 6px 6px #d900ff;
	border: 3px #ff2b00 dashed;	
}

div.fjsfpobwqts{
	background-color:#00ff1a;
	border-radius:0 0 0 14px; 
	-webkit-border-radius:0 0 0 14px; 
	-moz-border-radius:0 0 0 14px; 
	-khtml-border-radius:0 0 0 14px;
	box-shadow:2px 3px 6px 6px #00c6ff;
	-moz-box-shadow:2px 3px 6px 6px #00c6ff;
    -webkit-box-shadow:2px 3px 6px 6px #00c6ff;	
	border: 3px #90ff00 dashed;	
}

div.ovsuccmolkzx{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.dswacqaeq{
	margin:15px;
	padding:10px;
}


table.naqkwhjr td{
	vertical-align:top;
}


div.ftajmbxci{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.gcllpmcs{
	margin-bottom:15px;
	font-size:80%;
}


img.vzhogicpivjm{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.safjtkez{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.ikrldjmb{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.zzsiuinxrcg{
	margin:7px;
	border-radius:0 0 0 14px; 
	-webkit-border-radius:0 0 0 14px; 
	-moz-border-radius:0 0 0 14px; 
	-khtml-border-radius:0 0 0 14px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.ejdsgswdihr{
	padding:10px;
	margin-bottom:30px;
}


div.lphfzvxbznht{
	clear:both;
}


div.uodqfontxkte{
	margin-bottom:10px;
}


div.wrqwdkkkppt{
	margin:15px;
	text-align:center;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.xfjxetiwaq{
	margin-bottom:15px;
}


div.pquvlsnwqn{
	margin:auto;
	width:420px;
}

div.mtsqfvoezou{
	text-align:center;	
}

div.hwoacqqmwsf{
	text-align:right;
	font-weight:bold;
	font-size:125%;
}

div.ptbsswiqeqtd{
	text-align:center;
}


td.dpzraoncjv{
	vertical-align:top;
}

div.tsdqdfskfkg{
	width:950px;
	padding:20px;
}

div.llazuwras{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.nefwettdwrge{
	text-align:center;
}