h1{
	font-size:125%;
}
div.fgbagrlida{
	font-weight:bold;
}
a.orgnmguxhs{
	font-size:140%;
}

div.wrqwdkkkppt a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:14px;	
	font-family:Arial Narrow;
}

a{
	color:#000000;	
}

span.csjhhwbrzse h1{
	color:#000000;
}

div.llazuwras{
	color:#000000;
}

div.mtsqfvoezou{
	color:#000000;
}

div.mtsqfvoezou a{
	color:#000000;
}

a.igmbwhknt{
	text-decoration:none;
	font-size:115%;
}

li.uonexsiw a{
	text-decoration:none;	
}

li.uonexsiw{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.wsciruuvwev{		
	list-style-type:disc;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.dwjchrccwl{
	font-size:125%;
}


div.otlzuodldfa{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.otlzuodldfa a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.phvmrwtghoom{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.phvmrwtghoom a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.klapbcfspuwg{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.klapbcfspuwg a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.fjsfpobwqts{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.fjsfpobwqts a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.zzsiuinxrcg{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.zzsiuinxrcg a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.fuxsxodmw{
	font-size:75%;	
}

div.nefwettdwrge{	
	font-size:75%;		
}