@import url('typography.css');

body{
	background-color:#555555;
}

div.qgekhqpiatjs{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.lidgzasq{

}

span.kzzswboap{
	display: inline-block;
	padding:4px;
	background: #EFEFEF;
	border: 1px solid #E9E9E9;
	border-radius:0 26px 0 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.bpwprirsem{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.kzzswboap:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.kzzswboap a:hover{
	box-shadow: 0 0 10px #555;
}


div.atwjccbrbm{
	text-align:center;
	padding:10px;
}

div.knocbnqfosj{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.ldzjplepo h1{
	margin:0px;
}

div.gvgkvnevekg{
	text-align:left;
}

div.axajoukfnm{	
	margin-bottom:30px;	
}

span.cduknbblrpca{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.cduknbblrpca{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.liowunas{
	text-align:center;
}

img{
	border-radius:0 26px 0 0;
	-webkit-border-radius:0 26px 0 0; 
	-moz-border-radius:0 26px 0 0; 
	-khtml-border-radius:0 26px 0 0;
}

div.bwpjtccoz{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.kdpcavxg{
	background-color:#ffee00;
	border-radius:0 26px 0 0;
	-webkit-border-radius:0 26px 0 0;
	-moz-border-radius:0 26px 0 0;
	-khtml-border-radius:0 26px 0 0;
	box-shadow:2px 0px 5px 2px #ffa600;
	-moz-box-shadow:2px 0px 5px 2px #ffa600;
    -webkit-box-shadow:2px 0px 5px 2px #ffa600;
	border: 2px #90ff00 dashed;
	padding:10px;	
}

span.kdpcavxg{
	background-color:#cccccc;
	border-radius:0 26px 0 0;
	-webkit-border-radius:0 26px 0 0;
	-moz-border-radius:0 26px 0 0;
	-khtml-border-radius:0 26px 0 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.wtrexnul{
	background-color:#ccff00;
	border-radius:0 26px 0 0; 
	-webkit-border-radius:0 26px 0 0; 
	-moz-border-radius:0 26px 0 0; 
	-khtml-border-radius:0 26px 0 0;
	box-shadow:2px 0px 5px 2px #3bff00;
	-moz-box-shadow:2px 0px 5px 2px #3bff00;
    -webkit-box-shadow:2px 0px 5px 2px #3bff00;	
	border: 2px #ffd000 dashed;	
}

div.aqkoppebc{
	background-color:#77ff00;
	border-radius:0 26px 0 0; 
	-webkit-border-radius:0 26px 0 0; 
	-moz-border-radius:0 26px 0 0; 
	-khtml-border-radius:0 26px 0 0;
	box-shadow:2px 0px 5px 2px #90ff00;
	-moz-box-shadow:2px 0px 5px 2px #90ff00;
    -webkit-box-shadow:2px 0px 5px 2px #90ff00;
	border: 2px #ffa600 dashed;	
}

div.jmwjbbtqwmd{
	background-color:#f200ff;
	border-radius:0 26px 0 0; 
	-webkit-border-radius:0 26px 0 0; 
	-moz-border-radius:0 26px 0 0; 
	-khtml-border-radius:0 26px 0 0;
	box-shadow:2px 0px 5px 2px #6200ff;
	-moz-box-shadow:2px 0px 5px 2px #6200ff;
    -webkit-box-shadow:2px 0px 5px 2px #6200ff;	
	border: 2px #ff004f dashed;	
}

div.wzueqhbwhpwc{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.qmfdqudahd{
	margin:15px;
	padding:10px;
}


table.dvibczslaz td{
	vertical-align:top;
}


div.pmnawouc{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.wpurmbwmaw{
	margin-bottom:15px;
	font-size:80%;
}


img.komgjsjrwnw{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.wrqivexssqkl{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.ejiskmtf{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.aoorqadlp{
	margin:7px;
	border-radius:0 26px 0 0; 
	-webkit-border-radius:0 26px 0 0; 
	-moz-border-radius:0 26px 0 0; 
	-khtml-border-radius:0 26px 0 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.agpapews{
	padding:10px;
	margin-bottom:30px;
}


div.vcmghoeuexdx{
	clear:both;
}


div.lfpautisfp{
	margin-bottom:10px;
}


div.ldzjplepo{
	margin:15px;
	text-align:left;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.elcfnsbv{
	margin-bottom:15px;
}


div.rwjtpjthf{
	margin:auto;
	width:420px;
}

div.mcsgntuwjjsm{
	text-align:center;	
}

div.nenshkushdri{
	text-align:left;
	font-weight:bold;
	font-size:125%;
}

div.owpvkawbwr{
	text-align:center;
}


td.wrigkctsf{
	vertical-align:top;
}

div.ickaxlomveuj{
	width:950px;
	padding:20px;
}

div.hslngjxmajle{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.ujkjhhnj{
	text-align:center;
}