h1{
	font-size:125%;
}
div.mkbfrjxkbgww{
	font-weight:bold;
}
a.klaurofck{
	font-size:140%;
}

div.ldzjplepo a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:15px;	
	font-family:Book Antiqua;
}

a{
	color:#000000;	
}

span.omlwsqcmtvg h1{
	color:#ffffff;
}

div.hslngjxmajle{
	color:#ffffff;
}

div.mcsgntuwjjsm{
	color:#ffffff;
}

div.mcsgntuwjjsm a{
	color:#ffffff;
}

a.htgnjpwipd{
	text-decoration:none;
	font-size:115%;
}

li.ncofzlpzgsm a{
	text-decoration:none;	
}

li.ncofzlpzgsm{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.gowbmabnxrso{		
	list-style-type:disc;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.rbarpvhlngdh{
	font-size:125%;
}


div.kdpcavxg{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.kdpcavxg a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.wtrexnul{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.wtrexnul a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.aqkoppebc{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.aqkoppebc a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.jmwjbbtqwmd{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.jmwjbbtqwmd a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.aoorqadlp{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.aoorqadlp a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.zwrgipot{
	font-size:75%;	
}

div.ujkjhhnj{	
	font-size:75%;		
}