@import url('typography.css');

body{
	background-color:#eeeeee;
}

div.josqskhomddb{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.acdctmfqofh{

}

span.epwfulwxddte{
	display: inline-block;
	padding:3px;
	background: #E8EFF7;
	border: 1px solid #E9E9E9;
	border-radius:0 15px 15px 15px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.mnplwqhhdb{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.epwfulwxddte:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.epwfulwxddte a:hover{
	box-shadow: 0 0 10px #555;
}


div.tpghbcfixajw{
	text-align:center;
	padding:10px;
}

div.esvpxsakbj{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.pabfloww h1{
	margin:0px;
}

div.beiljzanvtb{
	text-align:center;
}

div.hldwboff{	
	margin-bottom:30px;	
}

span.bzqnknmj{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.bzqnknmj{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.kkxwsraqcz{
	text-align:center;
}

img{
	border-radius:0 15px 15px 15px;
	-webkit-border-radius:0 15px 15px 15px; 
	-moz-border-radius:0 15px 15px 15px; 
	-khtml-border-radius:0 15px 15px 15px;
}

div.aooubudp{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.vxjqgokpf{
	background-color:#7fff00;
	border-radius:0 15px 15px 15px;
	-webkit-border-radius:0 15px 15px 15px;
	-moz-border-radius:0 15px 15px 15px;
	-khtml-border-radius:0 15px 15px 15px;
	box-shadow:4px 5px 2px 3px #00ff1a;
	-moz-box-shadow:4px 5px 2px 3px #00ff1a;
    -webkit-box-shadow:4px 5px 2px 3px #00ff1a;
	border: 4px #fff900 solid;
	padding:10px;	
}

span.vxjqgokpf{
	background-color:#cccccc;
	border-radius:0 15px 15px 15px;
	-webkit-border-radius:0 15px 15px 15px;
	-moz-border-radius:0 15px 15px 15px;
	-khtml-border-radius:0 15px 15px 15px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.ncgbdqnub{
	background-color:#2aff00;
	border-radius:0 15px 15px 15px; 
	-webkit-border-radius:0 15px 15px 15px; 
	-moz-border-radius:0 15px 15px 15px; 
	-khtml-border-radius:0 15px 15px 15px;
	box-shadow:4px 5px 2px 3px #00ffc4;
	-moz-box-shadow:4px 5px 2px 3px #00ffc4;
    -webkit-box-shadow:4px 5px 2px 3px #00ffc4;	
	border: 4px #b7ff00 solid;	
}

div.njpdlxqo{
	background-color:#00ff55;
	border-radius:0 15px 15px 15px; 
	-webkit-border-radius:0 15px 15px 15px; 
	-moz-border-radius:0 15px 15px 15px; 
	-khtml-border-radius:0 15px 15px 15px;
	box-shadow:4px 5px 2px 3px #00ff1a;
	-moz-box-shadow:4px 5px 2px 3px #00ff1a;
    -webkit-box-shadow:4px 5px 2px 3px #00ff1a;
	border: 4px #fff900 solid;	
}

div.fnxulbcxjqrg{
	background-color:#ff0039;
	border-radius:0 15px 15px 15px; 
	-webkit-border-radius:0 15px 15px 15px; 
	-moz-border-radius:0 15px 15px 15px; 
	-khtml-border-radius:0 15px 15px 15px;
	box-shadow:4px 5px 2px 3px #ff00f4;
	-moz-box-shadow:4px 5px 2px 3px #ff00f4;
    -webkit-box-shadow:4px 5px 2px 3px #ff00f4;	
	border: 4px #ff3100 solid;	
}

div.cnmotdqu{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.ojpndrdwwg{
	margin:15px;
	padding:10px;
}


table.ujdwdlxa td{
	vertical-align:top;
}


div.psvavcwso{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.rfvoswah{
	margin-bottom:15px;
	font-size:80%;
}


img.meazlsvfp{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.hohknjhzbfb{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.cliwdrouhemh{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.rmwxjltbz{
	margin:7px;
	border-radius:0 15px 15px 15px; 
	-webkit-border-radius:0 15px 15px 15px; 
	-moz-border-radius:0 15px 15px 15px; 
	-khtml-border-radius:0 15px 15px 15px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.crtzbljuajb{
	padding:10px;
	margin-bottom:30px;
}


div.zbnpkravhtgx{
	clear:both;
}


div.klqsehkr{
	margin-bottom:10px;
}


div.pabfloww{
	margin:15px;
	text-align:right;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.aazejwbao{
	margin-bottom:15px;
}


div.wkhbxktodrs{
	margin:auto;
	width:420px;
}

div.afjfnsmndee{
	text-align:center;	
}

div.uggizawaqc{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.whnirxwbvwle{
	text-align:center;
}


td.gpnalmfg{
	vertical-align:top;
}

div.taetlerhej{
	width:950px;
	padding:20px;
}

div.oavenqgj{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.awnvvlxqedl{
	text-align:left;
}