h1{
	font-size:125%;
}
div.prkkfhrv{
	font-weight:bold;
}
a.sqrxeazrihf{
	font-size:140%;
}

div.pabfloww a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:16px;	
	font-family:Verdana;
}

a{
	color:#000000;	
}

span.lfhmfesfxzlv h1{
	color:#000000;
}

div.oavenqgj{
	color:#000000;
}

div.afjfnsmndee{
	color:#000000;
}

div.afjfnsmndee a{
	color:#000000;
}

a.awjhcflw{
	text-decoration:none;
	font-size:115%;
}

li.sdjhjchori a{
	text-decoration:none;	
}

li.sdjhjchori{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.hqmxurroxtlp{		
	list-style-type:circle;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.jxewmqbwptmw{
	font-size:125%;
}


div.vxjqgokpf{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.vxjqgokpf a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.ncgbdqnub{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.ncgbdqnub a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.njpdlxqo{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.njpdlxqo a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.fnxulbcxjqrg{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.fnxulbcxjqrg a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.rmwxjltbz{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.rmwxjltbz a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.wcfabetvwlu{
	font-size:75%;	
}

div.awnvvlxqedl{	
	font-size:75%;		
}