@import url('typography.css');

body{
	background-color:#aaaaaa;
}

div.fbcmuawz{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.dblbvtzwb{

}

span.khjoxzqifg{
	display: inline-block;
	padding:7px;
	background: #E1EBF4;
	border: 1px solid #E9E9E9;
	border-radius:26px 0 26px 26px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.znbodorqv{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.khjoxzqifg:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.khjoxzqifg a:hover{
	box-shadow: 0 0 10px #555;
}


div.zprfixvunm{
	text-align:center;
	padding:10px;
}

div.wxxsxjadlfj{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.thxonzcez h1{
	margin:0px;
}

div.wsxwvgll{
	text-align:center;
}

div.kiwhfudhjong{	
	margin-bottom:30px;	
}

span.vxeiiqlwhndc{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.vxeiiqlwhndc{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.wqbwszjpfp{
	text-align:center;
}

img{
	border-radius:26px 0 26px 26px;
	-webkit-border-radius:26px 0 26px 26px; 
	-moz-border-radius:26px 0 26px 26px; 
	-khtml-border-radius:26px 0 26px 26px;
}

div.nglxnfaw{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.xhmbrrzmjfw{
	background-color:#ffc100;
	border-radius:26px 0 26px 26px;
	-webkit-border-radius:26px 0 26px 26px;
	-moz-border-radius:26px 0 26px 26px;
	-khtml-border-radius:26px 0 26px 26px;
	box-shadow:3px 5px 3px 1px #ff6f00;
	-moz-box-shadow:3px 5px 3px 1px #ff6f00;
    -webkit-box-shadow:3px 5px 3px 1px #ff6f00;
	border: 4px #d4ff00 dotted;
	padding:10px;	
}

span.xhmbrrzmjfw{
	background-color:#cccccc;
	border-radius:26px 0 26px 26px;
	-webkit-border-radius:26px 0 26px 26px;
	-moz-border-radius:26px 0 26px 26px;
	-khtml-border-radius:26px 0 26px 26px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.ijgjkasswtke{
	background-color:#ffec00;
	border-radius:26px 0 26px 26px; 
	-webkit-border-radius:26px 0 26px 26px; 
	-moz-border-radius:26px 0 26px 26px; 
	-khtml-border-radius:26px 0 26px 26px;
	box-shadow:3px 5px 3px 1px #ff9900;
	-moz-box-shadow:3px 5px 3px 1px #ff9900;
    -webkit-box-shadow:3px 5px 3px 1px #ff9900;	
	border: 4px #7fff00 dotted;	
}

div.mwkhqfqggbq{
	background-color:#d0ff00;
	border-radius:26px 0 26px 26px; 
	-webkit-border-radius:26px 0 26px 26px; 
	-moz-border-radius:26px 0 26px 26px; 
	-khtml-border-radius:26px 0 26px 26px;
	box-shadow:3px 5px 3px 1px #d4ff00;
	-moz-box-shadow:3px 5px 3px 1px #d4ff00;
    -webkit-box-shadow:3px 5px 3px 1px #d4ff00;
	border: 4px #ff6f00 dotted;	
}

div.ulooezdb{
	background-color:#9900ff;
	border-radius:26px 0 26px 26px; 
	-webkit-border-radius:26px 0 26px 26px; 
	-moz-border-radius:26px 0 26px 26px; 
	-khtml-border-radius:26px 0 26px 26px;
	box-shadow:3px 5px 3px 1px #ff00aa;
	-moz-box-shadow:3px 5px 3px 1px #ff00aa;
    -webkit-box-shadow:3px 5px 3px 1px #ff00aa;	
	border: 4px #0011ff dotted;	
}

div.uqlzltbubrrj{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.dsezjzdw{
	margin:15px;
	padding:10px;
}


table.wthmdami td{
	vertical-align:top;
}


div.jsuwtoqns{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.awdxtnnc{
	margin-bottom:15px;
	font-size:80%;
}


img.cwgkapmhcsjj{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.ravrlakjmmh{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.uzfsupkpmx{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.oibzliqhpws{
	margin:7px;
	border-radius:26px 0 26px 26px; 
	-webkit-border-radius:26px 0 26px 26px; 
	-moz-border-radius:26px 0 26px 26px; 
	-khtml-border-radius:26px 0 26px 26px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.waxapegkphk{
	padding:10px;
	margin-bottom:30px;
}


div.hwltlzwrlw{
	clear:both;
}


div.oduhcvwu{
	margin-bottom:10px;
}


div.thxonzcez{
	margin:15px;
	text-align:right;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.kldoeskkas{
	margin-bottom:15px;
}


div.vfwszsjjq{
	margin:auto;
	width:420px;
}

div.kjzfchtmxfe{
	text-align:center;	
}

div.tswdcwhuz{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.xovibhpelk{
	text-align:center;
}


td.chrirhmsasq{
	vertical-align:top;
}

div.sfmkvaxdaxgo{
	width:950px;
	padding:20px;
}

div.bhsielzem{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.klsvkfchzb{
	text-align:center;
}