h1{
	font-size:125%;
}
div.focrldwth{
	font-weight:bold;
}
a.rxrswtvcq{
	font-size:140%;
}

div.thxonzcez a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:16px;	
	font-family:Century Gothic;
}

a{
	color:#000000;	
}

span.sjoapztjjx h1{
	color:#000000;
}

div.bhsielzem{
	color:#000000;
}

div.kjzfchtmxfe{
	color:#000000;
}

div.kjzfchtmxfe a{
	color:#000000;
}

a.jiptdibhmts{
	text-decoration:none;
	font-size:115%;
}

li.pkoueqbmmh a{
	text-decoration:none;	
}

li.pkoueqbmmh{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.ceskrous{		
	list-style-type:circle;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.gununpvzcoco{
	font-size:125%;
}


div.xhmbrrzmjfw{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.xhmbrrzmjfw a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.ijgjkasswtke{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.ijgjkasswtke a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.mwkhqfqggbq{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.mwkhqfqggbq a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.ulooezdb{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.ulooezdb a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.oibzliqhpws{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.oibzliqhpws a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.nhcnuxsh{
	font-size:75%;	
}

div.klsvkfchzb{	
	font-size:75%;		
}