@import url('typography.css');

body{
	background-color:#dddddd;
}

div.ibcevumxmsk{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.uwaxtdak{

}

span.hrnwbspmnhm{
	display: inline-block;
	padding:5px;
	background: #EDEDED;
	border: 1px solid #E9E9E9;
	border-radius:22px 0 22px 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.gemskpnsmfw{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.hrnwbspmnhm:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.hrnwbspmnhm a:hover{
	box-shadow: 0 0 10px #555;
}


div.rijwnokp{
	text-align:center;
	padding:10px;
}

div.fvbazwuk{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.qtveemko h1{
	margin:0px;
}

div.vrwxjtmfbg{
	text-align:right;
}

div.uhhqnckcrwrr{	
	margin-bottom:30px;	
}

span.uuagctkw{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.uuagctkw{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.fnhmfokakhow{
	text-align:center;
}

img{
	border-radius:22px 0 22px 0;
	-webkit-border-radius:22px 0 22px 0; 
	-moz-border-radius:22px 0 22px 0; 
	-khtml-border-radius:22px 0 22px 0;
}

div.xoaddtziearc{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.spndpsdwclb{
	background-color:#00d7ff;
	border-radius:22px 0 22px 0;
	-webkit-border-radius:22px 0 22px 0;
	-moz-border-radius:22px 0 22px 0;
	-khtml-border-radius:22px 0 22px 0;
	box-shadow:2px 3px 6px 2px #0071ff;
	-moz-box-shadow:2px 3px 6px 2px #0071ff;
    -webkit-box-shadow:2px 3px 6px 2px #0071ff;
	border: 4px #00ffa2 double;
	padding:10px;	
}

span.spndpsdwclb{
	background-color:#cccccc;
	border-radius:22px 0 22px 0;
	-webkit-border-radius:22px 0 22px 0;
	-moz-border-radius:22px 0 22px 0;
	-khtml-border-radius:22px 0 22px 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.zvxlrhtbzv{
	background-color:#0066ff;
	border-radius:22px 0 22px 0; 
	-webkit-border-radius:22px 0 22px 0; 
	-moz-border-radius:22px 0 22px 0; 
	-khtml-border-radius:22px 0 22px 0;
	box-shadow:2px 3px 6px 2px #0000ff;
	-moz-box-shadow:2px 3px 6px 2px #0000ff;
    -webkit-box-shadow:2px 3px 6px 2px #0000ff;	
	border: 4px #00ccff double;	
}

div.agxjohluj{
	background-color:#0900ff;
	border-radius:22px 0 22px 0; 
	-webkit-border-radius:22px 0 22px 0; 
	-moz-border-radius:22px 0 22px 0; 
	-khtml-border-radius:22px 0 22px 0;
	box-shadow:2px 3px 6px 2px #0071ff;
	-moz-box-shadow:2px 3px 6px 2px #0071ff;
    -webkit-box-shadow:2px 3px 6px 2px #0071ff;
	border: 4px #00ffa2 double;	
}

div.zqsslkhgih{
	background-color:#ff7900;
	border-radius:22px 0 22px 0; 
	-webkit-border-radius:22px 0 22px 0; 
	-moz-border-radius:22px 0 22px 0; 
	-khtml-border-radius:22px 0 22px 0;
	box-shadow:2px 3px 6px 2px #ff5300;
	-moz-box-shadow:2px 3px 6px 2px #ff5300;
    -webkit-box-shadow:2px 3px 6px 2px #ff5300;	
	border: 4px #ff9f00 double;	
}

div.wouneqbcu{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.sucruuwcww{
	margin:15px;
	padding:10px;
}


table.gdefbcmuawz td{
	vertical-align:top;
}


div.dblbvtzwb{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.khjoxzqifg{
	margin-bottom:15px;
	font-size:80%;
}


img.znbodorqv{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.zprfixvunm{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.wxxsxjadlfj{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.thxonzcez{
	margin:7px;
	border-radius:22px 0 22px 0; 
	-webkit-border-radius:22px 0 22px 0; 
	-moz-border-radius:22px 0 22px 0; 
	-khtml-border-radius:22px 0 22px 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.wsxwvgll{
	padding:10px;
	margin-bottom:30px;
}


div.kiwhfudhjong{
	clear:both;
}


div.vxeiiqlwhndc{
	margin-bottom:10px;
}


div.qtveemko{
	margin:15px;
	text-align:left;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.wqbwszjpfp{
	margin-bottom:15px;
}


div.nglxnfaw{
	margin:auto;
	width:420px;
}

div.xhmbrrzmjfw{
	text-align:center;	
}

div.ijgjkasswtke{
	text-align:right;
	font-weight:bold;
	font-size:125%;
}

div.mwkhqfqggbq{
	text-align:center;
}


td.ulooezdb{
	vertical-align:top;
}

div.uqlzltbubrrj{
	width:950px;
	padding:20px;
}

div.dsezjzdw{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.wthmdami{
	text-align:center;
}