h1{
	font-size:125%;
}
div.jsuwtoqns{
	font-weight:bold;
}
a.awdxtnnc{
	font-size:140%;
}

div.qtveemko a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:14px;	
	font-family:Verdana;
}

a{
	color:#000000;	
}

span.cwgkapmhcsjj h1{
	color:#000000;
}

div.dsezjzdw{
	color:#000000;
}

div.xhmbrrzmjfw{
	color:#000000;
}

div.xhmbrrzmjfw a{
	color:#000000;
}

a.ravrlakjmmh{
	text-decoration:none;
	font-size:115%;
}

li.uzfsupkpmx a{
	text-decoration:none;	
}

li.uzfsupkpmx{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.oibzliqhpws{		
	list-style-type:disc;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.waxapegkphk{
	font-size:125%;
}


div.spndpsdwclb{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.spndpsdwclb a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.zvxlrhtbzv{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.zvxlrhtbzv a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.agxjohluj{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.agxjohluj a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.zqsslkhgih{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.zqsslkhgih a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.thxonzcez{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.thxonzcez a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.hwltlzwrlw{
	font-size:75%;	
}

div.wthmdami{	
	font-size:75%;		
}