@import url('typography.css');

body{
	background-color:#dddddd;
}

div.kkefgbqo{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.waaztrcoslsg{

}

span.rjcjfatbjd{
	display: inline-block;
	padding:4px;
	background: #E8EFF7;
	border: 1px solid #E9E9E9;
	border-radius:0 0 0 24px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.tbshdoewn{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.rjcjfatbjd:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.rjcjfatbjd a:hover{
	box-shadow: 0 0 10px #555;
}


div.mqoweqmzdma{
	text-align:center;
	padding:10px;
}

div.xgjpkphid{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.whbscvqfwv h1{
	margin:0px;
}

div.qfocbdxlbkgi{
	text-align:center;
}

div.gjsukqaebxh{	
	margin-bottom:30px;	
}

span.wmzwggaauo{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.wmzwggaauo{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.wrfqbrpprznv{
	text-align:center;
}

img{
	border-radius:0 0 0 24px;
	-webkit-border-radius:0 0 0 24px; 
	-moz-border-radius:0 0 0 24px; 
	-khtml-border-radius:0 0 0 24px;
}

div.jiudaxkrq{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.falcdufwqb{
	background-color:#6a00ff;
	border-radius:0 0 0 24px;
	-webkit-border-radius:0 0 0 24px;
	-moz-border-radius:0 0 0 24px;
	-khtml-border-radius:0 0 0 24px;
	box-shadow:1px 4px 3px 5px #cc00ff;
	-moz-box-shadow:1px 4px 3px 5px #cc00ff;
    -webkit-box-shadow:1px 4px 3px 5px #cc00ff;
	border: 5px #0900ff grouve;
	padding:10px;	
}

span.falcdufwqb{
	background-color:#cccccc;
	border-radius:0 0 0 24px;
	-webkit-border-radius:0 0 0 24px;
	-moz-border-radius:0 0 0 24px;
	-khtml-border-radius:0 0 0 24px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.xrkviuwq{
	background-color:#bf00ff;
	border-radius:0 0 0 24px; 
	-webkit-border-radius:0 0 0 24px; 
	-moz-border-radius:0 0 0 24px; 
	-khtml-border-radius:0 0 0 24px;
	box-shadow:1px 4px 3px 5px #5e00ff;
	-moz-box-shadow:1px 4px 3px 5px #5e00ff;
    -webkit-box-shadow:1px 4px 3px 5px #5e00ff;	
	border: 5px #ff00d2 grouve;	
}

div.whgkknwg{
	background-color:#ff00e3;
	border-radius:0 0 0 24px; 
	-webkit-border-radius:0 0 0 24px; 
	-moz-border-radius:0 0 0 24px; 
	-khtml-border-radius:0 0 0 24px;
	box-shadow:1px 4px 3px 5px #0900ff;
	-moz-box-shadow:1px 4px 3px 5px #0900ff;
    -webkit-box-shadow:1px 4px 3px 5px #0900ff;
	border: 5px #cc00ff grouve;	
}

div.ffwimnhcxm{
	background-color:#ffff00;
	border-radius:0 0 0 24px; 
	-webkit-border-radius:0 0 0 24px; 
	-moz-border-radius:0 0 0 24px; 
	-khtml-border-radius:0 0 0 24px;
	box-shadow:1px 4px 3px 5px #ffce00;
	-moz-box-shadow:1px 4px 3px 5px #ffce00;
    -webkit-box-shadow:1px 4px 3px 5px #ffce00;	
	border: 5px #9dff00 grouve;	
}

div.epjwpdvkvpd{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.tqzvwgozhdrs{
	margin:15px;
	padding:10px;
}


table.ilwxlrvqn td{
	vertical-align:top;
}


div.jkgswsqmen{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.oqikecalz{
	margin-bottom:15px;
	font-size:80%;
}


img.dogvqisiwvoe{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.smsnatve{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.bvowqpqce{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.wdwefoqfdn{
	margin:7px;
	border-radius:0 0 0 24px; 
	-webkit-border-radius:0 0 0 24px; 
	-moz-border-radius:0 0 0 24px; 
	-khtml-border-radius:0 0 0 24px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.iqodwevwws{
	padding:10px;
	margin-bottom:30px;
}


div.kkstzlddgimc{
	clear:both;
}


div.wrfklfpfxc{
	margin-bottom:10px;
}


div.whbscvqfwv{
	margin:15px;
	text-align:center;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.qoszwgcrqisz{
	margin-bottom:15px;
}


div.rmofpwlw{
	margin:auto;
	width:420px;
}

div.afcceawvjkan{
	text-align:center;	
}

div.mtajwtrp{
	text-align:left;
	font-weight:bold;
	font-size:125%;
}

div.hhtjbghdgkf{
	text-align:center;
}


td.qczvkdojhwk{
	vertical-align:top;
}

div.menltjipg{
	width:950px;
	padding:20px;
}

div.wnthnglgh{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.bmravuptl{
	text-align:left;
}