h1{
	font-size:125%;
}
div.prdrokpkzz{
	font-weight:bold;
}
a.qvbispsn{
	font-size:140%;
}

div.whbscvqfwv a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:14px;	
	font-family:Palatino Linotype;
}

a{
	color:#000000;	
}

span.gnjfgocvom h1{
	color:#000000;
}

div.wnthnglgh{
	color:#000000;
}

div.afcceawvjkan{
	color:#000000;
}

div.afcceawvjkan a{
	color:#000000;
}

a.rqipolsiwm{
	text-decoration:none;
	font-size:115%;
}

li.vjszumpnlac a{
	text-decoration:none;	
}

li.vjszumpnlac{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.nirmggio{		
	list-style-type:square;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.dnjzvfkwr{
	font-size:125%;
}


div.falcdufwqb{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.falcdufwqb a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.xrkviuwq{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.xrkviuwq a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.whgkknwg{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.whgkknwg a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.ffwimnhcxm{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.ffwimnhcxm a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.wdwefoqfdn{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.wdwefoqfdn a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.wkmlgcqltgzu{
	font-size:75%;	
}

div.bmravuptl{	
	font-size:75%;		
}