@import url('typography.css');

body{
	background-color:#666666;
}

div.dkuuqwaapbx{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.gpkbixaobv{

}

span.qdsvkuknmtg{
	display: inline-block;
	padding:4px;
	background: #E7F8E7;
	border: 1px solid #E9E9E9;
	border-radius:21px 21px 0 21px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.xfbtixft{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.qdsvkuknmtg:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.qdsvkuknmtg a:hover{
	box-shadow: 0 0 10px #555;
}


div.bodwkkiwcqic{
	text-align:center;
	padding:10px;
}

div.oqvbbeogllkr{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.jzdtmktwsf h1{
	margin:0px;
}

div.hnozuxzou{
	text-align:left;
}

div.pebszpzoh{	
	margin-bottom:30px;	
}

span.kwafrcji{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.kwafrcji{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.ewcoppujif{
	text-align:center;
}

img{
	border-radius:21px 21px 0 21px;
	-webkit-border-radius:21px 21px 0 21px; 
	-moz-border-radius:21px 21px 0 21px; 
	-khtml-border-radius:21px 21px 0 21px;
}

div.jvtelcvv{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.ongqgldwostr{
	background-color:#ff2f00;
	border-radius:21px 21px 0 21px;
	-webkit-border-radius:21px 21px 0 21px;
	-moz-border-radius:21px 21px 0 21px;
	-khtml-border-radius:21px 21px 0 21px;
	box-shadow:1px 6px 5px 2px #ff0900;
	-moz-box-shadow:1px 6px 5px 2px #ff0900;
    -webkit-box-shadow:1px 6px 5px 2px #ff0900;
	border: 0px #ff5500 double;
	padding:10px;	
}

span.ongqgldwostr{
	background-color:#cccccc;
	border-radius:21px 21px 0 21px;
	-webkit-border-radius:21px 21px 0 21px;
	-moz-border-radius:21px 21px 0 21px;
	-khtml-border-radius:21px 21px 0 21px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.wuenalhqul{
	background-color:#ff5900;
	border-radius:21px 21px 0 21px; 
	-webkit-border-radius:21px 21px 0 21px; 
	-moz-border-radius:21px 21px 0 21px; 
	-khtml-border-radius:21px 21px 0 21px;
	box-shadow:1px 6px 5px 2px #ff3300;
	-moz-box-shadow:1px 6px 5px 2px #ff3300;
    -webkit-box-shadow:1px 6px 5px 2px #ff3300;	
	border: 0px #ff8000 double;	
}

div.ggbfjawgl{
	background-color:#ff8400;
	border-radius:21px 21px 0 21px; 
	-webkit-border-radius:21px 21px 0 21px; 
	-moz-border-radius:21px 21px 0 21px; 
	-khtml-border-radius:21px 21px 0 21px;
	box-shadow:1px 6px 5px 2px #ff0900;
	-moz-box-shadow:1px 6px 5px 2px #ff0900;
    -webkit-box-shadow:1px 6px 5px 2px #ff0900;
	border: 0px #ff5500 double;	
}

div.igmgzpxk{
	background-color:#00bbff;
	border-radius:21px 21px 0 21px; 
	-webkit-border-radius:21px 21px 0 21px; 
	-moz-border-radius:21px 21px 0 21px; 
	-khtml-border-radius:21px 21px 0 21px;
	box-shadow:1px 6px 5px 2px #0055ff;
	-moz-box-shadow:1px 6px 5px 2px #0055ff;
    -webkit-box-shadow:1px 6px 5px 2px #0055ff;	
	border: 0px #00ffcc double;	
}

div.dsgiejvz{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.uussneujnp{
	margin:15px;
	padding:10px;
}


table.wfdigpkrqdng td{
	vertical-align:top;
}


div.uatobajgwdwk{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.lkxnnuavndp{
	margin-bottom:15px;
	font-size:80%;
}


img.wgbgzietda{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.ppqhuwwnt{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.xulwnljg{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.ilwsvfvgtprf{
	margin:7px;
	border-radius:21px 21px 0 21px; 
	-webkit-border-radius:21px 21px 0 21px; 
	-moz-border-radius:21px 21px 0 21px; 
	-khtml-border-radius:21px 21px 0 21px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.bnuspztzqd{
	padding:10px;
	margin-bottom:30px;
}


div.bfodgtjll{
	clear:both;
}


div.eazbabsh{
	margin-bottom:10px;
}


div.jzdtmktwsf{
	margin:15px;
	text-align:center;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.gwjvvnglnv{
	margin-bottom:15px;
}


div.noswqplzww{
	margin:auto;
	width:420px;
}

div.vvgnuptawuev{
	text-align:center;	
}

div.ntsvhebchr{
	text-align:right;
	font-weight:bold;
	font-size:125%;
}

div.jczadthuhwi{
	text-align:center;
}


td.johtilzbqo{
	vertical-align:top;
}

div.ggnrqqlrcu{
	width:950px;
	padding:20px;
}

div.fwdzmbrhgswx{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.vrlqrpzeeod{
	text-align:right;
}