h1{
	font-size:125%;
}
div.qbzowbch{
	font-weight:bold;
}
a.apprxccjf{
	font-size:140%;
}

div.jzdtmktwsf a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:15px;	
	font-family:Arial Narrow;
}

a{
	color:#000000;	
}

span.bhxveskusmt h1{
	color:#ffffff;
}

div.fwdzmbrhgswx{
	color:#ffffff;
}

div.vvgnuptawuev{
	color:#ffffff;
}

div.vvgnuptawuev a{
	color:#ffffff;
}

a.iziwhafr{
	text-decoration:none;
	font-size:115%;
}

li.wtpoqaguk a{
	text-decoration:none;	
}

li.wtpoqaguk{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.sgczppbczc{		
	list-style-type:square;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.ummsndxn{
	font-size:125%;
}


div.ongqgldwostr{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.ongqgldwostr a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.wuenalhqul{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.wuenalhqul a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.ggbfjawgl{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.ggbfjawgl a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.igmgzpxk{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.igmgzpxk a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.ilwsvfvgtprf{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.ilwsvfvgtprf a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.qdakzkaau{
	font-size:75%;	
}

div.vrlqrpzeeod{	
	font-size:75%;		
}