@import url('typography.css');

body{
	background-color:#dddddd;
}

div.kucuuvduhm{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.shvnmtlujf{

}

span.ogqlomlmaw{
	display: inline-block;
	padding:4px;
	background: #EFEFEF;
	border: 1px solid #E9E9E9;
	border-radius:0 0 0 23px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.eruqqrblmub{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.ogqlomlmaw:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.ogqlomlmaw a:hover{
	box-shadow: 0 0 10px #555;
}


div.sgpxatbzln{
	text-align:center;
	padding:10px;
}

div.tpgnrofsr{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.beivctnvwusz h1{
	margin:0px;
}

div.dwzpdqvjptdv{
	text-align:right;
}

div.tahxqcjxxkju{	
	margin-bottom:30px;	
}

span.owwtqjavhj{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.owwtqjavhj{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.docipbhstw{
	text-align:center;
}

img{
	border-radius:0 0 0 23px;
	-webkit-border-radius:0 0 0 23px; 
	-moz-border-radius:0 0 0 23px; 
	-khtml-border-radius:0 0 0 23px;
}

div.mmpobiinf{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.qwjrrthpz{
	background-color:#8000ff;
	border-radius:0 0 0 23px;
	-webkit-border-radius:0 0 0 23px;
	-moz-border-radius:0 0 0 23px;
	-khtml-border-radius:0 0 0 23px;
	box-shadow:6px 1px 5px 5px #ff00c6;
	-moz-box-shadow:6px 1px 5px 5px #ff00c6;
    -webkit-box-shadow:6px 1px 5px 5px #ff00c6;
	border: 2px #0039ff double;
	padding:10px;	
}

span.qwjrrthpz{
	background-color:#cccccc;
	border-radius:0 0 0 23px;
	-webkit-border-radius:0 0 0 23px;
	-moz-border-radius:0 0 0 23px;
	-khtml-border-radius:0 0 0 23px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.jnrrliiqwpca{
	background-color:#d500ff;
	border-radius:0 0 0 23px; 
	-webkit-border-radius:0 0 0 23px; 
	-moz-border-radius:0 0 0 23px; 
	-khtml-border-radius:0 0 0 23px;
	box-shadow:6px 1px 5px 5px #2b00ff;
	-moz-box-shadow:6px 1px 5px 5px #2b00ff;
    -webkit-box-shadow:6px 1px 5px 5px #2b00ff;	
	border: 2px #ff0055 double;	
}

div.fmpoqqoaxd{
	background-color:#ff00c6;
	border-radius:0 0 0 23px; 
	-webkit-border-radius:0 0 0 23px; 
	-moz-border-radius:0 0 0 23px; 
	-khtml-border-radius:0 0 0 23px;
	box-shadow:6px 1px 5px 5px #0039ff;
	-moz-box-shadow:6px 1px 5px 5px #0039ff;
    -webkit-box-shadow:6px 1px 5px 5px #0039ff;
	border: 2px #ff00c6 double;	
}

div.flbawgblote{
	background-color:#eaff00;
	border-radius:0 0 0 23px; 
	-webkit-border-radius:0 0 0 23px; 
	-moz-border-radius:0 0 0 23px; 
	-khtml-border-radius:0 0 0 23px;
	box-shadow:6px 1px 5px 5px #40ff00;
	-moz-box-shadow:6px 1px 5px 5px #40ff00;
    -webkit-box-shadow:6px 1px 5px 5px #40ff00;	
	border: 2px #ffb500 double;	
}

div.wwavkhrs{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.utnlvilfmzg{
	margin:15px;
	padding:10px;
}


table.dwdwunudxb td{
	vertical-align:top;
}


div.ulbxhxqgmg{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.hrxjgtxft{
	margin-bottom:15px;
	font-size:80%;
}


img.radjeiab{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.hsavmwpjzsoo{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.ziwuxrfve{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.bnadlndkuxuq{
	margin:7px;
	border-radius:0 0 0 23px; 
	-webkit-border-radius:0 0 0 23px; 
	-moz-border-radius:0 0 0 23px; 
	-khtml-border-radius:0 0 0 23px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.grgtraau{
	padding:10px;
	margin-bottom:30px;
}


div.nirpkzjukij{
	clear:both;
}


div.tgpcdcoxtq{
	margin-bottom:10px;
}


div.beivctnvwusz{
	margin:15px;
	text-align:left;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.ljhwufww{
	margin-bottom:15px;
}


div.wrjuvqldob{
	margin:auto;
	width:420px;
}

div.sjupbzdehp{
	text-align:center;	
}

div.ezwrbggbvrgl{
	text-align:right;
	font-weight:bold;
	font-size:125%;
}

div.jcsjwoeojwrn{
	text-align:center;
}


td.spraitaxk{
	vertical-align:top;
}

div.abfqrekokh{
	width:950px;
	padding:20px;
}

div.dezmqmkgw{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.bikbdxwue{
	text-align:left;
}