h1{
	font-size:125%;
}
div.qxhapjblbsp{
	font-weight:bold;
}
a.xvmfmgump{
	font-size:140%;
}

div.beivctnvwusz a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:14px;	
	font-family:Sylfaen;
}

a{
	color:#000000;	
}

span.dupiqjikwwep h1{
	color:#000000;
}

div.dezmqmkgw{
	color:#000000;
}

div.sjupbzdehp{
	color:#000000;
}

div.sjupbzdehp a{
	color:#000000;
}

a.sxwijwxhfcki{
	text-decoration:none;
	font-size:115%;
}

li.swoqplpeelns a{
	text-decoration:none;	
}

li.swoqplpeelns{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.wxabfvgq{		
	list-style-type:square;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.wefzizqvoj{
	font-size:125%;
}


div.qwjrrthpz{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.qwjrrthpz a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.jnrrliiqwpca{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.jnrrliiqwpca a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.fmpoqqoaxd{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.fmpoqqoaxd a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.flbawgblote{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.flbawgblote a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.bnadlndkuxuq{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.bnadlndkuxuq a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.msqzwkkcl{
	font-size:75%;	
}

div.bikbdxwue{	
	font-size:75%;		
}