@import url('typography.css');

body{
	background-color:#222222;
}

div.nqjpgrohg{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.qhcdxawnfof{

}

span.whebxeiflt{
	display: inline-block;
	padding:7px;
	background: #F4EFDF;
	border: 1px solid #E9E9E9;
	border-radius:15px 0 15px 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.clwgjegrgoos{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.whebxeiflt:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.whebxeiflt a:hover{
	box-shadow: 0 0 10px #555;
}


div.wlkjzvknge{
	text-align:center;
	padding:10px;
}

div.enldbdcokxe{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.xebmuvtruft h1{
	margin:0px;
}

div.ddzzmwxud{
	text-align:center;
}

div.ohtdiqpsgk{	
	margin-bottom:30px;	
}

span.otrfnvaww{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.otrfnvaww{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.ptqzwjaodzwo{
	text-align:center;
}

img{
	border-radius:15px 0 15px 0;
	-webkit-border-radius:15px 0 15px 0; 
	-moz-border-radius:15px 0 15px 0; 
	-khtml-border-radius:15px 0 15px 0;
}

div.iolcqwfopiif{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.ottwawggox{
	background-color:#ff7d00;
	border-radius:15px 0 15px 0;
	-webkit-border-radius:15px 0 15px 0;
	-moz-border-radius:15px 0 15px 0;
	-khtml-border-radius:15px 0 15px 0;
	box-shadow:5px 0px 5px 6px #ff5500;
	-moz-box-shadow:5px 0px 5px 6px #ff5500;
    -webkit-box-shadow:5px 0px 5px 6px #ff5500;
	border: 4px #ffa600 dashed;
	padding:10px;	
}

span.ottwawggox{
	background-color:#cccccc;
	border-radius:15px 0 15px 0;
	-webkit-border-radius:15px 0 15px 0;
	-moz-border-radius:15px 0 15px 0;
	-khtml-border-radius:15px 0 15px 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.clbxspktu{
	background-color:#ffa800;
	border-radius:15px 0 15px 0; 
	-webkit-border-radius:15px 0 15px 0; 
	-moz-border-radius:15px 0 15px 0; 
	-khtml-border-radius:15px 0 15px 0;
	box-shadow:5px 0px 5px 6px #ff8000;
	-moz-box-shadow:5px 0px 5px 6px #ff8000;
    -webkit-box-shadow:5px 0px 5px 6px #ff8000;	
	border: 4px #ffd000 dashed;	
}

div.kwonbbult{
	background-color:#ffd200;
	border-radius:15px 0 15px 0; 
	-webkit-border-radius:15px 0 15px 0; 
	-moz-border-radius:15px 0 15px 0; 
	-khtml-border-radius:15px 0 15px 0;
	box-shadow:5px 0px 5px 6px #ff5500;
	-moz-box-shadow:5px 0px 5px 6px #ff5500;
    -webkit-box-shadow:5px 0px 5px 6px #ff5500;
	border: 4px #ffa600 dashed;	
}

div.qzowvnwg{
	background-color:#1100ff;
	border-radius:15px 0 15px 0; 
	-webkit-border-radius:15px 0 15px 0; 
	-moz-border-radius:15px 0 15px 0; 
	-khtml-border-radius:15px 0 15px 0;
	box-shadow:5px 0px 5px 6px #6200ff;
	-moz-box-shadow:5px 0px 5px 6px #6200ff;
    -webkit-box-shadow:5px 0px 5px 6px #6200ff;	
	border: 4px #0055ff dashed;	
}

div.vrwshlahsdb{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.ngekmtwv{
	margin:15px;
	padding:10px;
}


table.cmrufipjqrwl td{
	vertical-align:top;
}


div.aemrntfts{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.bztbuiftv{
	margin-bottom:15px;
	font-size:80%;
}


img.dozufgohl{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.mvmoavjcbgtk{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.psqnuvocifjn{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.ltevpzwfh{
	margin:7px;
	border-radius:15px 0 15px 0; 
	-webkit-border-radius:15px 0 15px 0; 
	-moz-border-radius:15px 0 15px 0; 
	-khtml-border-radius:15px 0 15px 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.zvqiiqeigbb{
	padding:10px;
	margin-bottom:30px;
}


div.pdvfshqa{
	clear:both;
}


div.naddgdwqnm{
	margin-bottom:10px;
}


div.xebmuvtruft{
	margin:15px;
	text-align:right;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.hsgkxwzexkuj{
	margin-bottom:15px;
}


div.iftsclnt{
	margin:auto;
	width:420px;
}

div.akmoaquqbwz{
	text-align:center;	
}

div.gjxzdwwqwo{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.lzecuqwktjof{
	text-align:center;
}


td.hghrasbcpfh{
	vertical-align:top;
}

div.rlitiqbjdmvj{
	width:950px;
	padding:20px;
}

div.fmrcohtw{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.foilmpjwavp{
	text-align:left;
}