h1{
	font-size:125%;
}
div.dseorfqqzvdj{
	font-weight:bold;
}
a.mflurzcmiabh{
	font-size:140%;
}

div.xebmuvtruft a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:16px;	
	font-family:Century Gothic;
}

a{
	color:#000000;	
}

span.mndoxfhojjpw h1{
	color:#ffffff;
}

div.fmrcohtw{
	color:#ffffff;
}

div.akmoaquqbwz{
	color:#ffffff;
}

div.akmoaquqbwz a{
	color:#ffffff;
}

a.smdlksdrfq{
	text-decoration:none;
	font-size:115%;
}

li.jjczcomgzz a{
	text-decoration:none;	
}

li.jjczcomgzz{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.eolvhzbwnuq{		
	list-style-type:circle;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.iciwsnwvc{
	font-size:125%;
}


div.ottwawggox{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.ottwawggox a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.clbxspktu{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.clbxspktu a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.kwonbbult{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.kwonbbult a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.qzowvnwg{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.qzowvnwg a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.ltevpzwfh{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.ltevpzwfh a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.mdnoxbjv{
	font-size:75%;	
}

div.foilmpjwavp{	
	font-size:75%;		
}