@import url('typography.css');

body{
	background-color:#555555;
}

div.pnduhozm{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.zffqovpfr{

}

span.tedoggicf{
	display: inline-block;
	padding:5px;
	background: #EDEDED;
	border: 1px solid #E9E9E9;
	border-radius:26px 26px 26px 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.bwebrkhtbpd{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.tedoggicf:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.tedoggicf a:hover{
	box-shadow: 0 0 10px #555;
}


div.nwuixkwdom{
	text-align:center;
	padding:10px;
}

div.biccwotztc{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.qkgnecwben h1{
	margin:0px;
}

div.ntxpwmwuom{
	text-align:left;
}

div.wnikdhdtmulr{	
	margin-bottom:30px;	
}

span.nkielpms{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.nkielpms{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.cirfnplm{
	text-align:center;
}

img{
	border-radius:26px 26px 26px 0;
	-webkit-border-radius:26px 26px 26px 0; 
	-moz-border-radius:26px 26px 26px 0; 
	-khtml-border-radius:26px 26px 26px 0;
}

div.nuvwudsrqgbq{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.nkakurkhjjv{
	background-color:#ff5b00;
	border-radius:26px 26px 26px 0;
	-webkit-border-radius:26px 26px 26px 0;
	-moz-border-radius:26px 26px 26px 0;
	-khtml-border-radius:26px 26px 26px 0;
	box-shadow:5px 2px 6px 5px #ff0b00;
	-moz-box-shadow:5px 2px 6px 5px #ff0b00;
    -webkit-box-shadow:5px 2px 6px 5px #ff0b00;
	border: 4px #ffac00 dotted;
	padding:10px;	
}

span.nkakurkhjjv{
	background-color:#cccccc;
	border-radius:26px 26px 26px 0;
	-webkit-border-radius:26px 26px 26px 0;
	-moz-border-radius:26px 26px 26px 0;
	-khtml-border-radius:26px 26px 26px 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.dkxdlhtbcaw{
	background-color:#ff8600;
	border-radius:26px 26px 26px 0; 
	-webkit-border-radius:26px 26px 26px 0; 
	-moz-border-radius:26px 26px 26px 0; 
	-khtml-border-radius:26px 26px 26px 0;
	box-shadow:5px 2px 6px 5px #ff3500;
	-moz-box-shadow:5px 2px 6px 5px #ff3500;
    -webkit-box-shadow:5px 2px 6px 5px #ff3500;	
	border: 4px #ffd700 dotted;	
}

div.mzojkfft{
	background-color:#ffb000;
	border-radius:26px 26px 26px 0; 
	-webkit-border-radius:26px 26px 26px 0; 
	-moz-border-radius:26px 26px 26px 0; 
	-khtml-border-radius:26px 26px 26px 0;
	box-shadow:5px 2px 6px 5px #ff0b00;
	-moz-box-shadow:5px 2px 6px 5px #ff0b00;
    -webkit-box-shadow:5px 2px 6px 5px #ff0b00;
	border: 4px #ffac00 dotted;	
}

div.eaktuoakp{
	background-color:#0044ff;
	border-radius:26px 26px 26px 0; 
	-webkit-border-radius:26px 26px 26px 0; 
	-moz-border-radius:26px 26px 26px 0; 
	-khtml-border-radius:26px 26px 26px 0;
	box-shadow:5px 2px 6px 5px #6f00ff;
	-moz-box-shadow:5px 2px 6px 5px #6f00ff;
    -webkit-box-shadow:5px 2px 6px 5px #6f00ff;	
	border: 4px #00ffd5 dotted;	
}

div.vzmrovzxlubh{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.edvzxgep{
	margin:15px;
	padding:10px;
}


table.ukfducpvr td{
	vertical-align:top;
}


div.xeluwooms{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.zafhemmudmis{
	margin-bottom:15px;
	font-size:80%;
}


img.dwwraaprf{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.thhasakwgucc{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.cnwbxfwnrgo{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.khjtnkqszecf{
	margin:7px;
	border-radius:26px 26px 26px 0; 
	-webkit-border-radius:26px 26px 26px 0; 
	-moz-border-radius:26px 26px 26px 0; 
	-khtml-border-radius:26px 26px 26px 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.sxbmpwpxx{
	padding:10px;
	margin-bottom:30px;
}


div.sohlswta{
	clear:both;
}


div.azohgaibpl{
	margin-bottom:10px;
}


div.qkgnecwben{
	margin:15px;
	text-align:left;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.bnkvfalm{
	margin-bottom:15px;
}


div.orgscsuhbqji{
	margin:auto;
	width:420px;
}

div.aqfvzwtbcu{
	text-align:center;	
}

div.plptlrakc{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.gdmoafcwoowl{
	text-align:center;
}


td.mihivjcmwn{
	vertical-align:top;
}

div.gsthkknjdxtt{
	width:950px;
	padding:20px;
}

div.nzmrecfk{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.raqhpmaw{
	text-align:right;
}