h1{
	font-size:125%;
}
div.suzwgrtug{
	font-weight:bold;
}
a.axidfsmqefkd{
	font-size:140%;
}

div.qkgnecwben a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:15px;	
	font-family:Franklin Gothic Medium;
}

a{
	color:#000000;	
}

span.xcvdrgli h1{
	color:#ffffff;
}

div.nzmrecfk{
	color:#ffffff;
}

div.aqfvzwtbcu{
	color:#ffffff;
}

div.aqfvzwtbcu a{
	color:#ffffff;
}

a.werzpulw{
	text-decoration:none;
	font-size:115%;
}

li.moxgzhjwmn a{
	text-decoration:none;	
}

li.moxgzhjwmn{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.wspzowiqj{		
	list-style-type:circle;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.cqlmsxivozf{
	font-size:125%;
}


div.nkakurkhjjv{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.nkakurkhjjv a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.dkxdlhtbcaw{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.dkxdlhtbcaw a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.mzojkfft{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.mzojkfft a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.eaktuoakp{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.eaktuoakp a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.khjtnkqszecf{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.khjtnkqszecf a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.lvpstwpegcwd{
	font-size:75%;	
}

div.raqhpmaw{	
	font-size:75%;		
}