@import url('typography.css');

body{
	background-color:#aaaaaa;
}

div.twfqwwzxgz{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.wimxawkuuf{

}

span.gohwwwjzt{
	display: inline-block;
	padding:5px;
	background: #EDEDED;
	border: 1px solid #E9E9E9;
	border-radius:30px 0 0 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.hjlelmdxq{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.gohwwwjzt:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.gohwwwjzt a:hover{
	box-shadow: 0 0 10px #555;
}


div.iegmefcuf{
	text-align:center;
	padding:10px;
}

div.nspzjhwqzwe{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.frbokxqukrnh h1{
	margin:0px;
}

div.juisaapebh{
	text-align:center;
}

div.vmgeztzln{	
	margin-bottom:30px;	
}

span.bvtfonouchgd{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.bvtfonouchgd{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.hrdehfhkmqp{
	text-align:center;
}

img{
	border-radius:30px 0 0 0;
	-webkit-border-radius:30px 0 0 0; 
	-moz-border-radius:30px 0 0 0; 
	-khtml-border-radius:30px 0 0 0;
}

div.pjlewfxk{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.mjvdcvbditdd{
	background-color:#1500ff;
	border-radius:30px 0 0 0;
	-webkit-border-radius:30px 0 0 0;
	-moz-border-radius:30px 0 0 0;
	-khtml-border-radius:30px 0 0 0;
	box-shadow:3px 0px 4px 5px #6f00ff;
	-moz-box-shadow:3px 0px 4px 5px #6f00ff;
    -webkit-box-shadow:3px 0px 4px 5px #6f00ff;
	border: 2px #005bff dotted;
	padding:10px;	
}

span.mjvdcvbditdd{
	background-color:#cccccc;
	border-radius:30px 0 0 0;
	-webkit-border-radius:30px 0 0 0;
	-moz-border-radius:30px 0 0 0;
	-khtml-border-radius:30px 0 0 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.dswqkwnw{
	background-color:#6a00ff;
	border-radius:30px 0 0 0; 
	-webkit-border-radius:30px 0 0 0; 
	-moz-border-radius:30px 0 0 0; 
	-khtml-border-radius:30px 0 0 0;
	box-shadow:3px 0px 4px 5px #c400ff;
	-moz-box-shadow:3px 0px 4px 5px #c400ff;
    -webkit-box-shadow:3px 0px 4px 5px #c400ff;	
	border: 2px #1100ff dotted;	
}

div.exdasdgvdz{
	background-color:#bf00ff;
	border-radius:30px 0 0 0; 
	-webkit-border-radius:30px 0 0 0; 
	-moz-border-radius:30px 0 0 0; 
	-khtml-border-radius:30px 0 0 0;
	box-shadow:3px 0px 4px 5px #005bff;
	-moz-box-shadow:3px 0px 4px 5px #005bff;
    -webkit-box-shadow:3px 0px 4px 5px #005bff;
	border: 2px #6f00ff dotted;	
}

div.kmqzsjwtgx{
	background-color:#ffd500;
	border-radius:30px 0 0 0; 
	-webkit-border-radius:30px 0 0 0; 
	-moz-border-radius:30px 0 0 0; 
	-khtml-border-radius:30px 0 0 0;
	box-shadow:3px 0px 4px 5px #ffa800;
	-moz-box-shadow:3px 0px 4px 5px #ffa800;
    -webkit-box-shadow:3px 0px 4px 5px #ffa800;	
	border: 2px #fbff00 dotted;	
}

div.uzqikjsmljrb{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.mqhrqfwbi{
	margin:15px;
	padding:10px;
}


table.agmbmpqalx td{
	vertical-align:top;
}


div.xqofxhkcoct{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.wimhsqxcxgx{
	margin-bottom:15px;
	font-size:80%;
}


img.dwtxnxkj{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.vcwmzsrvaq{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.qfqwogdtrkxr{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.iiajggvqxa{
	margin:7px;
	border-radius:30px 0 0 0; 
	-webkit-border-radius:30px 0 0 0; 
	-moz-border-radius:30px 0 0 0; 
	-khtml-border-radius:30px 0 0 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.lnldlvwbsz{
	padding:10px;
	margin-bottom:30px;
}


div.huushvkh{
	clear:both;
}


div.kohbqmmf{
	margin-bottom:10px;
}


div.frbokxqukrnh{
	margin:15px;
	text-align:center;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.whauznml{
	margin-bottom:15px;
}


div.nzdqdpkess{
	margin:auto;
	width:420px;
}

div.gbiprpwgo{
	text-align:center;	
}

div.lvswjnhz{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.wanvwelujlb{
	text-align:center;
}


td.gafmeqhr{
	vertical-align:top;
}

div.ncoakzppm{
	width:950px;
	padding:20px;
}

div.tplxndpcvtot{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.nqtndmji{
	text-align:center;
}