h1{
	font-size:125%;
}
div.jloozksbnas{
	font-weight:bold;
}
a.tqcrwdtlpwf{
	font-size:140%;
}

div.frbokxqukrnh a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:14px;	
	font-family:Trebuchet MS;
}

a{
	color:#000000;	
}

span.dqklfuvj h1{
	color:#000000;
}

div.tplxndpcvtot{
	color:#000000;
}

div.gbiprpwgo{
	color:#000000;
}

div.gbiprpwgo a{
	color:#000000;
}

a.ekmlerxm{
	text-decoration:none;
	font-size:115%;
}

li.ogwunpaooo a{
	text-decoration:none;	
}

li.ogwunpaooo{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.idfnxedvpf{		
	list-style-type:square;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.rhettindho{
	font-size:125%;
}


div.mjvdcvbditdd{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.mjvdcvbditdd a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.dswqkwnw{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.dswqkwnw a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.exdasdgvdz{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.exdasdgvdz a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.kmqzsjwtgx{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.kmqzsjwtgx a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.iiajggvqxa{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.iiajggvqxa a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.dzhvxbjgb{
	font-size:75%;	
}

div.nqtndmji{	
	font-size:75%;		
}