@import url('typography.css');

body{
	background-color:#666666;
}

div.hrqfwbinagm{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.mpqalxtx{

}

span.ofxhkcoctuw{
	display: inline-block;
	padding:5px;
	background: #EDEDED;
	border: 1px solid #E9E9E9;
	border-radius:0 0 24px 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.mhsqxcxgx{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.ofxhkcoctuw:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.ofxhkcoctuw a:hover{
	box-shadow: 0 0 10px #555;
}


div.dwtxnxkj{
	text-align:center;
	padding:10px;
}

div.vcwmzsrvaq{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.qfqwogdtrkxr h1{
	margin:0px;
}

div.iiajggvqxa{
	text-align:center;
}

div.lnldlvwbsz{	
	margin-bottom:30px;	
}

span.huushvkh{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.huushvkh{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.kohbqmmf{
	text-align:center;
}

img{
	border-radius:0 0 24px 0;
	-webkit-border-radius:0 0 24px 0; 
	-moz-border-radius:0 0 24px 0; 
	-khtml-border-radius:0 0 24px 0;
}

div.whauznml{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.nzdqdpkess{
	background-color:#7bff00;
	border-radius:0 0 24px 0;
	-webkit-border-radius:0 0 24px 0;
	-moz-border-radius:0 0 24px 0;
	-khtml-border-radius:0 0 24px 0;
	box-shadow:6px 5px 2px 6px #00ff11;
	-moz-box-shadow:6px 5px 2px 6px #00ff11;
    -webkit-box-shadow:6px 5px 2px 6px #00ff11;
	border: 5px #ffff00 dashed;
	padding:10px;	
}

span.nzdqdpkess{
	background-color:#cccccc;
	border-radius:0 0 24px 0;
	-webkit-border-radius:0 0 24px 0;
	-moz-border-radius:0 0 24px 0;
	-khtml-border-radius:0 0 24px 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.gbiprpwgo{
	background-color:#26ff00;
	border-radius:0 0 24px 0; 
	-webkit-border-radius:0 0 24px 0; 
	-moz-border-radius:0 0 24px 0; 
	-khtml-border-radius:0 0 24px 0;
	box-shadow:6px 5px 2px 6px #00ffbb;
	-moz-box-shadow:6px 5px 2px 6px #00ffbb;
    -webkit-box-shadow:6px 5px 2px 6px #00ffbb;	
	border: 5px #aaff00 dashed;	
}

div.lvswjnhz{
	background-color:#00ff5e;
	border-radius:0 0 24px 0; 
	-webkit-border-radius:0 0 24px 0; 
	-moz-border-radius:0 0 24px 0; 
	-khtml-border-radius:0 0 24px 0;
	box-shadow:6px 5px 2px 6px #00ff11;
	-moz-box-shadow:6px 5px 2px 6px #00ff11;
    -webkit-box-shadow:6px 5px 2px 6px #00ff11;
	border: 5px #ffff00 dashed;	
}

div.wanvwelujlb{
	background-color:#ff0033;
	border-radius:0 0 24px 0; 
	-webkit-border-radius:0 0 24px 0; 
	-moz-border-radius:0 0 24px 0; 
	-khtml-border-radius:0 0 24px 0;
	box-shadow:6px 5px 2px 6px #ff00e3;
	-moz-box-shadow:6px 5px 2px 6px #ff00e3;
    -webkit-box-shadow:6px 5px 2px 6px #ff00e3;	
	border: 5px #ff2f00 dashed;	
}

div.gafmeqhr{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.ncoakzppm{
	margin:15px;
	padding:10px;
}


table.tplxndpcvtot td{
	vertical-align:top;
}


div.nqtndmji{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.jloozksbnas{
	margin-bottom:15px;
	font-size:80%;
}


img.tqcrwdtlpwf{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.dqklfuvj{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.ekmlerxm{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.ogwunpaooo{
	margin:7px;
	border-radius:0 0 24px 0; 
	-webkit-border-radius:0 0 24px 0; 
	-moz-border-radius:0 0 24px 0; 
	-khtml-border-radius:0 0 24px 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.idfnxedvpf{
	padding:10px;
	margin-bottom:30px;
}


div.rhettindho{
	clear:both;
}


div.dzhvxbjgb{
	margin-bottom:10px;
}


div.qfqwogdtrkxr{
	margin:15px;
	text-align:center;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.exptnvfiu{
	margin-bottom:15px;
}


div.wduulwwgsz{
	margin:auto;
	width:420px;
}

div.wkxdbpwouxwk{
	text-align:center;	
}

div.kxoirrjpvm{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.hmauwrnpiar{
	text-align:center;
}


td.crtcfdkzco{
	vertical-align:top;
}

div.wtmxhpbsxqwz{
	width:950px;
	padding:20px;
}

div.iazrqbja{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.ckantuzn{
	text-align:right;
}