h1{
	font-size:125%;
}
div.tsasapms{
	font-weight:bold;
}
a.nwrvsrshdwlx{
	font-size:140%;
}

div.qfqwogdtrkxr a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:14px;	
	font-family:Century Gothic;
}

a{
	color:#000000;	
}

span.wxwissbi h1{
	color:#ffffff;
}

div.iazrqbja{
	color:#ffffff;
}

div.wkxdbpwouxwk{
	color:#ffffff;
}

div.wkxdbpwouxwk a{
	color:#ffffff;
}

a.znwegahgrtmz{
	text-decoration:none;
	font-size:115%;
}

li.ntxvlwwfikoc a{
	text-decoration:none;	
}

li.ntxvlwwfikoc{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.ztbfazgdj{		
	list-style-type:disc;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.fwjwbpwz{
	font-size:125%;
}


div.nzdqdpkess{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.nzdqdpkess a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.gbiprpwgo{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.gbiprpwgo a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.lvswjnhz{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.lvswjnhz a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.wanvwelujlb{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.wanvwelujlb a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.ogwunpaooo{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.ogwunpaooo a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.ceahnexiq{
	font-size:75%;	
}

div.ckantuzn{	
	font-size:75%;		
}