@import url('typography.css');

body{
	background-color:#222222;
}

div.vekglaxa{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.oukfnmwcd{

}

span.knbblrpcadl{
	display: inline-block;
	padding:6px;
	background: #E7F8E7;
	border: 1px solid #E9E9E9;
	border-radius:0 0 21px 21px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.owunasjbw{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.knbblrpcadl:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.knbblrpcadl a:hover{
	box-shadow: 0 0 10px #555;
}


div.jtccozekdp{
	text-align:center;
	padding:10px;
}

div.avxgcwtr{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.xnulgaqk h1{
	margin:0px;
}

div.ppebcsjmwj{
	text-align:left;
}

div.btqwmdxw{	
	margin-bottom:30px;	
}

span.ueqhbwhpwclq{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.ueqhbwhpwclq{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.fdqudahdld{
	text-align:center;
}

img{
	border-radius:0 0 21px 21px;
	-webkit-border-radius:0 0 21px 21px; 
	-moz-border-radius:0 0 21px 21px; 
	-khtml-border-radius:0 0 21px 21px;
}

div.ibczslazepmn{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.woucmwpu{
	background-color:#ff0017;
	border-radius:0 0 21px 21px;
	-webkit-border-radius:0 0 21px 21px;
	-moz-border-radius:0 0 21px 21px;
	-khtml-border-radius:0 0 21px 21px;
	box-shadow:4px 1px 3px 4px #ff00b5;
	-moz-box-shadow:4px 1px 3px 4px #ff00b5;
    -webkit-box-shadow:4px 1px 3px 4px #ff00b5;
	border: 2px #ff3300 solid;
	padding:10px;	
}

span.woucmwpu{
	background-color:#cccccc;
	border-radius:0 0 21px 21px;
	-webkit-border-radius:0 0 21px 21px;
	-moz-border-radius:0 0 21px 21px;
	-khtml-border-radius:0 0 21px 21px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.mbwmawtkomg{
	background-color:#ff2200;
	border-radius:0 0 21px 21px; 
	-webkit-border-radius:0 0 21px 21px; 
	-moz-border-radius:0 0 21px 21px; 
	-khtml-border-radius:0 0 21px 21px;
	box-shadow:4px 1px 3px 4px #ff0044;
	-moz-box-shadow:4px 1px 3px 4px #ff0044;
    -webkit-box-shadow:4px 1px 3px 4px #ff0044;	
	border: 2px #ff5e00 solid;	
}

div.sjrwnwwwr{
	background-color:#ff4d00;
	border-radius:0 0 21px 21px; 
	-webkit-border-radius:0 0 21px 21px; 
	-moz-border-radius:0 0 21px 21px; 
	-khtml-border-radius:0 0 21px 21px;
	box-shadow:4px 1px 3px 4px #ff00b5;
	-moz-box-shadow:4px 1px 3px 4px #ff00b5;
    -webkit-box-shadow:4px 1px 3px 4px #ff00b5;
	border: 2px #ff3300 solid;	
}

div.ivexssqklae{
	background-color:#00ff88;
	border-radius:0 0 21px 21px; 
	-webkit-border-radius:0 0 21px 21px; 
	-moz-border-radius:0 0 21px 21px; 
	-khtml-border-radius:0 0 21px 21px;
	box-shadow:4px 1px 3px 4px #00b0ff;
	-moz-box-shadow:4px 1px 3px 4px #00b0ff;
    -webkit-box-shadow:4px 1px 3px 4px #00b0ff;	
	border: 2px #33ff00 solid;	
}

div.iskmtfjao{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.rqadlpcagp{
	margin:15px;
	padding:10px;
}


table.pewsvvcm td{
	vertical-align:top;
}


div.hoeuexdxo{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.fpautisfpa{
	margin-bottom:15px;
	font-size:80%;
}


img.lcfnsbvj{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.wjtpjthfxmc{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.gntuwjjsmwn{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.nshkushd{
	margin:7px;
	border-radius:0 0 21px 21px; 
	-webkit-border-radius:0 0 21px 21px; 
	-moz-border-radius:0 0 21px 21px; 
	-khtml-border-radius:0 0 21px 21px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.ipowpvkawbw{
	padding:10px;
	margin-bottom:30px;
}


div.iwrigkctsfu{
	clear:both;
}


div.ckaxlomve{
	margin-bottom:10px;
}


div.xnulgaqk{
	margin:15px;
	text-align:center;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.jxhslngjxma{
	margin-bottom:15px;
}


div.lebujkjhh{
	margin:auto;
	width:420px;
}

div.jxmkbfrjxk{
	text-align:center;	
}

div.gwwjklau{
	text-align:right;
	font-weight:bold;
	font-size:125%;
}

div.ofcksomlwsq{
	text-align:center;
}


td.mtvgohtg{
	vertical-align:top;
}

div.jpwipdqnco{
	width:950px;
	padding:20px;
}

div.zlpzgsmvg{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.wbmabnxrso{
	text-align:right;
}