h1{
	font-size:125%;
}
div.rbarpvhlngdh{
	font-weight:bold;
}
a.zwrgipot{
	font-size:140%;
}

div.xnulgaqk a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:15px;	
	font-family:Tahoma;
}

a{
	color:#000000;	
}

span.jjqdddmnfikj h1{
	color:#ffffff;
}

div.zlpzgsmvg{
	color:#ffffff;
}

div.jxmkbfrjxk{
	color:#ffffff;
}

div.jxmkbfrjxk a{
	color:#ffffff;
}

a.wzjhhitlma{
	text-decoration:none;
	font-size:115%;
}

li.hwdcsrizb a{
	text-decoration:none;	
}

li.hwdcsrizb{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.qccgqfgo{		
	list-style-type:disc;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.oizturznec{
	font-size:125%;
}


div.woucmwpu{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.woucmwpu a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.mbwmawtkomg{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.mbwmawtkomg a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.sjrwnwwwr{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.sjrwnwwwr a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.ivexssqklae{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.ivexssqklae a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.nshkushd{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.nshkushd a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.jkadlsgsgv{
	font-size:75%;	
}

div.wbmabnxrso{	
	font-size:75%;		
}