@import url('typography.css');

body{
	background-color:#999999;
}

div.lkfccjpiv{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.ewfihkjhurw{

}

span.wfvtravei{
	display: inline-block;
	padding:5px;
	background: #EEF4FB;
	border: 1px solid #E9E9E9;
	border-radius:0 18px 0 18px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.xxrstodbkl{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.wfvtravei:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.wfvtravei a:hover{
	box-shadow: 0 0 10px #555;
}


div.nmgepbfwft{
	text-align:center;
	padding:10px;
}

div.ewpwsngo{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.qugofuqbrjaf h1{
	margin:0px;
}

div.dblrdzmqznuk{
	text-align:left;
}

div.wcxcuvqaluo{	
	margin-bottom:30px;	
}

span.pidsliids{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.pidsliids{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.poqkwoxt{
	text-align:center;
}

img{
	border-radius:0 18px 0 18px;
	-webkit-border-radius:0 18px 0 18px; 
	-moz-border-radius:0 18px 0 18px; 
	-khtml-border-radius:0 18px 0 18px;
}

div.htwfhxdnroku{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.lzmlttnn{
	background-color:#73ff00;
	border-radius:0 18px 0 18px;
	-webkit-border-radius:0 18px 0 18px;
	-moz-border-radius:0 18px 0 18px;
	-khtml-border-radius:0 18px 0 18px;
	box-shadow:6px 1px 1px 2px #00ff1a;
	-moz-box-shadow:6px 1px 1px 2px #00ff1a;
    -webkit-box-shadow:6px 1px 1px 2px #00ff1a;
	border: 2px #f2ff00 grouve;
	padding:10px;	
}

span.lzmlttnn{
	background-color:#cccccc;
	border-radius:0 18px 0 18px;
	-webkit-border-radius:0 18px 0 18px;
	-moz-border-radius:0 18px 0 18px;
	-khtml-border-radius:0 18px 0 18px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.bljesdoec{
	background-color:#1eff00;
	border-radius:0 18px 0 18px; 
	-webkit-border-radius:0 18px 0 18px; 
	-moz-border-radius:0 18px 0 18px; 
	-khtml-border-radius:0 18px 0 18px;
	box-shadow:6px 1px 1px 2px #00ffc4;
	-moz-box-shadow:6px 1px 1px 2px #00ffc4;
    -webkit-box-shadow:6px 1px 1px 2px #00ffc4;	
	border: 2px #9dff00 grouve;	
}

div.emaiwwvh{
	background-color:#00ff6f;
	border-radius:0 18px 0 18px; 
	-webkit-border-radius:0 18px 0 18px; 
	-moz-border-radius:0 18px 0 18px; 
	-khtml-border-radius:0 18px 0 18px;
	box-shadow:6px 1px 1px 2px #00ff1a;
	-moz-box-shadow:6px 1px 1px 2px #00ff1a;
    -webkit-box-shadow:6px 1px 1px 2px #00ff1a;
	border: 2px #f2ff00 grouve;	
}

div.nkxedasnwpq{
	background-color:#ff0028;
	border-radius:0 18px 0 18px; 
	-webkit-border-radius:0 18px 0 18px; 
	-moz-border-radius:0 18px 0 18px; 
	-khtml-border-radius:0 18px 0 18px;
	box-shadow:6px 1px 1px 2px #ff00d2;
	-moz-box-shadow:6px 1px 1px 2px #ff00d2;
    -webkit-box-shadow:6px 1px 1px 2px #ff00d2;	
	border: 2px #ff3100 grouve;	
}

div.sldookexi{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.hldnjutxxajt{
	margin:15px;
	padding:10px;
}


table.sslvzaupkzer td{
	vertical-align:top;
}


div.wlcqixic{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.kgdmiltbmuq{
	margin-bottom:15px;
	font-size:80%;
}


img.fuvwjkwe{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.daawxtfjf{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.zravbdvx{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.pnwmjqbtidv{
	margin:7px;
	border-radius:0 18px 0 18px; 
	-webkit-border-radius:0 18px 0 18px; 
	-moz-border-radius:0 18px 0 18px; 
	-khtml-border-radius:0 18px 0 18px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.vlibrpfzf{
	padding:10px;
	margin-bottom:30px;
}


div.ngirxoib{
	clear:both;
}


div.dcdprxjql{
	margin-bottom:10px;
}


div.qugofuqbrjaf{
	margin:15px;
	text-align:left;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.sbdsqawvdbq{
	margin-bottom:15px;
}


div.rijjfixxfg{
	margin:auto;
	width:420px;
}

div.wqqtvzpaje{
	text-align:center;	
}

div.xwscskphdbf{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.jtpedvfmse{
	text-align:center;
}


td.bsclwllnsppr{
	vertical-align:top;
}

div.jiwxnaqzgn{
	width:950px;
	padding:20px;
}

div.jgecduugwotu{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.txscdpmixqb{
	text-align:center;
}