h1{
	font-size:125%;
}
div.ujxxzrawgwvc{
	font-weight:bold;
}
a.ujaguatwtuw{
	font-size:140%;
}

div.qugofuqbrjaf a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:16px;	
	font-family:Palatino Linotype;
}

a{
	color:#000000;	
}

span.zenihcgwcc h1{
	color:#000000;
}

div.jgecduugwotu{
	color:#000000;
}

div.wqqtvzpaje{
	color:#000000;
}

div.wqqtvzpaje a{
	color:#000000;
}

a.qebxcxmm{
	text-decoration:none;
	font-size:115%;
}

li.diovfcfawt a{
	text-decoration:none;	
}

li.diovfcfawt{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.wstbpibz{		
	list-style-type:circle;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.edvcbwfvjzfi{
	font-size:125%;
}


div.lzmlttnn{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.lzmlttnn a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.bljesdoec{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.bljesdoec a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.emaiwwvh{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.emaiwwvh a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.nkxedasnwpq{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.nkxedasnwpq a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.pnwmjqbtidv{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.pnwmjqbtidv a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.fmhzcawnpnav{
	font-size:75%;	
}

div.txscdpmixqb{	
	font-size:75%;		
}