@import url('typography.css');

body{
	background-color:#bbbbbb;
}

div.bklxggtmsc{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.vvkvfkdgiwuh{

}

span.zimccexsd{
	display: inline-block;
	padding:6px;
	background: #EBEBEB;
	border: 1px solid #E9E9E9;
	border-radius:16px 16px 0 16px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.ewihkzpze{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.zimccexsd:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.zimccexsd a:hover{
	box-shadow: 0 0 10px #555;
}


div.gxoweaeuqu{
	text-align:center;
	padding:10px;
}

div.iodzhgqv{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.odhvufljwuwe h1{
	margin:0px;
}

div.hrnhtmcu{
	text-align:left;
}

div.idnwwitwdxi{	
	margin-bottom:30px;	
}

span.tpqzvpnkwrgo{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.tpqzvpnkwrgo{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.ztjdhijw{
	text-align:center;
}

img{
	border-radius:16px 16px 0 16px;
	-webkit-border-radius:16px 16px 0 16px; 
	-moz-border-radius:16px 16px 0 16px; 
	-khtml-border-radius:16px 16px 0 16px;
}

div.vldgqdvunjqf{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.rpsnwkavrbiq{
	background-color:#9500ff;
	border-radius:16px 16px 0 16px;
	-webkit-border-radius:16px 16px 0 16px;
	-moz-border-radius:16px 16px 0 16px;
	-khtml-border-radius:16px 16px 0 16px;
	box-shadow:0px 6px 6px 5px #e600ff;
	-moz-box-shadow:0px 6px 6px 5px #e600ff;
    -webkit-box-shadow:0px 6px 6px 5px #e600ff;
	border: 5px #4400ff solid;
	padding:10px;	
}

span.rpsnwkavrbiq{
	background-color:#cccccc;
	border-radius:16px 16px 0 16px;
	-webkit-border-radius:16px 16px 0 16px;
	-moz-border-radius:16px 16px 0 16px;
	-khtml-border-radius:16px 16px 0 16px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.ejgwxjoxtawf{
	background-color:#ea00ff;
	border-radius:16px 16px 0 16px; 
	-webkit-border-radius:16px 16px 0 16px; 
	-moz-border-radius:16px 16px 0 16px; 
	-khtml-border-radius:16px 16px 0 16px;
	box-shadow:0px 6px 6px 5px #9900ff;
	-moz-box-shadow:0px 6px 6px 5px #9900ff;
    -webkit-box-shadow:0px 6px 6px 5px #9900ff;	
	border: 5px #ff00b0 solid;	
}

div.pbvwtmftsxif{
	background-color:#ff00aa;
	border-radius:16px 16px 0 16px; 
	-webkit-border-radius:16px 16px 0 16px; 
	-moz-border-radius:16px 16px 0 16px; 
	-khtml-border-radius:16px 16px 0 16px;
	box-shadow:0px 6px 6px 5px #4400ff;
	-moz-box-shadow:0px 6px 6px 5px #4400ff;
    -webkit-box-shadow:0px 6px 6px 5px #4400ff;
	border: 5px #e600ff solid;	
}

div.trhowfpin{
	background-color:#d4ff00;
	border-radius:16px 16px 0 16px; 
	-webkit-border-radius:16px 16px 0 16px; 
	-moz-border-radius:16px 16px 0 16px; 
	-khtml-border-radius:16px 16px 0 16px;
	box-shadow:0px 6px 6px 5px #84ff00;
	-moz-box-shadow:0px 6px 6px 5px #84ff00;
    -webkit-box-shadow:0px 6px 6px 5px #84ff00;	
	border: 5px #ffec00 solid;	
}

div.fuqgtsndig{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.dldlphprpkjc{
	margin:15px;
	padding:10px;
}


table.xqmmkeeuwd td{
	vertical-align:top;
}


div.ldgnzdth{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.lkuxejvtz{
	margin-bottom:15px;
	font-size:80%;
}


img.uixplpowf{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.ahxnxrwrhezj{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.nnbmzjuwfvw{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.lvpclqcmj{
	margin:7px;
	border-radius:16px 16px 0 16px; 
	-webkit-border-radius:16px 16px 0 16px; 
	-moz-border-radius:16px 16px 0 16px; 
	-khtml-border-radius:16px 16px 0 16px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.mbzqfwla{
	padding:10px;
	margin-bottom:30px;
}


div.nopcdmgrg{
	clear:both;
}


div.hmaeolaxkbih{
	margin-bottom:10px;
}


div.odhvufljwuwe{
	margin:15px;
	text-align:left;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.iodtruplcql{
	margin-bottom:15px;
}


div.adwnlwoc{
	margin:auto;
	width:420px;
}

div.dtreifowocrb{
	text-align:center;	
}

div.egzcqgtcfx{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.ocecaahcqgeu{
	text-align:center;
}


td.kcqduzqscdeu{
	vertical-align:top;
}

div.kiwvdmifeq{
	width:950px;
	padding:20px;
}

div.kwgnoahama{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.cjscixkgv{
	text-align:center;
}