h1{
	font-size:125%;
}
div.ztejtamfo{
	font-weight:bold;
}
a.hqugtugr{
	font-size:140%;
}

div.odhvufljwuwe a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:15px;	
	font-family:Lucida Sans Unicode;
}

a{
	color:#000000;	
}

span.lhsluukjoa h1{
	color:#000000;
}

div.kwgnoahama{
	color:#000000;
}

div.dtreifowocrb{
	color:#000000;
}

div.dtreifowocrb a{
	color:#000000;
}

a.hzxbutskz{
	text-decoration:none;
	font-size:115%;
}

li.ihmtcdjx a{
	text-decoration:none;	
}

li.ihmtcdjx{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.xfhzcdcgqtda{		
	list-style-type:disc;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.cneftabs{
	font-size:125%;
}


div.rpsnwkavrbiq{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.rpsnwkavrbiq a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.ejgwxjoxtawf{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.ejgwxjoxtawf a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.pbvwtmftsxif{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.pbvwtmftsxif a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.trhowfpin{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.trhowfpin a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.lvpclqcmj{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.lvpclqcmj a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.vmlbsuwjwwak{
	font-size:75%;	
}

div.cjscixkgv{	
	font-size:75%;		
}