@import url('typography.css');

body{
	background-color:#333333;
}

div.uhwxspcaqhub{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.ztmssdbics{

}

span.ugrqbttv{
	display: inline-block;
	padding:5px;
	background: #F9FBFD;
	border: 1px solid #E9E9E9;
	border-radius:0 24px 24px 24px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.sdojroexug{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.ugrqbttv:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.ugrqbttv a:hover{
	box-shadow: 0 0 10px #555;
}


div.cqwalhvkxj{
	text-align:center;
	padding:10px;
}

div.bzwovppjbgm{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.pxdxtarpl h1{
	margin:0px;
}

div.rawagkcjzl{
	text-align:center;
}

div.bzjjavxqu{	
	margin-bottom:30px;	
}

span.gzhwesaxvrw{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.gzhwesaxvrw{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.zfnpvesa{
	text-align:center;
}

img{
	border-radius:0 24px 24px 24px;
	-webkit-border-radius:0 24px 24px 24px; 
	-moz-border-radius:0 24px 24px 24px; 
	-khtml-border-radius:0 24px 24px 24px;
}

div.wzlahilh{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.fedtodgaxnx{
	background-color:#ff6200;
	border-radius:0 24px 24px 24px;
	-webkit-border-radius:0 24px 24px 24px;
	-moz-border-radius:0 24px 24px 24px;
	-khtml-border-radius:0 24px 24px 24px;
	box-shadow:1px 1px 6px 5px #ff3500;
	-moz-box-shadow:1px 1px 6px 5px #ff3500;
    -webkit-box-shadow:1px 1px 6px 5px #ff3500;
	border: 4px #ff8e00 solid;
	padding:10px;	
}

span.fedtodgaxnx{
	background-color:#cccccc;
	border-radius:0 24px 24px 24px;
	-webkit-border-radius:0 24px 24px 24px;
	-moz-border-radius:0 24px 24px 24px;
	-khtml-border-radius:0 24px 24px 24px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.exuwwidqx{
	background-color:#ff8c00;
	border-radius:0 24px 24px 24px; 
	-webkit-border-radius:0 24px 24px 24px; 
	-moz-border-radius:0 24px 24px 24px; 
	-khtml-border-radius:0 24px 24px 24px;
	box-shadow:1px 1px 6px 5px #ff6000;
	-moz-box-shadow:1px 1px 6px 5px #ff6000;
    -webkit-box-shadow:1px 1px 6px 5px #ff6000;	
	border: 4px #ffb900 solid;	
}

div.qwugopnlo{
	background-color:#ffb700;
	border-radius:0 24px 24px 24px; 
	-webkit-border-radius:0 24px 24px 24px; 
	-moz-border-radius:0 24px 24px 24px; 
	-khtml-border-radius:0 24px 24px 24px;
	box-shadow:1px 1px 6px 5px #ff3500;
	-moz-box-shadow:1px 1px 6px 5px #ff3500;
    -webkit-box-shadow:1px 1px 6px 5px #ff3500;
	border: 4px #ff8e00 solid;	
}

div.mbwxssgsrnxg{
	background-color:#0033ff;
	border-radius:0 24px 24px 24px; 
	-webkit-border-radius:0 24px 24px 24px; 
	-moz-border-radius:0 24px 24px 24px; 
	-khtml-border-radius:0 24px 24px 24px;
	box-shadow:1px 1px 6px 5px #3300ff;
	-moz-box-shadow:1px 1px 6px 5px #3300ff;
    -webkit-box-shadow:1px 1px 6px 5px #3300ff;	
	border: 4px #00aaff solid;	
}

div.bnxckimze{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.imkwhour{
	margin:15px;
	padding:10px;
}


table.qimktrcthxs td{
	vertical-align:top;
}


div.hpciewkrwhj{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.bzfimnsu{
	margin-bottom:15px;
	font-size:80%;
}


img.zzhqzvfuqlj{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.nncesigu{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.nfnxjthppgpa{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.okslaetbm{
	margin:7px;
	border-radius:0 24px 24px 24px; 
	-webkit-border-radius:0 24px 24px 24px; 
	-moz-border-radius:0 24px 24px 24px; 
	-khtml-border-radius:0 24px 24px 24px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.uwgaxdfmrpsv{
	padding:10px;
	margin-bottom:30px;
}


div.kozcjckkq{
	clear:both;
}


div.buwflgnwn{
	margin-bottom:10px;
}


div.pxdxtarpl{
	margin:15px;
	text-align:right;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.butnvocwno{
	margin-bottom:15px;
}


div.xisnwzib{
	margin:auto;
	width:420px;
}

div.tfpfhuod{
	text-align:center;	
}

div.vandsimjgoph{
	text-align:left;
	font-weight:bold;
	font-size:125%;
}

div.cwcgwenxpitq{
	text-align:center;
}


td.bnspjbbjwczv{
	vertical-align:top;
}

div.viwpzlaktfgu{
	width:950px;
	padding:20px;
}

div.xawqkggqamze{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.psxqenduczn{
	text-align:left;
}