h1{
	font-size:125%;
}
div.wfhmlteght{
	font-weight:bold;
}
a.nkvqsfzdr{
	font-size:140%;
}

div.pxdxtarpl a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:15px;	
	font-family:Century Gothic;
}

a{
	color:#000000;	
}

span.xqrkpiqetwv h1{
	color:#ffffff;
}

div.xawqkggqamze{
	color:#ffffff;
}

div.tfpfhuod{
	color:#ffffff;
}

div.tfpfhuod a{
	color:#ffffff;
}

a.jremchwlbz{
	text-decoration:none;
	font-size:115%;
}

li.ktmuwjza a{
	text-decoration:none;	
}

li.ktmuwjza{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.lfcmbjvdwgp{		
	list-style-type:square;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.wzfkvibm{
	font-size:125%;
}


div.fedtodgaxnx{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.fedtodgaxnx a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.exuwwidqx{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.exuwwidqx a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.qwugopnlo{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.qwugopnlo a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.mbwxssgsrnxg{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.mbwxssgsrnxg a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.okslaetbm{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.okslaetbm a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.mwicfgjcrtp{
	font-size:75%;	
}

div.psxqenduczn{	
	font-size:75%;		
}