@import url('typography.css');

body{
	background-color:#ffffff;
}

div.nikjwptwp{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.jkibrcjns{

}

span.iawsnmdire{
	display: inline-block;
	padding:4px;
	background: #EFEFEF;
	border: 1px solid #E9E9E9;
	border-radius:0 0 22px 22px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.mxalsahw{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.iawsnmdire:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.iawsnmdire a:hover{
	box-shadow: 0 0 10px #555;
}


div.fxkjfdil{
	text-align:center;
	padding:10px;
}

div.wraxlwep{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.cmwwpaebkla h1{
	margin:0px;
}

div.zusuhrwov{
	text-align:right;
}

div.xpowjfwa{	
	margin-bottom:30px;	
}

span.gwzdbawime{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.gwzdbawime{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.wwwvcbbjnk{
	text-align:center;
}

img{
	border-radius:0 0 22px 22px;
	-webkit-border-radius:0 0 22px 22px; 
	-moz-border-radius:0 0 22px 22px; 
	-khtml-border-radius:0 0 22px 22px;
}

div.inshgsjuf{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.fqweojgjh{
	background-color:#ff00c1;
	border-radius:0 0 22px 22px;
	-webkit-border-radius:0 0 22px 22px;
	-moz-border-radius:0 0 22px 22px;
	-khtml-border-radius:0 0 22px 22px;
	box-shadow:1px 1px 5px 2px #9500ff;
	-moz-box-shadow:1px 1px 5px 2px #9500ff;
    -webkit-box-shadow:1px 1px 5px 2px #9500ff;
	border: 2px #ff0400 ridge;
	padding:10px;	
}

span.fqweojgjh{
	background-color:#cccccc;
	border-radius:0 0 22px 22px;
	-webkit-border-radius:0 0 22px 22px;
	-moz-border-radius:0 0 22px 22px;
	-khtml-border-radius:0 0 22px 22px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.arsrfisslapm{
	background-color:#ff004f;
	border-radius:0 0 22px 22px; 
	-webkit-border-radius:0 0 22px 22px; 
	-moz-border-radius:0 0 22px 22px; 
	-khtml-border-radius:0 0 22px 22px;
	box-shadow:1px 1px 5px 2px #ea00ff;
	-moz-box-shadow:1px 1px 5px 2px #ea00ff;
    -webkit-box-shadow:1px 1px 5px 2px #ea00ff;	
	border: 2px #ff2f00 ridge;	
}

div.zfxxxxnvaogd{
	background-color:#ff0d00;
	border-radius:0 0 22px 22px; 
	-webkit-border-radius:0 0 22px 22px; 
	-moz-border-radius:0 0 22px 22px; 
	-khtml-border-radius:0 0 22px 22px;
	box-shadow:1px 1px 5px 2px #9500ff;
	-moz-box-shadow:1px 1px 5px 2px #9500ff;
    -webkit-box-shadow:1px 1px 5px 2px #9500ff;
	border: 2px #000000 ridge;	
}

div.lowhlkwi{
	background-color:#3bff00;
	border-radius:0 0 22px 22px; 
	-webkit-border-radius:0 0 22px 22px; 
	-moz-border-radius:0 0 22px 22px; 
	-khtml-border-radius:0 0 22px 22px;
	box-shadow:1px 1px 5px 2px #00ffbb;
	-moz-box-shadow:1px 1px 5px 2px #00ffbb;
    -webkit-box-shadow:1px 1px 5px 2px #00ffbb;	
	border: 2px #d4ff00 ridge;	
}

div.izlsfxjdprib{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.wzvcupgstw{
	margin:15px;
	padding:10px;
}


table.qabawcvnwdl td{
	vertical-align:top;
}


div.qspcpwnh{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.jwcpcaiauoi{
	margin-bottom:15px;
	font-size:80%;
}


img.lswesgnhri{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.xxskmoqxadtt{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.viugecijgggi{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.mwoocabmscg{
	margin:7px;
	border-radius:0 0 22px 22px; 
	-webkit-border-radius:0 0 22px 22px; 
	-moz-border-radius:0 0 22px 22px; 
	-khtml-border-radius:0 0 22px 22px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.pxdiluexnp{
	padding:10px;
	margin-bottom:30px;
}


div.xnsblqxkb{
	clear:both;
}


div.oswsobloewx{
	margin-bottom:10px;
}


div.cmwwpaebkla{
	margin:15px;
	text-align:right;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.gdwafgjpvh{
	margin-bottom:15px;
}


div.vlqzwwiu{
	margin:auto;
	width:420px;
}

div.rtmflzthpjr{
	text-align:center;	
}

div.azumzgfn{
	text-align:right;
	font-weight:bold;
	font-size:125%;
}

div.dozpcxckdw{
	text-align:center;
}


td.drnostmxkt{
	vertical-align:top;
}

div.tcsbvdclijv{
	width:950px;
	padding:20px;
}

div.ackfdeujhz{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.wvjknkpahf{
	text-align:left;
}