h1{
	font-size:125%;
}
div.itarvaarksw{
	font-weight:bold;
}
a.pxajjfwfdswj{
	font-size:140%;
}

div.cmwwpaebkla a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:14px;	
	font-family:Tahoma;
}

a{
	color:#000000;	
}

span.zteddomvucpk h1{
	color:#000000;
}

div.ackfdeujhz{
	color:#000000;
}

div.rtmflzthpjr{
	color:#000000;
}

div.rtmflzthpjr a{
	color:#000000;
}

a.pkwjtfrzuxul{
	text-decoration:none;
	font-size:115%;
}

li.vrwwthuzce a{
	text-decoration:none;	
}

li.vrwwthuzce{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.usffbwxia{		
	list-style-type:circle;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.fjkwqklvcb{
	font-size:125%;
}


div.fqweojgjh{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.fqweojgjh a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.arsrfisslapm{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.arsrfisslapm a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.zfxxxxnvaogd{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.zfxxxxnvaogd a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.lowhlkwi{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.lowhlkwi a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.mwoocabmscg{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.mwoocabmscg a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.ucjvnpaclbaw{
	font-size:75%;	
}

div.wvjknkpahf{	
	font-size:75%;		
}