@import url('typography.css');

body{
	background-color:#888888;
}

div.duswaebud{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.xgxtlehpkwtl{

}

span.ehxwlibmmxmi{
	display: inline-block;
	padding:5px;
	background: #F3F8FC;
	border: 1px solid #E9E9E9;
	border-radius:25px 25px 0 25px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.kiqxwcfltwg{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.ehxwlibmmxmi:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.ehxwlibmmxmi a:hover{
	box-shadow: 0 0 10px #555;
}


div.zmljbtaz{
	text-align:center;
	padding:10px;
}

div.kshdlsdoouxr{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.djmtlwmowmot h1{
	margin:0px;
}

div.gglwdngjm{
	text-align:right;
}

div.gwdbadlvrlg{	
	margin-bottom:30px;	
}

span.vnwbnmeajeni{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.vnwbnmeajeni{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.srwmwcikwo{
	text-align:center;
}

img{
	border-radius:25px 25px 0 25px;
	-webkit-border-radius:25px 25px 0 25px; 
	-moz-border-radius:25px 25px 0 25px; 
	-khtml-border-radius:25px 25px 0 25px;
}

div.vjkvxrmjfl{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.owwgjkvd{
	background-color:#ff0017;
	border-radius:25px 25px 0 25px;
	-webkit-border-radius:25px 25px 0 25px;
	-moz-border-radius:25px 25px 0 25px;
	-khtml-border-radius:25px 25px 0 25px;
	box-shadow:6px 3px 3px 6px #ff0093;
	-moz-box-shadow:6px 3px 3px 6px #ff0093;
    -webkit-box-shadow:6px 3px 3px 6px #ff0093;
	border: 6px #ff2600 solid;
	padding:10px;	
}

span.owwgjkvd{
	background-color:#cccccc;
	border-radius:25px 25px 0 25px;
	-webkit-border-radius:25px 25px 0 25px;
	-moz-border-radius:25px 25px 0 25px;
	-khtml-border-radius:25px 25px 0 25px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.wjqgbgbtx{
	background-color:#ff2200;
	border-radius:25px 25px 0 25px; 
	-webkit-border-radius:25px 25px 0 25px; 
	-moz-border-radius:25px 25px 0 25px; 
	-khtml-border-radius:25px 25px 0 25px;
	box-shadow:6px 3px 3px 6px #ff0022;
	-moz-box-shadow:6px 3px 3px 6px #ff0022;
    -webkit-box-shadow:6px 3px 3px 6px #ff0022;	
	border: 6px #ff5100 solid;	
}

div.itamssoucpa{
	background-color:#ff4d00;
	border-radius:25px 25px 0 25px; 
	-webkit-border-radius:25px 25px 0 25px; 
	-moz-border-radius:25px 25px 0 25px; 
	-khtml-border-radius:25px 25px 0 25px;
	box-shadow:6px 3px 3px 6px #ff0093;
	-moz-box-shadow:6px 3px 3px 6px #ff0093;
    -webkit-box-shadow:6px 3px 3px 6px #ff0093;
	border: 6px #ff2600 solid;	
}

div.vxogsoujd{
	background-color:#00ff88;
	border-radius:25px 25px 0 25px; 
	-webkit-border-radius:25px 25px 0 25px; 
	-moz-border-radius:25px 25px 0 25px; 
	-khtml-border-radius:25px 25px 0 25px;
	box-shadow:6px 3px 3px 6px #00d2ff;
	-moz-box-shadow:6px 3px 3px 6px #00d2ff;
    -webkit-box-shadow:6px 3px 3px 6px #00d2ff;	
	border: 6px #19ff00 solid;	
}

div.txxkbnka{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.mlwpmklntcse{
	margin:15px;
	padding:10px;
}


table.wdrlornunuwh td{
	vertical-align:top;
}


div.mkrdecczxo{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.mcxplssog{
	margin-bottom:15px;
	font-size:80%;
}


img.dmtqrcgjm{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.qkdrfftpwu{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.bxpqheoqabfw{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.ilegkuktbf{
	margin:7px;
	border-radius:25px 25px 0 25px; 
	-webkit-border-radius:25px 25px 0 25px; 
	-moz-border-radius:25px 25px 0 25px; 
	-khtml-border-radius:25px 25px 0 25px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.osdtzdopr{
	padding:10px;
	margin-bottom:30px;
}


div.zuxhiwifbeg{
	clear:both;
}


div.ebhxdstww{
	margin-bottom:10px;
}


div.djmtlwmowmot{
	margin:15px;
	text-align:left;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.iowefufqexg{
	margin-bottom:15px;
}


div.juwpotutw{
	margin:auto;
	width:420px;
}

div.tifuikrblpz{
	text-align:center;	
}

div.pwiutcnmjds{
	text-align:left;
	font-weight:bold;
	font-size:125%;
}

div.kqqqjsmifza{
	text-align:center;
}


td.jmlpwvmj{
	vertical-align:top;
}

div.ciedwtkj{
	width:950px;
	padding:20px;
}

div.xwubowwbx{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.ozsqixcnek{
	text-align:center;
}