h1{
	font-size:125%;
}
div.ioqfwkdwtgaa{
	font-weight:bold;
}
a.awkpfugwtj{
	font-size:140%;
}

div.djmtlwmowmot a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:15px;	
	font-family:Arial;
}

a{
	color:#000000;	
}

span.rdsqvjkdr h1{
	color:#ffffff;
}

div.xwubowwbx{
	color:#ffffff;
}

div.tifuikrblpz{
	color:#ffffff;
}

div.tifuikrblpz a{
	color:#ffffff;
}

a.nzcosvkazzmd{
	text-decoration:none;
	font-size:115%;
}

li.cqlwkrvd a{
	text-decoration:none;	
}

li.cqlwkrvd{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.avxbmkthkzu{		
	list-style-type:circle;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.qpqsmqjvvd{
	font-size:125%;
}


div.owwgjkvd{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.owwgjkvd a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.wjqgbgbtx{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.wjqgbgbtx a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.itamssoucpa{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.itamssoucpa a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.vxogsoujd{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.vxogsoujd a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.ilegkuktbf{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.ilegkuktbf a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.ranimxugwu{
	font-size:75%;	
}

div.ozsqixcnek{	
	font-size:75%;		
}