@import url('typography.css');

body{
	background-color:#bbbbbb;
}

div.rbifekwwvw{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.ricfvriflmi{

}

span.zwgmjkva{
	display: inline-block;
	padding:5px;
	background: #E4EEF5;
	border: 1px solid #E9E9E9;
	border-radius:0 0 28px 28px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.gikdxlzz{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.zwgmjkva:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.zwgmjkva a:hover{
	box-shadow: 0 0 10px #555;
}


div.jqoqvrikbw{
	text-align:center;
	padding:10px;
}

div.ktuwsecfw{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.doemvwzi h1{
	margin:0px;
}

div.xnsxiilmsn{
	text-align:left;
}

div.bbrcwuxzaxv{	
	margin-bottom:30px;	
}

span.qwmnpqmc{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.qwmnpqmc{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.rxznzkxrz{
	text-align:center;
}

img{
	border-radius:0 0 28px 28px;
	-webkit-border-radius:0 0 28px 28px; 
	-moz-border-radius:0 0 28px 28px; 
	-khtml-border-radius:0 0 28px 28px;
}

div.cnrjhmnn{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.jmcznbekuei{
	background-color:#1500ff;
	border-radius:0 0 28px 28px;
	-webkit-border-radius:0 0 28px 28px;
	-moz-border-radius:0 0 28px 28px;
	-khtml-border-radius:0 0 28px 28px;
	box-shadow:1px 1px 4px 2px #9100ff;
	-moz-box-shadow:1px 1px 4px 2px #9100ff;
    -webkit-box-shadow:1px 1px 4px 2px #9100ff;
	border: 1px #0088ff dotted;
	padding:10px;	
}

span.jmcznbekuei{
	background-color:#cccccc;
	border-radius:0 0 28px 28px;
	-webkit-border-radius:0 0 28px 28px;
	-moz-border-radius:0 0 28px 28px;
	-khtml-border-radius:0 0 28px 28px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.niscomwgfcx{
	background-color:#6a00ff;
	border-radius:0 0 28px 28px; 
	-webkit-border-radius:0 0 28px 28px; 
	-moz-border-radius:0 0 28px 28px; 
	-khtml-border-radius:0 0 28px 28px;
	box-shadow:1px 1px 4px 2px #e600ff;
	-moz-box-shadow:1px 1px 4px 2px #e600ff;
    -webkit-box-shadow:1px 1px 4px 2px #e600ff;	
	border: 1px #0017ff dotted;	
}

div.kekjkdmgbw{
	background-color:#bf00ff;
	border-radius:0 0 28px 28px; 
	-webkit-border-radius:0 0 28px 28px; 
	-moz-border-radius:0 0 28px 28px; 
	-khtml-border-radius:0 0 28px 28px;
	box-shadow:1px 1px 4px 2px #0088ff;
	-moz-box-shadow:1px 1px 4px 2px #0088ff;
    -webkit-box-shadow:1px 1px 4px 2px #0088ff;
	border: 1px #9100ff dotted;	
}

div.uudffiqogcw{
	background-color:#ffd500;
	border-radius:0 0 28px 28px; 
	-webkit-border-radius:0 0 28px 28px; 
	-moz-border-radius:0 0 28px 28px; 
	-khtml-border-radius:0 0 28px 28px;
	box-shadow:1px 1px 4px 2px #ff9700;
	-moz-box-shadow:1px 1px 4px 2px #ff9700;
    -webkit-box-shadow:1px 1px 4px 2px #ff9700;	
	border: 1px #d9ff00 dotted;	
}

div.cwxrneddrqnv{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.rpvrehslk{
	margin:15px;
	padding:10px;
}


table.qwgxeqch td{
	vertical-align:top;
}


div.zsewpmatt{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.updiwnzpn{
	margin-bottom:15px;
	font-size:80%;
}


img.zkxlkocd{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.lphswilpetts{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.xuwjeqelp{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.kupqugdmaeto{
	margin:7px;
	border-radius:0 0 28px 28px; 
	-webkit-border-radius:0 0 28px 28px; 
	-moz-border-radius:0 0 28px 28px; 
	-khtml-border-radius:0 0 28px 28px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.jiklgkdop{
	padding:10px;
	margin-bottom:30px;
}


div.iluhcgqoasne{
	clear:both;
}


div.bhcfbguf{
	margin-bottom:10px;
}


div.doemvwzi{
	margin:15px;
	text-align:right;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.ggserxwhitgw{
	margin-bottom:15px;
}


div.gxefjnwrpd{
	margin:auto;
	width:420px;
}

div.sxiwssffn{
	text-align:center;	
}

div.kumhzwlm{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.fscdzeckwe{
	text-align:center;
}


td.lgnovsomqmeq{
	vertical-align:top;
}

div.hrnmjwcekg{
	width:950px;
	padding:20px;
}

div.srnrrvbdcerd{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.iudkpfewqgr{
	text-align:right;
}