h1{
	font-size:125%;
}
div.supgmelrf{
	font-weight:bold;
}
a.dhqheewgo{
	font-size:140%;
}

div.doemvwzi a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:14px;	
	font-family:Lucida Console;
}

a{
	color:#000000;	
}

span.wkroppotwerp h1{
	color:#000000;
}

div.srnrrvbdcerd{
	color:#000000;
}

div.sxiwssffn{
	color:#000000;
}

div.sxiwssffn a{
	color:#000000;
}

a.azqllxarhmii{
	text-decoration:none;
	font-size:115%;
}

li.dppewmgjcclj a{
	text-decoration:none;	
}

li.dppewmgjcclj{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.wznofaqflgcg{		
	list-style-type:circle;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.ztrswwwkdma{
	font-size:125%;
}


div.jmcznbekuei{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.jmcznbekuei a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.niscomwgfcx{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.niscomwgfcx a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.kekjkdmgbw{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.kekjkdmgbw a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.uudffiqogcw{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.uudffiqogcw a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.kupqugdmaeto{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.kupqugdmaeto a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.nskzfnznwf{
	font-size:75%;	
}

div.iudkpfewqgr{	
	font-size:75%;		
}