@import url('typography.css');

body{
	background-color:#999999;
}

div.hfzgqvmvjuns{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.ulgcbdnt{

}

span.xwftpmcco{
	display: inline-block;
	padding:3px;
	background: #EEF4FB;
	border: 1px solid #E9E9E9;
	border-radius:24px 24px 24px 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.mpqhzzfaqk{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.xwftpmcco:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.xwftpmcco a:hover{
	box-shadow: 0 0 10px #555;
}


div.sdqnxmxn{
	text-align:center;
	padding:10px;
}

div.hwiaruvlgk{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.ebxsfszhb h1{
	margin:0px;
}

div.xwpljzkfp{
	text-align:left;
}

div.jficantkg{	
	margin-bottom:30px;	
}

span.olpzbdauwtw{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.olpzbdauwtw{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.hfkdzuuif{
	text-align:center;
}

img{
	border-radius:24px 24px 24px 0;
	-webkit-border-radius:24px 24px 24px 0; 
	-moz-border-radius:24px 24px 24px 0; 
	-khtml-border-radius:24px 24px 24px 0;
}

div.dmqgwtojz{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.qwwhcwshqpt{
	background-color:#08ff00;
	border-radius:24px 24px 24px 0;
	-webkit-border-radius:24px 24px 24px 0;
	-moz-border-radius:24px 24px 24px 0;
	-khtml-border-radius:24px 24px 24px 0;
	box-shadow:0px 2px 3px 4px #00ffd5;
	-moz-box-shadow:0px 2px 3px 4px #00ffd5;
    -webkit-box-shadow:0px 2px 3px 4px #00ffd5;
	border: 5px #7bff00 grouve;
	padding:10px;	
}

span.qwwhcwshqpt{
	background-color:#cccccc;
	border-radius:24px 24px 24px 0;
	-webkit-border-radius:24px 24px 24px 0;
	-moz-border-radius:24px 24px 24px 0;
	-khtml-border-radius:24px 24px 24px 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.nvafmzbvrvt{
	background-color:#00ff99;
	border-radius:24px 24px 24px 0; 
	-webkit-border-radius:24px 24px 24px 0; 
	-moz-border-radius:24px 24px 24px 0; 
	-khtml-border-radius:24px 24px 24px 0;
	box-shadow:0px 2px 3px 4px #00aaff;
	-moz-box-shadow:0px 2px 3px 4px #00aaff;
    -webkit-box-shadow:0px 2px 3px 4px #00aaff;	
	border: 5px #26ff00 grouve;	
}

div.wupigrox{
	background-color:#00d2ff;
	border-radius:24px 24px 24px 0; 
	-webkit-border-radius:24px 24px 24px 0; 
	-moz-border-radius:24px 24px 24px 0; 
	-khtml-border-radius:24px 24px 24px 0;
	box-shadow:0px 2px 3px 4px #00ffd5;
	-moz-box-shadow:0px 2px 3px 4px #00ffd5;
    -webkit-box-shadow:0px 2px 3px 4px #00ffd5;
	border: 5px #7bff00 grouve;	
}

div.vdzzcgdhvk{
	background-color:#ff2600;
	border-radius:24px 24px 24px 0; 
	-webkit-border-radius:24px 24px 24px 0; 
	-moz-border-radius:24px 24px 24px 0; 
	-khtml-border-radius:24px 24px 24px 0;
	box-shadow:0px 2px 3px 4px #ff0033;
	-moz-box-shadow:0px 2px 3px 4px #ff0033;
    -webkit-box-shadow:0px 2px 3px 4px #ff0033;	
	border: 5px #ff6000 grouve;	
}

div.rworvnesas{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.fwsehukan{
	margin:15px;
	padding:10px;
}


table.cfatqrjul td{
	vertical-align:top;
}


div.rrgwmbmewgwp{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.wzrqgmjoasd{
	margin-bottom:15px;
	font-size:80%;
}


img.kozzekjena{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.reuboiovk{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.qaioxowoswg{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.wewltqchejge{
	margin:7px;
	border-radius:24px 24px 24px 0; 
	-webkit-border-radius:24px 24px 24px 0; 
	-moz-border-radius:24px 24px 24px 0; 
	-khtml-border-radius:24px 24px 24px 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.vohowpkrgl{
	padding:10px;
	margin-bottom:30px;
}


div.tqrzcqljofi{
	clear:both;
}


div.mujxrkfaol{
	margin-bottom:10px;
}


div.ebxsfszhb{
	margin:15px;
	text-align:left;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.dxwdzcixuwpv{
	margin-bottom:15px;
}


div.wfaqpdbpo{
	margin:auto;
	width:420px;
}

div.akphntzwrwqv{
	text-align:center;	
}

div.lwittoli{
	text-align:left;
	font-weight:bold;
	font-size:125%;
}

div.zrwuawdmat{
	text-align:center;
}


td.uwbfjuiu{
	vertical-align:top;
}

div.toitaewome{
	width:950px;
	padding:20px;
}

div.mmzgvvqqg{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.olamshvzphxg{
	text-align:right;
}