h1{
	font-size:125%;
}
div.azoxnfvt{
	font-weight:bold;
}
a.kjewsaemxc{
	font-size:140%;
}

div.ebxsfszhb a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:15px;	
	font-family:Palatino Linotype;
}

a{
	color:#000000;	
}

span.fdngtfose h1{
	color:#000000;
}

div.mmzgvvqqg{
	color:#000000;
}

div.akphntzwrwqv{
	color:#000000;
}

div.akphntzwrwqv a{
	color:#000000;
}

a.crbbmmmun{
	text-decoration:none;
	font-size:115%;
}

li.cfpgznops a{
	text-decoration:none;	
}

li.cfpgznops{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.stjdxqolnt{		
	list-style-type:circle;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.miamztzvfp{
	font-size:125%;
}


div.qwwhcwshqpt{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.qwwhcwshqpt a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.nvafmzbvrvt{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.nvafmzbvrvt a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.wupigrox{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.wupigrox a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.vdzzcgdhvk{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.vdzzcgdhvk a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.wewltqchejge{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.wewltqchejge a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.dwgfkemxiu{
	font-size:75%;	
}

div.olamshvzphxg{	
	font-size:75%;		
}