@import url('typography.css');

body{
	background-color:#bbbbbb;
}

div.aivzzzrtm{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.afudxqua{

}

span.tuggtrvkitdn{
	display: inline-block;
	padding:6px;
	background: #F6F6F6;
	border: 1px solid #E9E9E9;
	border-radius:0 19px 19px 19px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.xfeslmllfzw{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.tuggtrvkitdn:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.tuggtrvkitdn a:hover{
	box-shadow: 0 0 10px #555;
}


div.octpjwmxxsf{
	text-align:center;
	padding:10px;
}

div.cpnffbodezwi{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.wobisfztw h1{
	margin:0px;
}

div.kiojzlanxxha{
	text-align:right;
}

div.cvwjvqwvldbn{	
	margin-bottom:30px;	
}

span.ixfgrocqepwh{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.ixfgrocqepwh{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.evbvwqhms{
	text-align:center;
}

img{
	border-radius:0 19px 19px 19px;
	-webkit-border-radius:0 19px 19px 19px; 
	-moz-border-radius:0 19px 19px 19px; 
	-khtml-border-radius:0 19px 19px 19px;
}

div.vdjeahxwrv{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.hehnqjpgrohg{
	background-color:#c800ff;
	border-radius:0 19px 19px 19px;
	-webkit-border-radius:0 19px 19px 19px;
	-moz-border-radius:0 19px 19px 19px;
	-khtml-border-radius:0 19px 19px 19px;
	box-shadow:0px 3px 4px 2px #8000ff;
	-moz-box-shadow:0px 3px 4px 2px #8000ff;
    -webkit-box-shadow:0px 3px 4px 2px #8000ff;
	border: 0px #ff00e8 solid;
	padding:10px;	
}

span.hehnqjpgrohg{
	background-color:#cccccc;
	border-radius:0 19px 19px 19px;
	-webkit-border-radius:0 19px 19px 19px;
	-moz-border-radius:0 19px 19px 19px;
	-khtml-border-radius:0 19px 19px 19px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.qhcdxawnfof{
	background-color:#ff00d7;
	border-radius:0 19px 19px 19px; 
	-webkit-border-radius:0 19px 19px 19px; 
	-moz-border-radius:0 19px 19px 19px; 
	-khtml-border-radius:0 19px 19px 19px;
	box-shadow:0px 3px 4px 2px #d500ff;
	-moz-box-shadow:0px 3px 4px 2px #d500ff;
    -webkit-box-shadow:0px 3px 4px 2px #d500ff;	
	border: 0px #ff0077 solid;	
}

div.whebxeiflt{
	background-color:#ff0066;
	border-radius:0 19px 19px 19px; 
	-webkit-border-radius:0 19px 19px 19px; 
	-moz-border-radius:0 19px 19px 19px; 
	-khtml-border-radius:0 19px 19px 19px;
	box-shadow:0px 3px 4px 2px #8000ff;
	-moz-box-shadow:0px 3px 4px 2px #8000ff;
    -webkit-box-shadow:0px 3px 4px 2px #8000ff;
	border: 0px #ff00e8 solid;	
}

div.clwgjegrgoos{
	background-color:#a1ff00;
	border-radius:0 19px 19px 19px; 
	-webkit-border-radius:0 19px 19px 19px; 
	-moz-border-radius:0 19px 19px 19px; 
	-khtml-border-radius:0 19px 19px 19px;
	box-shadow:0px 3px 4px 2px #59ff00;
	-moz-box-shadow:0px 3px 4px 2px #59ff00;
    -webkit-box-shadow:0px 3px 4px 2px #59ff00;	
	border: 0px #eaff00 solid;	
}

div.wlkjzvknge{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.enldbdcokxe{
	margin:15px;
	padding:10px;
}


table.xebmuvtruft td{
	vertical-align:top;
}


div.ddzzmwxud{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.ohtdiqpsgk{
	margin-bottom:15px;
	font-size:80%;
}


img.otrfnvaww{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.ptqzwjaodzwo{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.iolcqwfopiif{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.ottwawggox{
	margin:7px;
	border-radius:0 19px 19px 19px; 
	-webkit-border-radius:0 19px 19px 19px; 
	-moz-border-radius:0 19px 19px 19px; 
	-khtml-border-radius:0 19px 19px 19px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.clbxspktu{
	padding:10px;
	margin-bottom:30px;
}


div.kwonbbult{
	clear:both;
}


div.qzowvnwg{
	margin-bottom:10px;
}


div.wobisfztw{
	margin:15px;
	text-align:left;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.vrwshlahsdb{
	margin-bottom:15px;
}


div.ngekmtwv{
	margin:auto;
	width:420px;
}

div.cmrufipjqrwl{
	text-align:center;	
}

div.aemrntfts{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.bztbuiftv{
	text-align:center;
}


td.dozufgohl{
	vertical-align:top;
}

div.mvmoavjcbgtk{
	width:950px;
	padding:20px;
}

div.psqnuvocifjn{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.ltevpzwfh{
	text-align:right;
}