h1{
	font-size:125%;
}
div.zvqiiqeigbb{
	font-weight:bold;
}
a.pdvfshqa{
	font-size:140%;
}

div.wobisfztw a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:15px;	
	font-family:Arial Black;
}

a{
	color:#000000;	
}

span.naddgdwqnm h1{
	color:#000000;
}

div.psqnuvocifjn{
	color:#000000;
}

div.cmrufipjqrwl{
	color:#000000;
}

div.cmrufipjqrwl a{
	color:#000000;
}

a.hsgkxwzexkuj{
	text-decoration:none;
	font-size:115%;
}

li.iftsclnt a{
	text-decoration:none;	
}

li.iftsclnt{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.akmoaquqbwz{		
	list-style-type:square;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.gjxzdwwqwo{
	font-size:125%;
}


div.hehnqjpgrohg{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.hehnqjpgrohg a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.qhcdxawnfof{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.qhcdxawnfof a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.whebxeiflt{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.whebxeiflt a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.clwgjegrgoos{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.clwgjegrgoos a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.ottwawggox{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.ottwawggox a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.lzecuqwktjof{
	font-size:75%;	
}

div.ltevpzwfh{	
	font-size:75%;		
}