@import url('typography.css');

body{
	background-color:#777777;
}

div.pivjmesa{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.jtkezbik{

}

span.ldjmbszzsiu{
	display: inline-block;
	padding:7px;
	background: #F4EFDF;
	border: 1px solid #E9E9E9;
	border-radius:0 24px 0 24px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.nxrcgtejd{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.ldjmbszzsiu:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.ldjmbszzsiu a:hover{
	box-shadow: 0 0 10px #555;
}


div.gswdihrvlph{
	text-align:center;
	padding:10px;
}

div.zvxbznhtw{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.odqfontxkte h1{
	margin:0px;
}

div.xfjxetiwaq{
	text-align:left;
}

div.pquvlsnwqn{	
	margin-bottom:30px;	
}

span.mtsqfvoezou{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.mtsqfvoezou{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.hwoacqqmwsf{
	text-align:center;
}

img{
	border-radius:0 24px 0 24px;
	-webkit-border-radius:0 24px 0 24px; 
	-moz-border-radius:0 24px 0 24px; 
	-khtml-border-radius:0 24px 0 24px;
}

div.ptbsswiqeqtd{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.dpzraoncjv{
	background-color:#003eff;
	border-radius:0 24px 0 24px;
	-webkit-border-radius:0 24px 0 24px;
	-moz-border-radius:0 24px 0 24px;
	-khtml-border-radius:0 24px 0 24px;
	box-shadow:2px 3px 0px 6px #1100ff;
	-moz-box-shadow:2px 3px 0px 6px #1100ff;
    -webkit-box-shadow:2px 3px 0px 6px #1100ff;
	border: 0px #0093ff dashed;
	padding:10px;	
}

span.dpzraoncjv{
	background-color:#cccccc;
	border-radius:0 24px 0 24px;
	-webkit-border-radius:0 24px 0 24px;
	-moz-border-radius:0 24px 0 24px;
	-khtml-border-radius:0 24px 0 24px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.tsdqdfskfkg{
	background-color:#2600ff;
	border-radius:0 24px 0 24px; 
	-webkit-border-radius:0 24px 0 24px; 
	-moz-border-radius:0 24px 0 24px; 
	-khtml-border-radius:0 24px 0 24px;
	box-shadow:2px 3px 0px 6px #6600ff;
	-moz-box-shadow:2px 3px 0px 6px #6600ff;
    -webkit-box-shadow:2px 3px 0px 6px #6600ff;	
	border: 0px #0022ff dashed;	
}

div.llazuwras{
	background-color:#7b00ff;
	border-radius:0 24px 0 24px; 
	-webkit-border-radius:0 24px 0 24px; 
	-moz-border-radius:0 24px 0 24px; 
	-khtml-border-radius:0 24px 0 24px;
	box-shadow:2px 3px 0px 6px #1100ff;
	-moz-box-shadow:2px 3px 0px 6px #1100ff;
    -webkit-box-shadow:2px 3px 0px 6px #1100ff;
	border: 0px #0093ff dashed;	
}

div.nefwettdwrge{
	background-color:#ffb300;
	border-radius:0 24px 0 24px; 
	-webkit-border-radius:0 24px 0 24px; 
	-moz-border-radius:0 24px 0 24px; 
	-khtml-border-radius:0 24px 0 24px;
	box-shadow:2px 3px 0px 6px #ff9300;
	-moz-box-shadow:2px 3px 0px 6px #ff9300;
    -webkit-box-shadow:2px 3px 0px 6px #ff9300;	
	border: 0px #ffd200 dashed;	
}

div.fgbagrlida{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.orgnmguxhs{
	margin:15px;
	padding:10px;
}


table.csjhhwbrzse td{
	vertical-align:top;
}


div.igmbwhknt{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.uonexsiw{
	margin-bottom:15px;
	font-size:80%;
}


img.wsciruuvwev{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.dwjchrccwl{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.fuxsxodmw{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.sjrzsozc{
	margin:7px;
	border-radius:0 24px 0 24px; 
	-webkit-border-radius:0 24px 0 24px; 
	-moz-border-radius:0 24px 0 24px; 
	-khtml-border-radius:0 24px 0 24px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.uexwickvvcb{
	padding:10px;
	margin-bottom:30px;
}


div.nbwrdhgiwp{
	clear:both;
}


div.bmkdzemc{
	margin-bottom:10px;
}


div.odqfontxkte{
	margin:15px;
	text-align:left;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.rfohelkjkne{
	margin-bottom:15px;
}


div.ogvvkavw{
	margin:auto;
	width:420px;
}

div.rcunmeqr{
	text-align:center;	
}

div.aakrbbwfh{
	text-align:right;
	font-weight:bold;
	font-size:125%;
}

div.vhdwnvrip{
	text-align:center;
}


td.guicxxkz{
	vertical-align:top;
}

div.rbqusaml{
	width:950px;
	padding:20px;
}

div.miapemab{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.ujfqrociw{
	text-align:right;
}