h1{
	font-size:125%;
}
div.jevwbhhlum{
	font-weight:bold;
}
a.rrwuqgjasqa{
	font-size:140%;
}

div.odqfontxkte a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:15px;	
	font-family:Century Gothic;
}

a{
	color:#000000;	
}

span.wmontugb h1{
	color:#ffffff;
}

div.miapemab{
	color:#ffffff;
}

div.rcunmeqr{
	color:#ffffff;
}

div.rcunmeqr a{
	color:#ffffff;
}

a.fuaovliw{
	text-decoration:none;
	font-size:115%;
}

li.vgvnhrdhl a{
	text-decoration:none;	
}

li.vgvnhrdhl{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.iqovkcjuvwap{		
	list-style-type:circle;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.liqczlsibc{
	font-size:125%;
}


div.dpzraoncjv{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.dpzraoncjv a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.tsdqdfskfkg{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.tsdqdfskfkg a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.llazuwras{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.llazuwras a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.nefwettdwrge{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.nefwettdwrge a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.sjrzsozc{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.sjrzsozc a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.vumxmskf{
	font-size:75%;	
}

div.ujfqrociw{	
	font-size:75%;		
}