@import url('typography.css');

body{
	background-color:#aaaaaa;
}

div.sswghqiz{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.qtqotlzu{

}

span.dldfavphvm{
	display: inline-block;
	padding:3px;
	background: #DBF2DB;
	border: 1px solid #E9E9E9;
	border-radius:0 20px 0 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.wtghoomwkla{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.dldfavphvm:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.dldfavphvm a:hover{
	box-shadow: 0 0 10px #555;
}


div.bcfspuwgpf{
	text-align:center;
	padding:10px;
}

div.sfpobwqts{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.ovsuccmolkzx h1{
	margin:0px;
}

div.dswacqaeq{
	text-align:left;
}

div.naqkwhjr{	
	margin-bottom:30px;	
}

span.ftajmbxci{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.ftajmbxci{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.gcllpmcs{
	text-align:center;
}

img{
	border-radius:0 20px 0 0;
	-webkit-border-radius:0 20px 0 0; 
	-moz-border-radius:0 20px 0 0; 
	-khtml-border-radius:0 20px 0 0;
}

div.vzhogicpivjm{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.safjtkez{
	background-color:#ffe600;
	border-radius:0 20px 0 0;
	-webkit-border-radius:0 20px 0 0;
	-moz-border-radius:0 20px 0 0;
	-khtml-border-radius:0 20px 0 0;
	box-shadow:3px 1px 3px 2px #ffb000;
	-moz-box-shadow:3px 1px 3px 2px #ffb000;
    -webkit-box-shadow:3px 1px 3px 2px #ffb000;
	border: 1px #c8ff00 ridge;
	padding:10px;	
}

span.safjtkez{
	background-color:#cccccc;
	border-radius:0 20px 0 0;
	-webkit-border-radius:0 20px 0 0;
	-moz-border-radius:0 20px 0 0;
	-khtml-border-radius:0 20px 0 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.ikrldjmb{
	background-color:#ddff00;
	border-radius:0 20px 0 0; 
	-webkit-border-radius:0 20px 0 0; 
	-moz-border-radius:0 20px 0 0; 
	-khtml-border-radius:0 20px 0 0;
	box-shadow:3px 1px 3px 2px #73ff00;
	-moz-box-shadow:3px 1px 3px 2px #73ff00;
    -webkit-box-shadow:3px 1px 3px 2px #73ff00;	
	border: 1px #ffdb00 ridge;	
}

div.zzsiuinxrcg{
	background-color:#88ff00;
	border-radius:0 20px 0 0; 
	-webkit-border-radius:0 20px 0 0; 
	-moz-border-radius:0 20px 0 0; 
	-khtml-border-radius:0 20px 0 0;
	box-shadow:3px 1px 3px 2px #c8ff00;
	-moz-box-shadow:3px 1px 3px 2px #c8ff00;
    -webkit-box-shadow:3px 1px 3px 2px #c8ff00;
	border: 1px #ffb000 ridge;	
}

div.ejdsgswdihr{
	background-color:#e100ff;
	border-radius:0 20px 0 0; 
	-webkit-border-radius:0 20px 0 0; 
	-moz-border-radius:0 20px 0 0; 
	-khtml-border-radius:0 20px 0 0;
	box-shadow:3px 1px 3px 2px #7700ff;
	-moz-box-shadow:3px 1px 3px 2px #7700ff;
    -webkit-box-shadow:3px 1px 3px 2px #7700ff;	
	border: 1px #ff0099 ridge;	
}

div.lphfzvxbznht{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.uodqfontxkte{
	margin:15px;
	padding:10px;
}


table.xfjxetiwaq td{
	vertical-align:top;
}


div.pquvlsnwqn{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.mtsqfvoezou{
	margin-bottom:15px;
	font-size:80%;
}


img.hwoacqqmwsf{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.ptbsswiqeqtd{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.dpzraoncjv{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.tsdqdfskfkg{
	margin:7px;
	border-radius:0 20px 0 0; 
	-webkit-border-radius:0 20px 0 0; 
	-moz-border-radius:0 20px 0 0; 
	-khtml-border-radius:0 20px 0 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.llazuwras{
	padding:10px;
	margin-bottom:30px;
}


div.nefwettdwrge{
	clear:both;
}


div.fgbagrlida{
	margin-bottom:10px;
}


div.ovsuccmolkzx{
	margin:15px;
	text-align:center;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.orgnmguxhs{
	margin-bottom:15px;
}


div.csjhhwbrzse{
	margin:auto;
	width:420px;
}

div.igmbwhknt{
	text-align:center;	
}

div.uonexsiw{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.wsciruuvwev{
	text-align:center;
}


td.dwjchrccwl{
	vertical-align:top;
}

div.fuxsxodmw{
	width:950px;
	padding:20px;
}

div.sjrzsozc{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.uexwickvvcb{
	text-align:center;
}