h1{
	font-size:125%;
}
div.nbwrdhgiwp{
	font-weight:bold;
}
a.bmkdzemc{
	font-size:140%;
}

div.ovsuccmolkzx a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:15px;	
	font-family:Book Antiqua;
}

a{
	color:#000000;	
}

span.rfohelkjkne h1{
	color:#000000;
}

div.sjrzsozc{
	color:#000000;
}

div.igmbwhknt{
	color:#000000;
}

div.igmbwhknt a{
	color:#000000;
}

a.ogvvkavw{
	text-decoration:none;
	font-size:115%;
}

li.rcunmeqr a{
	text-decoration:none;	
}

li.rcunmeqr{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.aakrbbwfh{		
	list-style-type:square;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.vhdwnvrip{
	font-size:125%;
}


div.safjtkez{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.safjtkez a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.ikrldjmb{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.ikrldjmb a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.zzsiuinxrcg{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.zzsiuinxrcg a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.ejdsgswdihr{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.ejdsgswdihr a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.tsdqdfskfkg{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.tsdqdfskfkg a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.guicxxkz{
	font-size:75%;	
}

div.uexwickvvcb{	
	font-size:75%;		
}