@import url('typography.css');

body{
	background-color:#tttttt;
}

div.main_wrapper{
	width:1255px;
	margin:auto;	
	margin-top:-50px;
}


div.ads_block{
	text-align:center;
	padding:10px;
}

div.links_block{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.name_site h1{
	margin:0px;
}

div.text_more{
	text-align:right;
}

div.text_excerpt{	
	margin-bottom:30px;	
}

img{
	border-radius:25px 0 25px 0;
	-webkit-border-radius:25px 0 25px 0; 
	-moz-border-radius:25px 0 25px 0; 
	-khtml-border-radius:25px 0 25px 0;
}

div.content_block{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.box_1{
	background-color:#cccccc;
	border-radius:25px 0 25px 0;
	-webkit-border-radius:25px 0 25px 0;
	-moz-border-radius:25px 0 25px 0;
	-khtml-border-radius:25px 0 25px 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.box_2{
	background-color:#eeeeee;
	border-radius:25px; 
	-webkit-border-radius:25px; 
	-moz-border-radius:25px; 
	-khtml-border-radius:25px;
	box-shadow:        3px 3px  4px 1px #999;
	-moz-box-shadow:   3px 3px  4px 1px #999;
    -webkit-box-shadow: 3px 3px 4px 1px #999;	
	border: 1px #666 solid;	
}

div.box_3{
	background-color:#000000;
	border-radius:25px; 
	-webkit-border-radius:25px; 
	-moz-border-radius:25px; 
	-khtml-border-radius:25px;
	box-shadow:        3px 3px  4px 1px #003eff;
	-moz-box-shadow:   3px 3px  4px 1px #003eff;
    -webkit-box-shadow: 3px 3px 4px 1px #003eff;
	border: 1px #ff1300 solid;	
}

div.box_4{
	background-color:#ffffff;
	border-radius:25px; 
	-webkit-border-radius:25px; 
	-moz-border-radius:25px; 
	-khtml-border-radius:25px;
	box-shadow:        3px 3px  4px 1px #999;
	-moz-box-shadow:   3px 3px  4px 1px #999;
    -webkit-box-shadow: 3px 3px 4px 1px #999;	
	border: 1px #666 solid;	
}

div.video{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.header{
	margin:15px;
	padding:10px;
}


table.carcass td{
	vertical-align:top;
}


div.menu{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.cat_text{
	margin-bottom:15px;
	font-size:80%;
}


img.video_thumb{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.image_text{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.image_text_1{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.image{
	margin:7px;
	border-radius:25px 0 25px 0; 
	-webkit-border-radius:25px 0 25px 0; 
	-moz-border-radius:25px 0 25px 0; 
	-khtml-border-radius:25px 0 25px 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.video_item{
	padding:10px;
	margin-bottom:30px;
}


div.clear{
	clear:both;
}


div.video_description{
	margin-bottom:10px;
}


div.name_site{
	margin:15px;
	text-align:center;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.distance{
	margin-bottom:15px;
}


div.video_player{
	margin:auto;
	width:420px;
}

div.pagination{
	text-align:center;	
}

div.gallery_link{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.header_images{
	text-align:center;
}


td.gallery{
	vertical-align:top;
}

div.gallery_block_wrapper{
	width:950px;
	padding:20px;
}

div.gallery_title{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.date_publish{
	text-align:right;
}