h1{
	font-size:125%;
}

a.active_item{
	font-size:140%;
}

div.name_site a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:14px;	
	font-family:arial;
}

a{
	color:#000000;	
}

span.text_on_body_background h1{
	color:#000000;
}

div.gallery_title{
	color:#000000;
}

div.pagination{
	color:#000000;
}

div.pagination a{
	color:#000000;
}

a.text_title{
	text-decoration:none;
	font-size:115%;
}

li.menu_item a{
	text-decoration:none;	
}

li.menu_item{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.menu_ul{		
	list-style-type:circle;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.menu_title{
	font-size:125%;
}


div.box_1{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.box_1 a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.box_2{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.box_2 a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.box_3{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.box_3 a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.box_4{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.box_4 a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.image{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.image a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.small_char{
	font-size:75%;	
}

div.date_publish{	
	font-size:75%;		
}