@import url('typography.css');

body{
	background-color:#bbbbbb;
}

div.fvdumczsr{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.lezglsdjlmk{

}

span.mzlvzknjxhh{
	display: inline-block;
	padding:3px;
	background: #E7F8E7;
	border: 1px solid #E9E9E9;
	border-radius:0 0 0 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.ttbuljlwmgt{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.mzlvzknjxhh:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.mzlvzknjxhh a:hover{
	box-shadow: 0 0 10px #555;
}


div.wwrwzqkdwvrt{
	text-align:center;
	padding:10px;
}

div.rsphsgafcmwu{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.dmlrkseob h1{
	margin:0px;
}

div.kdhxeaubwhvf{
	text-align:right;
}

div.ncrouuiztr{	
	margin-bottom:30px;	
}

span.gmwaioigsb{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.gmwaioigsb{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.bhputqhu{
	text-align:center;
}

img{
	border-radius:0 0 0 0;
	-webkit-border-radius:0 0 0 0; 
	-moz-border-radius:0 0 0 0; 
	-khtml-border-radius:0 0 0 0;
}

div.qrusuxzd{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.ncwwrjsk{
	background-color:#88ff00;
	border-radius:0 0 0 0;
	-webkit-border-radius:0 0 0 0;
	-moz-border-radius:0 0 0 0;
	-khtml-border-radius:0 0 0 0;
	box-shadow:5px 1px 3px 0px #00ff11;
	-moz-box-shadow:5px 1px 3px 0px #00ff11;
    -webkit-box-shadow:5px 1px 3px 0px #00ff11;
	border: 0px #fff200 ridge;
	padding:10px;	
}

span.ncwwrjsk{
	background-color:#cccccc;
	border-radius:0 0 0 0;
	-webkit-border-radius:0 0 0 0;
	-moz-border-radius:0 0 0 0;
	-khtml-border-radius:0 0 0 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.lzwiqpioqvgq{
	background-color:#33ff00;
	border-radius:0 0 0 0; 
	-webkit-border-radius:0 0 0 0; 
	-moz-border-radius:0 0 0 0; 
	-khtml-border-radius:0 0 0 0;
	box-shadow:5px 1px 3px 0px #00ffbb;
	-moz-box-shadow:5px 1px 3px 0px #00ffbb;
    -webkit-box-shadow:5px 1px 3px 0px #00ffbb;	
	border: 0px #c3ff00 ridge;	
}

div.oqfjdxjajbr{
	background-color:#00ff44;
	border-radius:0 0 0 0; 
	-webkit-border-radius:0 0 0 0; 
	-moz-border-radius:0 0 0 0; 
	-khtml-border-radius:0 0 0 0;
	box-shadow:5px 1px 3px 0px #00ff11;
	-moz-box-shadow:5px 1px 3px 0px #00ff11;
    -webkit-box-shadow:5px 1px 3px 0px #00ff11;
	border: 0px #fff200 ridge;	
}

div.qnfqtiqmc{
	background-color:#ff0044;
	border-radius:0 0 0 0; 
	-webkit-border-radius:0 0 0 0; 
	-moz-border-radius:0 0 0 0; 
	-khtml-border-radius:0 0 0 0;
	box-shadow:5px 1px 3px 0px #fb00ff;
	-moz-box-shadow:5px 1px 3px 0px #fb00ff;
    -webkit-box-shadow:5px 1px 3px 0px #fb00ff;	
	border: 0px #ff2f00 ridge;	
}

div.zdmfwjgtkihm{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.vxwfzwwe{
	margin:15px;
	padding:10px;
}


table.tzduedsjov td{
	vertical-align:top;
}


div.ntzozcdn{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.kgkdbskuxpbp{
	margin-bottom:15px;
	font-size:80%;
}


img.hlvzufdkp{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.tkqqlgkakx{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.ciplzmfeindm{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.sdjbtqge{
	margin:7px;
	border-radius:0 0 0 0; 
	-webkit-border-radius:0 0 0 0; 
	-moz-border-radius:0 0 0 0; 
	-khtml-border-radius:0 0 0 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.kecvvnwttidk{
	padding:10px;
	margin-bottom:30px;
}


div.bwawqwijof{
	clear:both;
}


div.suhhfuixuo{
	margin-bottom:10px;
}


div.dmlrkseob{
	margin:15px;
	text-align:left;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.buodzzsojunh{
	margin-bottom:15px;
}


div.azwzamqdqc{
	margin:auto;
	width:420px;
}

div.rffwtovceclt{
	text-align:center;	
}

div.pwiflwau{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.ejnailrwhw{
	text-align:center;
}


td.ontnszrdueta{
	vertical-align:top;
}

div.bnxmcczhgc{
	width:950px;
	padding:20px;
}

div.kaqcpigbgrad{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.aqzwvcwwb{
	text-align:center;
}