h1{
	font-size:125%;
}
div.mxfoanfg{
	font-weight:bold;
}
a.dpejqgwcj{
	font-size:140%;
}

div.dmlrkseob a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:14px;	
	font-family:Georgia;
}

a{
	color:#000000;	
}

span.rqdxwshiwpr h1{
	color:#000000;
}

div.kaqcpigbgrad{
	color:#000000;
}

div.rffwtovceclt{
	color:#000000;
}

div.rffwtovceclt a{
	color:#000000;
}

a.zwrekzcbtlha{
	text-decoration:none;
	font-size:115%;
}

li.nbbbzvqs a{
	text-decoration:none;	
}

li.nbbbzvqs{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.krqicsze{		
	list-style-type:disc;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.rggvaqubtqmu{
	font-size:125%;
}


div.ncwwrjsk{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.ncwwrjsk a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.lzwiqpioqvgq{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.lzwiqpioqvgq a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.oqfjdxjajbr{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.oqfjdxjajbr a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.qnfqtiqmc{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.qnfqtiqmc a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.sdjbtqge{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.sdjbtqge a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.kowtotrkc{
	font-size:75%;	
}

div.aqzwvcwwb{	
	font-size:75%;		
}