@import url('typography.css');

body{
	background-color:#111111;
}

div.kakhowvxoa{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.dtziearc{

}

span.spndpsdwclb{
	display: inline-block;
	padding:7px;
	background: #F4EFDF;
	border: 1px solid #E9E9E9;
	border-radius:18px 0 18px 18px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.zvxlrhtbzv{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.spndpsdwclb:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.spndpsdwclb a:hover{
	box-shadow: 0 0 10px #555;
}


div.agxjohluj{
	text-align:center;
	padding:10px;
}

div.zqsslkhgih{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.wouneqbcu h1{
	margin:0px;
}

div.sucruuwcww{
	text-align:left;
}

div.gdefbcmuawz{	
	margin-bottom:30px;	
}

span.dblbvtzwb{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.dblbvtzwb{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.khjoxzqifg{
	text-align:center;
}

img{
	border-radius:18px 0 18px 18px;
	-webkit-border-radius:18px 0 18px 18px; 
	-moz-border-radius:18px 0 18px 18px; 
	-khtml-border-radius:18px 0 18px 18px;
}

div.znbodorqv{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.zprfixvunm{
	background-color:#00ffc4;
	border-radius:18px 0 18px 18px;
	-webkit-border-radius:18px 0 18px 18px;
	-moz-border-radius:18px 0 18px 18px;
	-khtml-border-radius:18px 0 18px 18px;
	box-shadow:0px 2px 0px 4px #0088ff;
	-moz-box-shadow:0px 2px 0px 4px #0088ff;
    -webkit-box-shadow:0px 2px 0px 4px #0088ff;
	border: 6px #15ff00 grouve;
	padding:10px;	
}

span.zprfixvunm{
	background-color:#cccccc;
	border-radius:18px 0 18px 18px;
	-webkit-border-radius:18px 0 18px 18px;
	-moz-border-radius:18px 0 18px 18px;
	-khtml-border-radius:18px 0 18px 18px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.wxxsxjadlfj{
	background-color:#00b5ff;
	border-radius:18px 0 18px 18px; 
	-webkit-border-radius:18px 0 18px 18px; 
	-moz-border-radius:18px 0 18px 18px; 
	-khtml-border-radius:18px 0 18px 18px;
	box-shadow:0px 2px 0px 4px #0017ff;
	-moz-box-shadow:0px 2px 0px 4px #0017ff;
    -webkit-box-shadow:0px 2px 0px 4px #0017ff;	
	border: 6px #00ff80 grouve;	
}

div.thxonzcez{
	background-color:#0044ff;
	border-radius:18px 0 18px 18px; 
	-webkit-border-radius:18px 0 18px 18px; 
	-moz-border-radius:18px 0 18px 18px; 
	-khtml-border-radius:18px 0 18px 18px;
	box-shadow:0px 2px 0px 4px #0088ff;
	-moz-box-shadow:0px 2px 0px 4px #0088ff;
    -webkit-box-shadow:0px 2px 0px 4px #0088ff;
	border: 6px #15ff00 grouve;	
}

div.wsxwvgll{
	background-color:#ff5b00;
	border-radius:18px 0 18px 18px; 
	-webkit-border-radius:18px 0 18px 18px; 
	-moz-border-radius:18px 0 18px 18px; 
	-khtml-border-radius:18px 0 18px 18px;
	box-shadow:0px 2px 0px 4px #ff2000;
	-moz-box-shadow:0px 2px 0px 4px #ff2000;
    -webkit-box-shadow:0px 2px 0px 4px #ff2000;	
	border: 6px #ff9700 grouve;	
}

div.kiwhfudhjong{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.vxeiiqlwhndc{
	margin:15px;
	padding:10px;
}


table.wqbwszjpfp td{
	vertical-align:top;
}


div.nglxnfaw{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.xhmbrrzmjfw{
	margin-bottom:15px;
	font-size:80%;
}


img.ijgjkasswtke{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.mwkhqfqggbq{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.ulooezdb{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.uqlzltbubrrj{
	margin:7px;
	border-radius:18px 0 18px 18px; 
	-webkit-border-radius:18px 0 18px 18px; 
	-moz-border-radius:18px 0 18px 18px; 
	-khtml-border-radius:18px 0 18px 18px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.dsezjzdw{
	padding:10px;
	margin-bottom:30px;
}


div.wthmdami{
	clear:both;
}


div.jsuwtoqns{
	margin-bottom:10px;
}


div.wouneqbcu{
	margin:15px;
	text-align:center;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.awdxtnnc{
	margin-bottom:15px;
}


div.cwgkapmhcsjj{
	margin:auto;
	width:420px;
}

div.ravrlakjmmh{
	text-align:center;	
}

div.uzfsupkpmx{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.oibzliqhpws{
	text-align:center;
}


td.waxapegkphk{
	vertical-align:top;
}

div.hwltlzwrlw{
	width:950px;
	padding:20px;
}

div.oduhcvwu{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.kldoeskkas{
	text-align:left;
}