h1{
	font-size:125%;
}
div.vfwszsjjq{
	font-weight:bold;
}
a.kjzfchtmxfe{
	font-size:140%;
}

div.wouneqbcu a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:14px;	
	font-family:Georgia;
}

a{
	color:#000000;	
}

span.tswdcwhuz h1{
	color:#ffffff;
}

div.oduhcvwu{
	color:#ffffff;
}

div.ravrlakjmmh{
	color:#ffffff;
}

div.ravrlakjmmh a{
	color:#ffffff;
}

a.xovibhpelk{
	text-decoration:none;
	font-size:115%;
}

li.chrirhmsasq a{
	text-decoration:none;	
}

li.chrirhmsasq{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.sfmkvaxdaxgo{		
	list-style-type:circle;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.bhsielzem{
	font-size:125%;
}


div.zprfixvunm{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.zprfixvunm a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.wxxsxjadlfj{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.wxxsxjadlfj a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.thxonzcez{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.thxonzcez a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.wsxwvgll{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.wsxwvgll a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.uqlzltbubrrj{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.uqlzltbubrrj a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.klsvkfchzb{
	font-size:75%;	
}

div.kldoeskkas{	
	font-size:75%;		
}