@import url('typography.css');

body{
	background-color:#bbbbbb;
}

div.spraitaxk{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.abfqrekokh{

}

span.dezmqmkgw{
	display: inline-block;
	padding:5px;
	background: #E4EEF5;
	border: 1px solid #E9E9E9;
	border-radius:0 0 28px 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.bikbdxwue{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.dezmqmkgw:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.dezmqmkgw a:hover{
	box-shadow: 0 0 10px #555;
}


div.qxhapjblbsp{
	text-align:center;
	padding:10px;
}

div.xvmfmgump{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.dupiqjikwwep h1{
	margin:0px;
}

div.sxwijwxhfcki{
	text-align:left;
}

div.swoqplpeelns{	
	margin-bottom:30px;	
}

span.wxabfvgq{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.wxabfvgq{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.wefzizqvoj{
	text-align:center;
}

img{
	border-radius:0 0 28px 0;
	-webkit-border-radius:0 0 28px 0; 
	-moz-border-radius:0 0 28px 0; 
	-khtml-border-radius:0 0 28px 0;
}

div.msqzwkkcl{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.wlghzjresst{
	background-color:#ff00aa;
	border-radius:0 0 28px 0;
	-webkit-border-radius:0 0 28px 0;
	-moz-border-radius:0 0 28px 0;
	-khtml-border-radius:0 0 28px 0;
	box-shadow:4px 0px 1px 1px #9900ff;
	-moz-box-shadow:4px 0px 1px 1px #9900ff;
    -webkit-box-shadow:4px 0px 1px 1px #9900ff;
	border: 0px #ff1300 grouve;
	padding:10px;	
}

span.wlghzjresst{
	background-color:#cccccc;
	border-radius:0 0 28px 0;
	-webkit-border-radius:0 0 28px 0;
	-moz-border-radius:0 0 28px 0;
	-khtml-border-radius:0 0 28px 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.vvxtqodeugwg{
	background-color:#ff0039;
	border-radius:0 0 28px 0; 
	-webkit-border-radius:0 0 28px 0; 
	-moz-border-radius:0 0 28px 0; 
	-khtml-border-radius:0 0 28px 0;
	box-shadow:4px 0px 1px 1px #ee00ff;
	-moz-box-shadow:4px 0px 1px 1px #ee00ff;
    -webkit-box-shadow:4px 0px 1px 1px #ee00ff;	
	border: 0px #ff3e00 grouve;	
}

div.tdpnkijabm{
	background-color:#ff1500;
	border-radius:0 0 28px 0; 
	-webkit-border-radius:0 0 28px 0; 
	-moz-border-radius:0 0 28px 0; 
	-khtml-border-radius:0 0 28px 0;
	box-shadow:4px 0px 1px 1px #9900ff;
	-moz-box-shadow:4px 0px 1px 1px #9900ff;
    -webkit-box-shadow:4px 0px 1px 1px #9900ff;
	border: 0px #000000 grouve;	
}

div.uabxaezj{
	background-color:#2aff00;
	border-radius:0 0 28px 0; 
	-webkit-border-radius:0 0 28px 0; 
	-moz-border-radius:0 0 28px 0; 
	-khtml-border-radius:0 0 28px 0;
	box-shadow:4px 0px 1px 1px #00fff7;
	-moz-box-shadow:4px 0px 1px 1px #00fff7;
    -webkit-box-shadow:4px 0px 1px 1px #00fff7;	
	border: 0px #d0ff00 grouve;	
}

div.vtoewidap{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.dgxhemcc{
	margin:15px;
	padding:10px;
}


table.aapgmbgzf td{
	vertical-align:top;
}


div.bcvfltoojmei{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.kwlhdjest{
	margin-bottom:15px;
	font-size:80%;
}


img.kpubljlgfagc{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.zivphfeljbji{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.lcpgmodl{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.ngiheuvthcl{
	margin:7px;
	border-radius:0 0 28px 0; 
	-webkit-border-radius:0 0 28px 0; 
	-moz-border-radius:0 0 28px 0; 
	-khtml-border-radius:0 0 28px 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.aacicxhct{
	padding:10px;
	margin-bottom:30px;
}


div.zerkppegfa{
	clear:both;
}


div.kenatoqiptoa{
	margin-bottom:10px;
}


div.dupiqjikwwep{
	margin:15px;
	text-align:right;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.uuwtbmzgpfep{
	margin-bottom:15px;
}


div.cqtvrbwxcrbd{
	margin:auto;
	width:420px;
}

div.gmwgwzirmzth{
	text-align:center;	
}

div.gdrneazz{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.isdwnbgupo{
	text-align:center;
}


td.sahsotxa{
	vertical-align:top;
}

div.hlcqnntdaf{
	width:950px;
	padding:20px;
}

div.vrdcdzkr{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.wosjzsjmbmko{
	text-align:right;
}