h1{
	font-size:125%;
}
div.wzkuswlxvhl{
	font-weight:bold;
}
a.wxuiczidwgju{
	font-size:140%;
}

div.dupiqjikwwep a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:16px;	
	font-family:Palatino Linotype;
}

a{
	color:#000000;	
}

span.xtgmrxzwto h1{
	color:#000000;
}

div.vrdcdzkr{
	color:#000000;
}

div.gmwgwzirmzth{
	color:#000000;
}

div.gmwgwzirmzth a{
	color:#000000;
}

a.hwdqvglacpvo{
	text-decoration:none;
	font-size:115%;
}

li.edfsrtms a{
	text-decoration:none;	
}

li.edfsrtms{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.lhvupddjb{		
	list-style-type:disc;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.fsehfcuaqfgr{
	font-size:125%;
}


div.wlghzjresst{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.wlghzjresst a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.vvxtqodeugwg{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.vvxtqodeugwg a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.tdpnkijabm{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.tdpnkijabm a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.uabxaezj{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.uabxaezj a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.ngiheuvthcl{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.ngiheuvthcl a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.gjevzmbhpmf{
	font-size:75%;	
}

div.wosjzsjmbmko{	
	font-size:75%;		
}