@import url('typography.css');

body{
	background-color:#dddddd;
}

div.ihxlwqrz{
	width:1255px;
	margin:auto;	
	margin-top:-35px;
}

span.odwqxeruajlo{

}

span.ovsliwlwohl{
	display: inline-block;
	padding:4px;
	background: #EDEDED;
	border: 1px solid #E9E9E9;
	border-radius:14px 0 0 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.ubzgwutfmp{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.ovsliwlwohl:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.ovsliwlwohl a:hover{
	box-shadow: 0 0 10px #555;
}


div.jkbiaegcbtvz{
	text-align:center;
	padding:10px;
}

div.pvecswlhnbw{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.bwlgsrdem h1{
	margin:0px;
}

div.tkwlntuecntc{
	text-align:left;
}

div.ptvhjekupama{	
	margin-bottom:30px;	
}

span.udfklwbdlzu{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.udfklwbdlzu{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.sxdquthnqda{
	text-align:center;
}

img{
	border-radius:14px 0 0 0;
	-webkit-border-radius:14px 0 0 0; 
	-moz-border-radius:14px 0 0 0; 
	-khtml-border-radius:14px 0 0 0;
}

div.renixkmluzd{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.hlfhwwwfnaac{
	background-color:#00ff3c;
	border-radius:14px 0 0 0;
	-webkit-border-radius:14px 0 0 0;
	-moz-border-radius:14px 0 0 0;
	-khtml-border-radius:14px 0 0 0;
	box-shadow:1px 4px 3px 1px #00a4ff;
	-moz-box-shadow:1px 4px 3px 1px #00a4ff;
    -webkit-box-shadow:1px 4px 3px 1px #00a4ff;
	border: 5px #88ff00 ridge;
	padding:10px;	
}

span.hlfhwwwfnaac{
	background-color:#cccccc;
	border-radius:14px 0 0 0;
	-webkit-border-radius:14px 0 0 0;
	-moz-border-radius:14px 0 0 0;
	-khtml-border-radius:14px 0 0 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.urukvqpbhcl{
	background-color:#00ffe6;
	border-radius:14px 0 0 0; 
	-webkit-border-radius:14px 0 0 0; 
	-moz-border-radius:14px 0 0 0; 
	-khtml-border-radius:14px 0 0 0;
	box-shadow:1px 4px 3px 1px #0033ff;
	-moz-box-shadow:1px 4px 3px 1px #0033ff;
    -webkit-box-shadow:1px 4px 3px 1px #0033ff;	
	border: 5px #33ff00 ridge;	
}

div.supqewwzigu{
	background-color:#009fff;
	border-radius:14px 0 0 0; 
	-webkit-border-radius:14px 0 0 0; 
	-moz-border-radius:14px 0 0 0; 
	-khtml-border-radius:14px 0 0 0;
	box-shadow:1px 4px 3px 1px #00a4ff;
	-moz-box-shadow:1px 4px 3px 1px #00a4ff;
    -webkit-box-shadow:1px 4px 3px 1px #00a4ff;
	border: 5px #88ff00 ridge;	
}

div.gzafmuwn{
	background-color:#ff3900;
	border-radius:14px 0 0 0; 
	-webkit-border-radius:14px 0 0 0; 
	-moz-border-radius:14px 0 0 0; 
	-khtml-border-radius:14px 0 0 0;
	box-shadow:1px 4px 3px 1px #ff0044;
	-moz-box-shadow:1px 4px 3px 1px #ff0044;
    -webkit-box-shadow:1px 4px 3px 1px #ff0044;	
	border: 5px #ff8c00 ridge;	
}

div.wkbxcuiu{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.xgjzdjuqgo{
	margin:15px;
	padding:10px;
}


table.erkxwetile td{
	vertical-align:top;
}


div.zblojmjl{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.xutkbawteza{
	margin-bottom:15px;
	font-size:80%;
}


img.zxlzrsfow{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.scbvzeshlxd{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.cvailcqb{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.gqokkirme{
	margin:7px;
	border-radius:14px 0 0 0; 
	-webkit-border-radius:14px 0 0 0; 
	-moz-border-radius:14px 0 0 0; 
	-khtml-border-radius:14px 0 0 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.sdqxpgkvq{
	padding:10px;
	margin-bottom:30px;
}


div.nfqjqwzuu{
	clear:both;
}


div.npqfoffvwrep{
	margin-bottom:10px;
}


div.bwlgsrdem{
	margin:15px;
	text-align:right;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.kortkwui{
	margin-bottom:15px;
}


div.neqmuoaa{
	margin:auto;
	width:420px;
}

div.dirkpxxkgqsn{
	text-align:center;	
}

div.uovhgkxqjsw{
	text-align:right;
	font-weight:bold;
	font-size:125%;
}

div.zlidkcie{
	text-align:center;
}


td.qnxrmwnrrg{
	vertical-align:top;
}

div.xpmueigkvfq{
	width:950px;
	padding:20px;
}

div.sigpfceddla{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.uwxrcmiq{
	text-align:left;
}