h1{
	font-size:125%;
}
div.nmelcwzqp{
	font-weight:bold;
}
a.ivboxjwkwbe{
	font-size:140%;
}

div.bwlgsrdem a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:15px;	
	font-family:Book Antiqua;
}

a{
	color:#000000;	
}

span.dhgfsxdvkfix h1{
	color:#000000;
}

div.sigpfceddla{
	color:#000000;
}

div.dirkpxxkgqsn{
	color:#000000;
}

div.dirkpxxkgqsn a{
	color:#000000;
}

a.bsamvwguir{
	text-decoration:none;
	font-size:115%;
}

li.cxrzqkteb a{
	text-decoration:none;	
}

li.cxrzqkteb{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.lwqcsrbl{		
	list-style-type:circle;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.rocglvkzcdee{
	font-size:125%;
}


div.hlfhwwwfnaac{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.hlfhwwwfnaac a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.urukvqpbhcl{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.urukvqpbhcl a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.supqewwzigu{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.supqewwzigu a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.gzafmuwn{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.gzafmuwn a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.gqokkirme{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.gqokkirme a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.evgwecfvv{
	font-size:75%;	
}

div.uwxrcmiq{	
	font-size:75%;		
}