@import url('typography.css');

body{
	background-color:#666666;
}

div.ipojhpwiacnp{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.onjvwmjatnvl{

}

span.gmjwsmqtnqqw{
	display: inline-block;
	padding:7px;
	background: #F1FCF1;
	border: 1px solid #E9E9E9;
	border-radius:21px 21px 0 21px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.befcoqhniub{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.gmjwsmqtnqqw:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.gmjwsmqtnqqw a:hover{
	box-shadow: 0 0 10px #555;
}


div.bbzqagaaxsq{
	text-align:center;
	padding:10px;
}

div.xivwtjabssga{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.rwweebfqmb h1{
	margin:0px;
}

div.cmzdemfl{
	text-align:left;
}

div.jtpulbsf{	
	margin-bottom:30px;	
}

span.djedlqxxxc{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.djedlqxxxc{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.gbwabuqj{
	text-align:center;
}

img{
	border-radius:21px 21px 0 21px;
	-webkit-border-radius:21px 21px 0 21px; 
	-moz-border-radius:21px 21px 0 21px; 
	-khtml-border-radius:21px 21px 0 21px;
}

div.qjiuosrxzto{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.xbtwvtmarklk{
	background-color:#a6ff00;
	border-radius:21px 21px 0 21px;
	-webkit-border-radius:21px 21px 0 21px;
	-moz-border-radius:21px 21px 0 21px;
	-khtml-border-radius:21px 21px 0 21px;
	box-shadow:5px 2px 3px 4px #4cff00;
	-moz-box-shadow:5px 2px 3px 4px #4cff00;
    -webkit-box-shadow:5px 2px 3px 4px #4cff00;
	border: 4px #ffff00 ridge;
	padding:10px;	
}

span.xbtwvtmarklk{
	background-color:#cccccc;
	border-radius:21px 21px 0 21px;
	-webkit-border-radius:21px 21px 0 21px;
	-moz-border-radius:21px 21px 0 21px;
	-khtml-border-radius:21px 21px 0 21px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.dvannkczrjpf{
	background-color:#51ff00;
	border-radius:21px 21px 0 21px; 
	-webkit-border-radius:21px 21px 0 21px; 
	-moz-border-radius:21px 21px 0 21px; 
	-khtml-border-radius:21px 21px 0 21px;
	box-shadow:5px 2px 3px 4px #00ff11;
	-moz-box-shadow:5px 2px 3px 4px #00ff11;
    -webkit-box-shadow:5px 2px 3px 4px #00ff11;	
	border: 4px #aaff00 ridge;	
}

div.ltudvmod{
	background-color:#00ff09;
	border-radius:21px 21px 0 21px; 
	-webkit-border-radius:21px 21px 0 21px; 
	-moz-border-radius:21px 21px 0 21px; 
	-khtml-border-radius:21px 21px 0 21px;
	box-shadow:5px 2px 3px 4px #4cff00;
	-moz-box-shadow:5px 2px 3px 4px #4cff00;
    -webkit-box-shadow:5px 2px 3px 4px #4cff00;
	border: 4px #ffff00 ridge;	
}

div.dbgwmhbqw{
	background-color:#ff006c;
	border-radius:21px 21px 0 21px; 
	-webkit-border-radius:21px 21px 0 21px; 
	-moz-border-radius:21px 21px 0 21px; 
	-khtml-border-radius:21px 21px 0 21px;
	box-shadow:5px 2px 3px 4px #ff00e3;
	-moz-box-shadow:5px 2px 3px 4px #ff00e3;
    -webkit-box-shadow:5px 2px 3px 4px #ff00e3;	
	border: 4px #ff0400 ridge;	
}

div.snicuizejgt{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.bbzlxwncops{
	margin:15px;
	padding:10px;
}


table.chjtcswfs td{
	vertical-align:top;
}


div.boldgflb{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.fhppzbwxm{
	margin-bottom:15px;
	font-size:80%;
}


img.vqfjnpdnr{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.sandxluw{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.wsgnwzok{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.vrtpwwczpf{
	margin:7px;
	border-radius:21px 21px 0 21px; 
	-webkit-border-radius:21px 21px 0 21px; 
	-moz-border-radius:21px 21px 0 21px; 
	-khtml-border-radius:21px 21px 0 21px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.imubtvpcv{
	padding:10px;
	margin-bottom:30px;
}


div.wzrfnswgx{
	clear:both;
}


div.movxewqwzof{
	margin-bottom:10px;
}


div.rwweebfqmb{
	margin:15px;
	text-align:center;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.mfvhvakept{
	margin-bottom:15px;
}


div.rwqftfjqv{
	margin:auto;
	width:420px;
}

div.eiwcusmikom{
	text-align:center;	
}

div.ugjhbqds{
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

div.agkxgrwk{
	text-align:center;
}


td.wkrgvlndzcd{
	vertical-align:top;
}

div.iwfajdafz{
	width:950px;
	padding:20px;
}

div.fdsibrmbh{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.ulbnpddz{
	text-align:right;
}