h1{
	font-size:125%;
}
div.fskcgoffj{
	font-weight:bold;
}
a.drdgqaqcmenb{
	font-size:140%;
}

div.rwweebfqmb a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:15px;	
	font-family:Arial Narrow;
}

a{
	color:#000000;	
}

span.pwidgfqd h1{
	color:#ffffff;
}

div.fdsibrmbh{
	color:#ffffff;
}

div.eiwcusmikom{
	color:#ffffff;
}

div.eiwcusmikom a{
	color:#ffffff;
}

a.sfxsxtswwnm{
	text-decoration:none;
	font-size:115%;
}

li.jenfiarsj a{
	text-decoration:none;	
}

li.jenfiarsj{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.ggqletrzsto{		
	list-style-type:square;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.tewvqnxbet{
	font-size:125%;
}


div.xbtwvtmarklk{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.xbtwvtmarklk a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.dvannkczrjpf{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.dvannkczrjpf a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.ltudvmod{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.ltudvmod a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.dbgwmhbqw{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.dbgwmhbqw a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.vrtpwwczpf{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.vrtpwwczpf a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.zthkufdp{
	font-size:75%;	
}

div.ulbnpddz{	
	font-size:75%;		
}