@import url('typography.css');

body{
	background-color:#cccccc;
}

div.vwksbscb{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.rzfpowtxs{

}

span.vjzqarsuja{
	display: inline-block;
	padding:3px;
	background: #EDEDED;
	border: 1px solid #E9E9E9;
	border-radius:0 13px 0 13px;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.wnfkookppch{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.vjzqarsuja:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.vjzqarsuja a:hover{
	box-shadow: 0 0 10px #555;
}


div.oeegkkswox{
	text-align:center;
	padding:10px;
}

div.nbgehina{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.ijljovpv h1{
	margin:0px;
}

div.ngwbnpitkjpn{
	text-align:center;
}

div.uljwohsbx{	
	margin-bottom:30px;	
}

span.poorllslfhcn{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.poorllslfhcn{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.fxuwuwpid{
	text-align:center;
}

img{
	border-radius:0 13px 0 13px;
	-webkit-border-radius:0 13px 0 13px; 
	-moz-border-radius:0 13px 0 13px; 
	-khtml-border-radius:0 13px 0 13px;
}

div.tnvvqazrb{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.dnjflrkiluo{
	background-color:#fff400;
	border-radius:0 13px 0 13px;
	-webkit-border-radius:0 13px 0 13px;
	-moz-border-radius:0 13px 0 13px;
	-khtml-border-radius:0 13px 0 13px;
	box-shadow:0px 1px 4px 6px #ffd500;
	-moz-box-shadow:0px 1px 4px 6px #ffd500;
    -webkit-box-shadow:0px 1px 4px 6px #ffd500;
	border: 1px #d4ff00 solid;
	padding:10px;	
}

span.dnjflrkiluo{
	background-color:#cccccc;
	border-radius:0 13px 0 13px;
	-webkit-border-radius:0 13px 0 13px;
	-moz-border-radius:0 13px 0 13px;
	-khtml-border-radius:0 13px 0 13px;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.hcqaojzaisl{
	background-color:#bfff00;
	border-radius:0 13px 0 13px; 
	-webkit-border-radius:0 13px 0 13px; 
	-moz-border-radius:0 13px 0 13px; 
	-khtml-border-radius:0 13px 0 13px;
	box-shadow:0px 1px 4px 6px #7fff00;
	-moz-box-shadow:0px 1px 4px 6px #7fff00;
    -webkit-box-shadow:0px 1px 4px 6px #7fff00;	
	border: 1px #ffff00 solid;	
}

div.ezieghouck{
	background-color:#6aff00;
	border-radius:0 13px 0 13px; 
	-webkit-border-radius:0 13px 0 13px; 
	-moz-border-radius:0 13px 0 13px; 
	-khtml-border-radius:0 13px 0 13px;
	box-shadow:0px 1px 4px 6px #d4ff00;
	-moz-box-shadow:0px 1px 4px 6px #d4ff00;
    -webkit-box-shadow:0px 1px 4px 6px #d4ff00;
	border: 1px #ffd500 solid;	
}

div.vunuiajzst{
	background-color:#ff00ff;
	border-radius:0 13px 0 13px; 
	-webkit-border-radius:0 13px 0 13px; 
	-moz-border-radius:0 13px 0 13px; 
	-khtml-border-radius:0 13px 0 13px;
	box-shadow:0px 1px 4px 6px #bf00ff;
	-moz-box-shadow:0px 1px 4px 6px #bf00ff;
    -webkit-box-shadow:0px 1px 4px 6px #bf00ff;	
	border: 1px #ff00aa solid;	
}

div.vzsqspwa{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.nxzlfxulrk{
	margin:15px;
	padding:10px;
}


table.wiofnexv td{
	vertical-align:top;
}


div.rpckvfvwbve{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.iawxdxdslcsr{
	margin-bottom:15px;
	font-size:80%;
}


img.rvqwfdxovxj{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.cwjjdfsamq{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.xikjcefwzeh{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.owilgkps{
	margin:7px;
	border-radius:0 13px 0 13px; 
	-webkit-border-radius:0 13px 0 13px; 
	-moz-border-radius:0 13px 0 13px; 
	-khtml-border-radius:0 13px 0 13px;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.jugoucwo{
	padding:10px;
	margin-bottom:30px;
}


div.hzpcnjpqo{
	clear:both;
}


div.caqzaxkjwj{
	margin-bottom:10px;
}


div.ijljovpv{
	margin:15px;
	text-align:center;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.kozpmqww{
	margin-bottom:15px;
}


div.zpuodgnual{
	margin:auto;
	width:420px;
}

div.jchwfkijqisp{
	text-align:center;	
}

div.xzgcohnjhe{
	text-align:left;
	font-weight:bold;
	font-size:125%;
}

div.onukohqx{
	text-align:center;
}


td.zxwvqdfhslx{
	vertical-align:top;
}

div.dkuckcbqmelx{
	width:950px;
	padding:20px;
}

div.rdrlfxjtxxvt{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.xixncufdf{
	text-align:left;
}