h1{
	font-size:125%;
}
div.chminnppzw{
	font-weight:bold;
}
a.fletljgtetv{
	font-size:140%;
}

div.ijljovpv a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:16px;	
	font-family:Palatino Linotype;
}

a{
	color:#000000;	
}

span.tazezehngq h1{
	color:#000000;
}

div.rdrlfxjtxxvt{
	color:#000000;
}

div.jchwfkijqisp{
	color:#000000;
}

div.jchwfkijqisp a{
	color:#000000;
}

a.tjlgpsaphcjm{
	text-decoration:none;
	font-size:115%;
}

li.xxamxqtwnz a{
	text-decoration:none;	
}

li.xxamxqtwnz{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.coaurjcuxugj{		
	list-style-type:disc;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.ewqqjdecsh{
	font-size:125%;
}


div.dnjflrkiluo{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.dnjflrkiluo a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.hcqaojzaisl{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.hcqaojzaisl a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.ezieghouck{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.ezieghouck a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.vunuiajzst{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.vunuiajzst a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.owilgkps{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.owilgkps a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.bajbgrwa{
	font-size:75%;	
}

div.xixncufdf{	
	font-size:75%;		
}