@import url('typography.css');

body{
	background-color:#333333;
}

div.ptoavuuwt{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.mzgpfepw{

}

span.qtvrbwxc{
	display: inline-block;
	padding:5px;
	background: #E7F8E7;
	border: 1px solid #E9E9E9;
	border-radius:27px 0 27px 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.bdxgmwgwzir{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.qtvrbwxc:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.qtvrbwxc a:hover{
	box-shadow: 0 0 10px #555;
}


div.zthcgdrnea{
	text-align:center;
	padding:10px;
}

div.zpisdwnbgupo{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.sahsotxa h1{
	margin:0px;
}

div.hlcqnntdaf{
	text-align:right;
}

div.vrdcdzkr{	
	margin-bottom:30px;	
}

span.wosjzsjmbmko{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.wosjzsjmbmko{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.wzkuswlxvhl{
	text-align:center;
}

img{
	border-radius:27px 0 27px 0;
	-webkit-border-radius:27px 0 27px 0; 
	-moz-border-radius:27px 0 27px 0; 
	-khtml-border-radius:27px 0 27px 0;
}

div.wxuiczidwgju{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.xtgmrxzwto{
	background-color:#ff1300;
	border-radius:27px 0 27px 0;
	-webkit-border-radius:27px 0 27px 0;
	-moz-border-radius:27px 0 27px 0;
	-khtml-border-radius:27px 0 27px 0;
	box-shadow:1px 0px 5px 4px #ff00a4;
	-moz-box-shadow:1px 0px 5px 4px #ff00a4;
    -webkit-box-shadow:1px 0px 5px 4px #ff00a4;
	border: 6px #ff6400 dotted;
	padding:10px;	
}

span.xtgmrxzwto{
	background-color:#cccccc;
	border-radius:27px 0 27px 0;
	-webkit-border-radius:27px 0 27px 0;
	-moz-border-radius:27px 0 27px 0;
	-khtml-border-radius:27px 0 27px 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.hwdqvglacpvo{
	background-color:#ff3e00;
	border-radius:27px 0 27px 0; 
	-webkit-border-radius:27px 0 27px 0; 
	-moz-border-radius:27px 0 27px 0; 
	-khtml-border-radius:27px 0 27px 0;
	box-shadow:1px 0px 5px 4px #ff0033;
	-moz-box-shadow:1px 0px 5px 4px #ff0033;
    -webkit-box-shadow:1px 0px 5px 4px #ff0033;	
	border: 6px #ff8e00 dotted;	
}

div.edfsrtms{
	background-color:#ff6800;
	border-radius:27px 0 27px 0; 
	-webkit-border-radius:27px 0 27px 0; 
	-moz-border-radius:27px 0 27px 0; 
	-khtml-border-radius:27px 0 27px 0;
	box-shadow:1px 0px 5px 4px #ff00a4;
	-moz-box-shadow:1px 0px 5px 4px #ff00a4;
    -webkit-box-shadow:1px 0px 5px 4px #ff00a4;
	border: 6px #ff6400 dotted;	
}

div.lhvupddjb{
	background-color:#00fff7;
	border-radius:27px 0 27px 0; 
	-webkit-border-radius:27px 0 27px 0; 
	-moz-border-radius:27px 0 27px 0; 
	-khtml-border-radius:27px 0 27px 0;
	box-shadow:1px 0px 5px 4px #002dff;
	-moz-box-shadow:1px 0px 5px 4px #002dff;
    -webkit-box-shadow:1px 0px 5px 4px #002dff;	
	border: 6px #26ff00 dotted;	
}

div.fsehfcuaqfgr{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.gjevzmbhpmf{
	margin:15px;
	padding:10px;
}


table.vseuwzwolq td{
	vertical-align:top;
}


div.wunxoqaqmew{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.jdqmftxa{
	margin-bottom:15px;
	font-size:80%;
}


img.secuggqgble{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
	border:none;
}

img.kqqwzems{
	/*border:1px #000 solid;*/	
	float:right;
	margin:7px;
}

img.xtgedvnussdm{
	/*border:1px #000 solid;*/
	float:left;
	margin:7px;
}


img.wfmwhioq{
	margin:7px;
	border-radius:27px 0 27px 0; 
	-webkit-border-radius:27px 0 27px 0; 
	-moz-border-radius:27px 0 27px 0; 
	-khtml-border-radius:27px 0 27px 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.owdgnesfhr{
	padding:10px;
	margin-bottom:30px;
}


div.imczafrxg{
	clear:both;
}


div.cgnzpxvtxfol{
	margin-bottom:10px;
}


div.sahsotxa{
	margin:15px;
	text-align:right;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.ztogqvggw{
	margin-bottom:15px;
}


div.dxgcgllrfqv{
	margin:auto;
	width:420px;
}

div.dphfpddo{
	text-align:center;	
}

div.lgczfxhprac{
	text-align:right;
	font-weight:bold;
	font-size:125%;
}

div.pwarcjzv{
	text-align:center;
}


td.vmrmbmug{
	vertical-align:top;
}

div.lhnviuaoqi{
	width:950px;
	padding:20px;
}

div.mindwvmqreuh{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.uoffqjfd{
	text-align:left;
}