h1{
	font-size:125%;
}
div.hmvmwtpwk{
	font-weight:bold;
}
a.hkhognrb{
	font-size:140%;
}

div.sahsotxa a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:16px;	
	font-family:Lucida Console;
}

a{
	color:#000000;	
}

span.fekwwvwsr h1{
	color:#ffffff;
}

div.mindwvmqreuh{
	color:#ffffff;
}

div.dphfpddo{
	color:#ffffff;
}

div.dphfpddo a{
	color:#ffffff;
}

a.cfvriflmi{
	text-decoration:none;
	font-size:115%;
}

li.zwgmjkva a{
	text-decoration:none;	
}

li.zwgmjkva{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.gikdxlzz{		
	list-style-type:disc;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.jqoqvrikbw{
	font-size:125%;
}


div.xtgmrxzwto{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.xtgmrxzwto a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.hwdqvglacpvo{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.hwdqvglacpvo a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.edfsrtms{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.edfsrtms a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.lhvupddjb{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.lhvupddjb a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.wfmwhioq{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.wfmwhioq a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.ktuwsecfw{
	font-size:75%;	
}

div.uoffqjfd{	
	font-size:75%;		
}