@import url('typography.css');

div.hint_text{
	display:none;
	padding:10px;
}
div.hint_title{
	cursor:pointer;
	text-decoration:underline;
}


div.group_functions{
	display:none;
}
div.link_imitate{
	font-weight: bold;
	cursor:pointer;
}
div.group_functions_title{
	font-size:20px;
}
div.group_functions{
	padding-left:20px;
}
span.desc_group{
	font-size:14px;
}


td.admin_header_td{
	text-align:center;
}

div.login_panel{
	width:230px;
	margin:auto;
	border:1px solid #000000;
	padding:7px;
}

div.center{
	text-align:center;
}



th.admin_header_td_header{
	font-weight:bold;
	text-align:center;	
	background-color:#B8E4F1;
	padding:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
}

div.admin_header_div_domain{
	height:370px;
	width:920px;
	overflow:auto;
}

div.admin_header_div_logs_grab{
	width:99%;
	height:99%;
	overflow:auto;
}

div.admin_header_div_domain_statistic{
	height:670px;
	width:920px;
	overflow:auto;
}

div.admin_header_div_domain_wrapper{
	height:400px;
	width:920px;
	overflow:hidden;
	border: 1px #03b0d2 solid;
	background-color:#EDFCFF;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	box-shadow:        3px 3px  4px 1px #0e4d5a;
	-moz-box-shadow:   3px 3px  4px 1px #0e4d5a;
    -webkit-box-shadow: 3px 3px 4px 1px #0e4d5a;
	padding:10px;
}

div.admin_header_div_domain_wrapper_statistic{
	height:700px;
	width:920px;
	overflow:hidden;
	border: 1px #03b0d2 solid;
	background-color:#EDFCFF;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	box-shadow:        3px 3px  4px 1px #0e4d5a;
	-moz-box-shadow:   3px 3px  4px 1px #0e4d5a;
    -webkit-box-shadow: 3px 3px 4px 1px #0e4d5a;
	padding:10px;
}

img.admin_header_img_control{
	border:none;
}

img.admin_header_img_control_panel{
	border:none;
	margin-bottom:-7px;
}

span.admin_header_td_red{
	color:red;
}

div.admin_header_button_panel{
	width:270px;	
	border: 1px #03b0d2 solid;
	background-color:#EDFCFF;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	box-shadow:        3px 3px  4px 1px #0e4d5a;
	-moz-box-shadow:   3px 3px  4px 1px #0e4d5a;
    -webkit-box-shadow: 3px 3px 4px 1px #0e4d5a;
	padding:10px;	
	margin-left:15px;
}

td.admin_header_right_td{
	vertical-align:top;
}

div.admin_header_turadmin{
	margin-top:45px;	
}

div.admin_header_button_wrapper{
	margin-bottom:10px;
	display: block;
    vertical-align: middle;
}

a.admin_header_button{
	font-weight:bold;
	text-shadow: #2e95a9 1px 1px 3px;
}

tr.admin_header_tr_even_green{
	background-color:#8cef84 !important;
}

tr.admin_header_tr_even_red{
	background-color:#feb2b2 !important;
}


span.red{
	color:red;
}

span.green{
	color:green;
}


table.admin_header_table{
	width:850px;
}
table.admin_header_table_logs_grab{
	width:99%;
}

table.admin_header_table td{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
}

table.admin_header_wrapper_table{
	margin-bottom:40px;
}

table.admin_header_wrapper_table td{
	vertical-align:top;
}


div#add_site_panel{
	display:none;
}
div#add_ads_panel{
	display:none;
}
div#add_sites_blanks_panel{
	display:none;
}
div#create_subdomains_panel{
	display:none;
}
div#create_subdomains_isp_panel{
	display:none;
}
div#create_domains_panel{
	display:none;
}
div#create_domains_isp_panel{
	display:none;
}
div#add_mainlink_panel{
	display:none;
}
div#add_sape_panel{
	display:none;
}
div#activate_sape_pages_and_price_panel{
	display:none;
}
div#settings_panel{
	display:none;
}
div#create_domains_cron_panel{
	display:none;
}
div#create_subdomains_cron_panel{
	display:none;
}

div.box_2{
	border: 1px #03b0d2 solid;
	background-color:#EDFCFF;
	border-radius:10px; 
	-webkit-border-radius:10px; 
	-moz-border-radius:10px; 
	-khtml-border-radius:10px;
	box-shadow:        3px 3px  4px 1px #0e4d5a;
	-moz-box-shadow:   3px 3px  4px 1px #0e4d5a;
    -webkit-box-shadow: 3px 3px 4px 1px #0e4d5a;
	text-shadow: #aaa 1px 1px 1px;	
	padding:8px;
}

div.bg_layer {
    position:fixed;
    z-index:15;
	top:0px;
	left:0px;
    width:100%;
    height:100%;
    background:#000;
	opacity:0;
	display:none;
}

div.message_box{
	position:fixed;	
	top:39%;
	left:39%;	
	z-index:20;
	background-color:#EDFCFF;
	width:300px;
	height:130px;
}
div.message_box_big{
	position:fixed;	
	top:10%;
	left:10%;	
	z-index:20;
	background-color:#EDFCFF;
	width:850px;
	height:600px;
	overflow:auto;
}

span.link_imitate{
	font-weight: bold;
	cursor:pointer;
}

textarea.textarea{
	width:450px;
	height:150px;
}

input.input_text{
	width:200px;
}

div.distance{
	height:15px;
}

div.add_site_panel{
	width:625px;
}

div.add_ads_panel{
	width:625px;
}

span.indicator{
	color:green;
	font-weight:bold;
}