@import url('typography.css');

body{
	background-color:#ffffff;
}

div.bublcxetw{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.gdempdwwb{

}

span.vczhwkexsnb{
	display: inline-block;
	padding:5px;
	background: #F3F8FC;
	border: 1px solid #E9E9E9;
	border-radius:13px 0 0 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	right:0px;
}

a.lqklqmpvkhlc{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.vczhwkexsnb:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.vczhwkexsnb a:hover{
	box-shadow: 0 0 10px #555;
}


div.ujsndcqoc{
	text-align:center;
	padding:10px;
}

div.inxcuagm{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.ejdiowjvgg h1{
	margin:0px;
}

div.wvwmelhn{
	text-align:center;
}

div.qzngohjosw{	
	margin-bottom:30px;	
}

span.vhwgbvgnr{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.vhwgbvgnr{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.bzrszzmtii{
	text-align:center;
}

img{
	border-radius:13px 0 0 0;
	-webkit-border-radius:13px 0 0 0; 
	-moz-border-radius:13px 0 0 0; 
	-khtml-border-radius:13px 0 0 0;
}

div.dtjbwnzf{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.imcuktrnmbka{
	background-color:#3bff00;
	border-radius:13px 0 0 0;
	-webkit-border-radius:13px 0 0 0;
	-moz-border-radius:13px 0 0 0;
	-khtml-border-radius:13px 0 0 0;
	box-shadow:0px 2px 0px 2px #00ffbb;
	-moz-box-shadow:0px 2px 0px 2px #00ffbb;
    -webkit-box-shadow:0px 2px 0px 2px #00ffbb;
	border: 0px #d4ff00 dashed;
	padding:10px;	
}

span.imcuktrnmbka{
	background-color:#cccccc;
	border-radius:13px 0 0 0;
	-webkit-border-radius:13px 0 0 0;
	-moz-border-radius:13px 0 0 0;
	-khtml-border-radius:13px 0 0 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.igzxwrlfnrz{
	background-color:#00ff33;
	border-radius:13px 0 0 0; 
	-webkit-border-radius:13px 0 0 0; 
	-moz-border-radius:13px 0 0 0; 
	-khtml-border-radius:13px 0 0 0;
	box-shadow:0px 2px 0px 2px #00bbff;
	-moz-box-shadow:0px 2px 0px 2px #00bbff;
    -webkit-box-shadow:0px 2px 0px 2px #00bbff;	
	border: 0px #7fff00 dashed;	
}

div.pssqatgsb{
	background-color:#00ffdd;
	border-radius:13px 0 0 0; 
	-webkit-border-radius:13px 0 0 0; 
	-moz-border-radius:13px 0 0 0; 
	-khtml-border-radius:13px 0 0 0;
	box-shadow:0px 2px 0px 2px #00ffbb;
	-moz-box-shadow:0px 2px 0px 2px #00ffbb;
    -webkit-box-shadow:0px 2px 0px 2px #00ffbb;
	border: 0px #d4ff00 dashed;	
}

div.rtpeoozzz{
	background-color:#ff0d00;
	border-radius:13px 0 0 0; 
	-webkit-border-radius:13px 0 0 0; 
	-moz-border-radius:13px 0 0 0; 
	-khtml-border-radius:13px 0 0 0;
	box-shadow:0px 2px 0px 2px #ff00aa;
	-moz-box-shadow:0px 2px 0px 2px #ff00aa;
    -webkit-box-shadow:0px 2px 0px 2px #ff00aa;	
	border: 0px #ff5900 dashed;	
}

div.aspsctmab{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.fxfgwqkd{
	margin:15px;
	padding:10px;
}


table.wagxzvnz td{
	vertical-align:top;
}


div.gmiscaqjts{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.rzkvherknekh{
	margin-bottom:15px;
	font-size:80%;
}


img.idnbltti{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.vbbogaxtnseh{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.uonwhhiova{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.wnalwxaw{
	margin:7px;
	border-radius:13px 0 0 0; 
	-webkit-border-radius:13px 0 0 0; 
	-moz-border-radius:13px 0 0 0; 
	-khtml-border-radius:13px 0 0 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.dfkiuidf{
	padding:10px;
	margin-bottom:30px;
}


div.pwqdsgcoxvou{
	clear:both;
}


div.bnxwuwmpjdph{
	margin-bottom:10px;
}


div.ejdiowjvgg{
	margin:15px;
	text-align:right;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.hxqwumwzows{
	margin-bottom:15px;
}


div.dfksmdpna{
	margin:auto;
	width:420px;
}

div.potjbddlfed{
	text-align:center;	
}

div.vzfkaljzpv{
	text-align:right;
	font-weight:bold;
	font-size:125%;
}

div.guzgvfik{
	text-align:center;
}


td.eqmrkizradv{
	vertical-align:top;
}

div.wnosbfblj{
	width:950px;
	padding:20px;
}

div.wraqxxsnqgr{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.cipvsgsm{
	text-align:right;
}