h1{
	font-size:125%;
}
div.oujtkzkpia{
	font-weight:bold;
}
a.nldrkibcudza{
	font-size:140%;
}

div.ejdiowjvgg a{
	text-decoration:none;	
}

body{
	color:#000000;	
	font-size:16px;	
	font-family:Microsoft Sans Serif;
}

a{
	color:#000000;	
}

span.jrthfhewfo h1{
	color:#000000;
}

div.wraqxxsnqgr{
	color:#000000;
}

div.potjbddlfed{
	color:#000000;
}

div.potjbddlfed a{
	color:#000000;
}

a.ultwaonmbpd{
	text-decoration:none;
	font-size:115%;
}

li.vehaujfg a{
	text-decoration:none;	
}

li.vehaujfg{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.uqauosgffggt{		
	list-style-type:square;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.kwidxlmcavcj{
	font-size:125%;
}


div.imcuktrnmbka{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.imcuktrnmbka a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.igzxwrlfnrz{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
}

div.igzxwrlfnrz a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#000000;
	font-weight:900;
}

div.pssqatgsb{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
}

div.pssqatgsb a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

div.rtpeoozzz{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;	
}

div.rtpeoozzz a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

img.wnalwxaw{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.wnalwxaw a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.irziwfplsd{
	font-size:75%;	
}

div.cipvsgsm{	
	font-size:75%;		
}