@import url('typography.css');

body{
	background-color:#cccccc;
}

div.cxtfgblzm{
	width:1255px;
	margin:auto;	
	margin-top:0px;
}

span.qgbbmhxinvih{

}

span.bewerunmzafj{
	display: inline-block;
	padding:3px;
	background: #EEF4FB;
	border: 1px solid #E9E9E9;
	border-radius:22px 22px 0 0;
	box-shadow: 0 0 5px #777;
	opacity: 0.6;
	position:fixed;
	z-index:9999;
	left:0px;
}

a.gmwvgfvjjwc{
	display:block;
	width:24px;
	height:24px;
	margin:0 0 6px;
	padding:0;
	outline:none;
}

span.bewerunmzafj:hover{	
	border: 1px solid #D4D4D4;	
	opacity: 1;
}

span.bewerunmzafj a:hover{
	box-shadow: 0 0 10px #555;
}


div.npiqzqpjq{
	text-align:center;
	padding:10px;
}

div.oguihnik{
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
	margin-bottom:20px;

}

div.wptwpjjki h1{
	margin:0px;
}

div.rcjnsmia{
	text-align:right;
}

div.snmdireamxal{	
	margin-bottom:30px;	
}

span.ahwdfxkjfdi{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
}

div.ahwdfxkjfdi{	
	display: inline-block;
	margin:10px;
	width:250px;
	vertical-align:top;
	text-align:left;
	padding:10px;
}

div.ewraxlwepr{
	text-align:center;
}

img{
	border-radius:22px 22px 0 0;
	-webkit-border-radius:22px 22px 0 0; 
	-moz-border-radius:22px 22px 0 0; 
	-khtml-border-radius:22px 22px 0 0;
}

div.mwwpaebk{
	width:600px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:30px;
}

div.akzusuhrwo{
	background-color:#ff00bb;
	border-radius:22px 22px 0 0;
	-webkit-border-radius:22px 22px 0 0;
	-moz-border-radius:22px 22px 0 0;
	-khtml-border-radius:22px 22px 0 0;
	box-shadow:3px 5px 0px 0px #ee00ff;
	-moz-box-shadow:3px 5px 0px 0px #ee00ff;
    -webkit-box-shadow:3px 5px 0px 0px #ee00ff;
	border: 0px #ff0060 dashed;
	padding:10px;	
}

span.akzusuhrwo{
	background-color:#cccccc;
	border-radius:22px 22px 0 0;
	-webkit-border-radius:22px 22px 0 0;
	-moz-border-radius:22px 22px 0 0;
	-khtml-border-radius:22px 22px 0 0;
	box-shadow:        3px 3px  4px 1px #666;
	-moz-box-shadow:   3px 3px  4px 1px #666;
    -webkit-box-shadow: 3px 3px 4px 1px #666;
	border: 1px #333 solid;
	padding:10px;	
}

div.fxpowjfwangw{
	background-color:#ff004a;
	border-radius:22px 22px 0 0; 
	-webkit-border-radius:22px 22px 0 0; 
	-moz-border-radius:22px 22px 0 0; 
	-khtml-border-radius:22px 22px 0 0;
	box-shadow:3px 5px 0px 0px #ff00a4;
	-moz-box-shadow:3px 5px 0px 0px #ff00a4;
    -webkit-box-shadow:3px 5px 0px 0px #ff00a4;	
	border: 0px #ff0600 dashed;	
}

div.dbawimeowwwv{
	background-color:#ff0f00;
	border-radius:22px 22px 0 0; 
	-webkit-border-radius:22px 22px 0 0; 
	-moz-border-radius:22px 22px 0 0; 
	-khtml-border-radius:22px 22px 0 0;
	box-shadow:3px 5px 0px 0px #ee00ff;
	-moz-box-shadow:3px 5px 0px 0px #ee00ff;
    -webkit-box-shadow:3px 5px 0px 0px #ee00ff;
	border: 0px #ff0060 dashed;	
}

div.bbjnkfin{
	background-color:#37ff00;
	border-radius:22px 22px 0 0; 
	-webkit-border-radius:22px 22px 0 0; 
	-moz-border-radius:22px 22px 0 0; 
	-khtml-border-radius:22px 22px 0 0;
	box-shadow:3px 5px 0px 0px #00ff1a;
	-moz-box-shadow:3px 5px 0px 0px #00ff1a;
    -webkit-box-shadow:3px 5px 0px 0px #00ff1a;	
	border: 0px #7bff00 dashed;	
}

div.hgsjufjfqwe{
	width:330px;
	margin-left:15px;
	margin-right:15px;
}

div.jgjhwarsrf{
	margin:15px;
	padding:10px;
}


table.sslapmvzf td{
	vertical-align:top;
}


div.xxxnvaogdclo{
	margin-bottom:30px;
	width:200px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;	
}


div.hlkwiwizlsfx{
	margin-bottom:15px;
	font-size:80%;
}


img.dpribkwzv{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
	border:none;
}

img.upgstwsq{
	/*border:1px #000 solid;*/	
	float:left;
	margin:7px;
}

img.bawcvnwd{
	/*border:1px #000 solid;*/
	float:right;
	margin:7px;
}


img.cqspcpwnht{
	margin:7px;
	border-radius:22px 22px 0 0; 
	-webkit-border-radius:22px 22px 0 0; 
	-moz-border-radius:22px 22px 0 0; 
	-khtml-border-radius:22px 22px 0 0;
	/*
	box-shadow:        3px 3px  4px 1px #999999;
	-moz-box-shadow:   3px 3px  4px 1px #999999;
    -webkit-box-shadow: 3px 3px 4px 1px #999999;
	*/
}


div.wcpcaiauo{
	padding:10px;
	margin-bottom:30px;
}


div.olswesgnh{
	clear:both;
}


div.iwxxskmoqxa{
	margin-bottom:10px;
}


div.wptwpjjki{
	margin:15px;
	text-align:center;
	font-size:40px;
	font-weight:bold;	
	padding:10px;
	/*border:0px !important;*/
}


div.ttwviuge{
	margin-bottom:15px;
}


div.ijgggirm{
	margin:auto;
	width:420px;
}

div.oocabmscgopx{
	text-align:center;	
}

div.iluexnpi{
	text-align:left;
	font-weight:bold;
	font-size:125%;
}

div.nsblqxkbqosw{
	text-align:center;
}


td.obloewxlgdw{
	vertical-align:top;
}

div.fgjpvhbv{
	width:950px;
	padding:20px;
}

div.qzwwiuqrtm{
	text-align:center;
}

br{
	content:" ";
	display:block;
	margin-bottom:0.7em;
}

div.lzthpjrda{
	text-align:center;
}