h1{
	font-size:125%;
}
div.umzgfnkdozpc{
	font-weight:bold;
}
a.ckdwodrnostm{
	font-size:140%;
}

div.wptwpjjki a{
	text-decoration:underline;	
}

body{
	color:#000000;	
	font-size:14px;	
	font-family:Lucida Sans Unicode;
}

a{
	color:#000000;	
}

span.ktutcsbvdcli h1{
	color:#000000;
}

div.qzwwiuqrtm{
	color:#000000;
}

div.oocabmscgopx{
	color:#000000;
}

div.oocabmscgopx a{
	color:#000000;
}

a.vlackfdeu{
	text-decoration:none;
	font-size:115%;
}

li.hzmwvjknk a{
	text-decoration:none;	
}

li.hzmwvjknk{
	margin-bottom:8px;	
	text-indent:0px;
	padding-left:0px;
	margin-left:0px;
}

ul.ahfpitarvaa{		
	list-style-type:circle;
	padding-left:0px;
	margin-left:15px;
	margin-top:5px;
}

div.kswzpxajjfw{
	font-size:125%;
}


div.akzusuhrwo{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.akzusuhrwo a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.fxpowjfwangw{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
}

div.fxpowjfwangw a{
	/*text-shadow: #999 1px 1px 1px;*/
	color:#ffffff;
	font-weight:900;
}

div.dbawimeowwwv{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
}

div.dbawimeowwwv a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#ffffff;
	font-weight:900;
}

div.bbjnkfin{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;	
}

div.bbjnkfin a{
	/*text-shadow: #999 2px 2px 6px;*/
	color:#000000;
	font-weight:900;
}

img.cqspcpwnht{
	/*text-shadow: #999 1px 1px 3px;*/
	color:#000000;
}

img.cqspcpwnht a{
	/*text-shadow: #999 1px 1px 3px;*/	
	color:#000000;
	font-weight:900;
}

div.dswjxzted{
	font-size:75%;	
}

div.lzthpjrda{	
	font-size:75%;		
}